
body { 

	background: #E5E5E5; 
	color: $color-text; 
	font-family: $font-all;
	margin:0;
	padding: 0;
	font-size: 14px;
	max-width: 1370px;
	margin: 0 auto;
	h1, h2, h3, h4, h5, h6{
    	line-height: 1.4;
    	color: #222;
	} 
	h1, h2, h3, h4, h5, h6,p{
    	margin-bottom: 0;
	}
	h1{
		font-size: 72px;
	}
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 18px;
	}
	@media (max-width: 767px) {
		h1{
			font-size: 66px;
		}
		h2{
			font-size: 28px;
		}
		h3{
			font-size: 20px;
		}
		h4{
			font-size: 18px;
		}
	}
	ul,li{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
	}
	button,input,select,textarea{
		&:focus{
			outline: 0;
		}
	}
	a{	
		color: unset;
		text-decoration: none;
		&:hover,&:active,&:focus{
			text-decoration: none;
			color: unset;

		}
	}

	
}

.compensate-for-scrollbar {
    margin: 0 auto!important;
    overflow: unset!important;
}
.breadcrumb{
	margin-bottom: 0;
}
// back-top-top
.back-to-top {
	position: fixed;
	bottom: -50px;
	right: -50px;
	transition: all .5s ease-out;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	width: 40px;
	height: 40px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px !important;
	-moz-background-clip: padding;
	background-color: #bb0303;
	line-height: 50px;
	text-align: center;
	color: #fff;
	display: inline;
	z-index: 999999;
	cursor: pointer;
	a{
		display: block;
		color:#fff

	}
	&:hover{
		background: #bb0303;
		color: #fff;
	}
	&:hover,&:focus{
		a{
			color: #fff;
		}
	}
	&.display{
		bottom:50px;
		right: 10px;
	}
	&.fa{
		margin-bottom: 0;
	}
}


// MODAL
.modal{
	.modal-header{
		.modal-title{
			font-size: 18px;
			font-weight: 500;
		}
	}
	.modal-body{
		.box-pass {
		    position: relative;
		    span{
		    	position: absolute;
		    	right: 10px;
		    	top: 10px;
		    	cursor: pointer;

		    }
		}
		.box-btn{
			text-align: center;
			button{
				min-width: 200px;
				height: 40px;
				line-height: 40px;
				background: $color-active;
				color: #fff;
				font-weight: 500;
				border-radius: 20px;
				border: 1px solid $read;
				margin-bottom: 5px;
			}
			.forgot{
				font-weight: 500;
				color: #8f8f8f;
				font-size: 13px;
				cursor: pointer;
			}

		}
		.note{
			color: #8f8f8f;
			a{
				color: $color-active;
			}
		}
		.form-group{
			label{
				margin-bottom: 0;
			}
		}
		.box-add-avatar{
			text-align: center;
			position: relative;
			height: 130px;
			width: 130px;
			// border-radius: 50%;
			// overflow: hidden;
			margin:0 auto;
			margin-bottom: 15px;
			.box-img{
				// height: 125px;
				width: 125px;
				border-radius: 50%;
				@include img-prod-resp(130px);
				
			}

			
			.upload-avatar{
				position: absolute;
				bottom:0;
				right: 5px;
				input{
					opacity: 0;
					display: none;
				}
				label{
					font-size: 16px;
				    width: 25px;
				    height: 25px;
				    border-radius: 50%;
				    border: 1px solid gray;
				    color: gray;
				    text-align: center;
				    background: #fff;
				    cursor: pointer;
				}
			}
		}
	}
}
#edit-info{
	.nav-tabs{
		justify-content: center;
		border: none;
		margin-bottom: 20px;

		.nav-link{
			font-size: 16px;
			font-weight: 500;
			border: none;
			&:hover{
				border: none;
				color: $color-active;
			}
			
		}
		.active{
			border: none;
			color: $color-active;
		}
	}
}
	
.clickall{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 8;
}

.owl-dots {
    text-align: center;
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    bottom: 25px;
    /* display: flex; */
    /* justify-content: center; */
    width: 100%;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height:12px;
    margin: 5px 7px;
    box-shadow: 1px 1px 2px 0px black;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ccc;
}

.owl-prev,.owl-next {
    position: absolute;
 	opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px!important;
    background: #ffffff42!important;
    z-index: 2;
    color: $color-active!important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $color-active!important;
}
.owl-prev span,.owl-next span{
	font-size: 29px!important;
    font-weight: bold!important;
    line-height: 1!important;
}
.owl-prev{
	left: 35px;
}
.owl-prev:hover,.owl-next:hover{
	background:#fff!important;
}
.owl-next{
	right: 35px;
}
.owl-dots{
	bottom:5px;
}
@media(max-width: 992px){
	.owl-next{
		right: 0px;
	}
	.owl-prev{
		left: 0px;
	}
}

section{
	padding:20px 0;
	@media(max-width: 767px){
		padding:15px 0!important;
	}
}









// ............................................................................
.box_slide_index{
	padding: 0;
}
.slide_index{
	.item{
		h2{
			font-weight: 600;
			font-size: 15px;
			line-height: 20px;
			text-align: center;
			color: #D80000;
			padding: 13px 0;
		}
		.box_img{
			height: 555px;
		}
	}
	
	&:hover{
		.owl-prev{
			opacity: 1;
		}
		.owl-next{
			opacity: 1;
		}
	}
	@media(max-width: 991px){
		.item{
			.box_img{
				height: auto;
			}
			h2{
				padding: 7px 5px;

			}
		}
		.owl-next{
			display: none;
		}
		.owl-prev{
			display: none;
		}
	}
}

.box_item_news{
	position: relative;
	margin-bottom: 10px;
	.box_img{
		@include img_prod_resp(55%);
	}
	.img_prod_resp{
		h4{
			font-style: normal;
			font-weight: 600;
			font-size: 15px;
			line-height: 20px;
		}
		.desc{
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
		}
		.date_news{
			font-style: normal;
			font-weight: 300;
			font-size: 10px;
			line-height: 14px;
		}
	}
}
.list_new_id{
	.box_img{
		display: none;
		margin-bottom: 10px;
	}
	.desc{
		display: none;
	}
	.date_news{
		i{
			display: none;
		}
	}
	.box_item_news{
		padding-left: 20px;
		&:hover{
			.box_content h4{
				color: #D80000;
				transition: .3s;
			}
		}
	}
	.box_item_news:before{
		content: "";
		left:3px;
		top: 7px;
		width: 7px;
		height: 7px;
		// border-radius: 50%;
		background: $color-active;
		transform: rotate(45deg);
		position: absolute;
		display: inline-block;
	}
	.box_item_news:first-child{
		position: relative;
		padding-left: 0;
		margin-bottom: 15px;
		&:before{
			display: none;
		}
		.box_img{
			display: block;
		}
		.desc{
			display: block;
			@include text_hidden(2);
		}
		.date_news{
			i{
				display: block;
			}
		}
		.box_content{
			h4{
				font-weight: 600;
				font-size: 15px;
				line-height: 20px;
				margin-bottom: 10px;	
			}
		}
	}
	.box_content{
		h4{
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
			color: $color-active;
		}
		.desc{
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
			color: #000000;
			// margin-bottom: 10px;
		}
		.date_news{
			font-style: italic;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: #000000;
			display: flex;
			align-items: center;
			padding-left: 3px;
			i{
				margin-right: 5px;
			}
		}
	}
	@media(max-width: 767px){
	   padding: 0!important;
	}

}
.owl_news_id{
	.owl-dots{
		bottom: -10px;
		right: 0;
		display: inline-block;
		width: unset;
		.owl-dot span {
		    width: 8px;
		    height: 8px;
		    margin: 5px 5px;
		}
	}
	@media(max-width: 991px){
		margin-bottom: 15px;
	}

}

.box_video_news{
	div.item_video_news{
		.box_content{
			h4{
				font-size: 15px;
			}
		}
	}
	.list_videos_id{
		padding: 0 40px;
		.owl-prev{
			opacity: 1;
			left: 0;
			width: 35px;
			height: 35px;
			border:2px solid #C4C4C4!important;
		}
		.owl-next{
			opacity: 1;
			right: 0;
			width: 35px;
			height: 35px;
			border:2px solid #C4C4C4!important;
		}
		.owl-prev span, .owl-next span {
		    font-size: 26px !important;
		    font-weight: bold !important;
		    line-height: 10px !important;
		}
	}
	.item_video_news{
		margin-bottom: 15px;
		.box_img{
			@include img_prod_resp(55%);
			margin-bottom: 10px;
			.box_bar{
				position: absolute;
				bottom: 0;
				left: 0;
				content: "";
				height: 29px;
				width: 100%;
				img{
					width: 100%;
					height: auto;
				}
				@media(max-width: 413px){
					height: 18px;
				}
				@media(min-width: 414px) and (max-width: 500px){
					height: 19px;
				}
				@media(min-width: 501px) and (max-width:767px){
						height: 24px;
				}
				@media(min-width: 768px) and (max-width: 991px){
					height: 37px;
				}
			}
		}
		.box_content{
			h4{
				color: $color-active;
			    font-weight: 600;
			    font-size: 14px;
			    line-height: 20px;
			    margin-bottom: 10px;
			}
			.date_news{
			    font-style: italic;
			    font-weight: normal;
			    font-size: 12px;
			    line-height: 14px;
			    color: #000000;
			    display: flex;
			    align-items: center;
			    i{
			    	margin-right: 5px;
			    }
			}
		}
		&:hover{
			.box_content{
				h4{
					color: #D80000;
					transition: .3s;
				}
			}
		}
	}
}
.box_headding{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 5px 0px;
	border-bottom: 1px solid #0F4C81;
	margin-bottom: 15px;
	width: 100%;
	h2{
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		line-height: 34px;
		text-transform: uppercase;
		color: #0F4C81;
	}
	.menu_hd{
		display: flex;
		align-items: center;
		li{
			line-height: 15px;
			border-right:2px solid #0F4C81;
			&:hover{
				color: #0F4C81;
			}
			a{
				font-size: 16px;
				padding: 0 15px;
			}
			&:last-child{
				border-right:none;
			}
			.icon_down{
				padding: 0;
			}
		}
	}
	.xthem{
		color: #0F4C81;
		font-size: 14px;
		display: none;
	}
	@media(max-width: 991px){
		h2{
			font-size: 16px;
			line-height: 30px;
		}
		.menu_hd{
			display: none;
		}
		.xthem{
			display: block;	
		}
	}
}


section.sec_2{
	.list_nghiencuu{
		.item{
			background: #fff;
			border-radius: 5px;
			position: relative;
			&:before{
				position: absolute;
				width: 100%;
				height: 100%;
				background: #00000075;
				content: "";
				left: 0;
				top: 0;
				z-index: 2;
			}

			.box_img{
				@include img_prod_resp(75%);
				.clickall{
					z-index: 1;
				}
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
			}
			.box_content{
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
				padding: 20px;
				h4{
					position: relative;
					font-size: 15px;
					padding-left: 10px;
					border-left: 5px solid ;
					font-weight: bold;
					margin-bottom: 10px;
					// min-height: 42px;
					@include text_hidden(2);
				}
				.desc{
					margin-bottom: 5px;
					text-align: justify;
					min-height: 84px;
					@include text_hidden(5);
				}
				.date_news{
					font-size: 12px;
				}
			}
		}
		@media(max-width: 767px){
			.item{
				&:before{
					display: none;
				}
			}
		}
		.owl-item.active.center {
			transform: scale(1.135);
			z-index: 1;
			.box_content{
				background: $color-active;
				color: #fff;
				padding: 15px;
				h4{
					color: #fff;
					font-size: 14px;
				}
				.desc{
					font-size: 12px;
					margin-bottom: 5px;
					@include text_hidden(5);

				}
				.date_news{
					font-size: 11px;
				}
			}
			.item{
				&:before{
					background: #00000000;
					z-index: 0;
				}
			}
			@media(max-width: 767px){
				transform: scale(1);

			}
		}
		.owl-item{

		}
		.owl-stage-outer {
    		padding: 70px 0!important;
		}
		.owl-dots{
			bottom:-20px;
		}
		.owl-prev{
			opacity: 1!important;
			bottom:-30px!important;
		}
		.owl-next{
			opacity: 1!important;
			bottom:-30px!important;
		}
	}
	@media(max-width: 991px){
		margin-bottom: 30px;
		.list_nghiencuu{
			.owl-stage-outer {
	    		padding: 0!important;
	    		padding-bottom: 10px!important	;
			}
			.item{
				.box_content{
					padding: 10px;
					h4{
						min-height: 42px;
					}
				}
			}
		}
	}
}
section.sec_3{
	.box_headding{
		h2{
			span{
				font-size: 15px;
				text-transform: initial;
				line-height: 20px;
			}
		}
		.menu_hd{
			i{
				color: #0F4C81;
			}
			@media(max-width: 991px){
				display: block;
			}
		}
	}
	.list_data{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.item_data{
			width: calc(50% - 10px);
			display: flex;
			justify-content: space-between;
			margin-bottom: 65px;
			.box_img{
				@include img_prod_resp(100px);
				width: 80px;
			}
			.info{
				width: calc(100% - 90px);
				h4{
					font-style: normal;
					font-weight: 600;
					font-size: 15px;
					line-height: 20px;
					color: #0F4C81;
				}
				.nganhnghe{
					position: relative;
					padding-left: 15px;
					font-style: italic;
					font-weight: normal;
					font-size: 13px;
					line-height: 18px;
					color: #000000;
					&:before{
						content: "";
						position: absolute;
						left: 0;
						top: 6px;
						height: 6px;
						width: 6px;
						transform: rotate(45deg);
						background: #000;

					}
				}
			}
		}
		@media(max-width: 991px){
			flex-wrap: wrap;
			justify-content: space-between;
			.item_data{
				width: calc(50% - 10px);
				margin-bottom: 30px;
				flex-wrap: wrap;
				.box_img{
					width: 100%;
					padding-top: 120%;
					margin-bottom: 10px;
				}
				.info{
					width: 100%;
				}
			}
		}
	}
}

section.sec_4{
	.box_list_trungbay{

	}
	.item_trungbay{
		position: relative;

		.box_img{
			position: relative;
			@include img_prod_resp(75%);
			border-radius:5px;
			.box_time{
				position: absolute;
				left: 0;
				top: 5%;
				display: flex;
				background: rgba(15, 76, 129, 0.8);
				border-radius: 0px 10px 10px 0px;
				padding: 5px;
				align-items: center;
				p{
					color: #fff;
					margin-bottom: 0;
					&:first-child{
						font-style: normal;
						font-weight: normal;
						font-size: 35px;
						line-height: 54px;
						text-align: justify;
						margin-right: 5px;

					}
					&:last-child{
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 16px;
						text-align: justify;
						span{
							display: inline-block;
						}
					}
				}
			}
		}
		.box_info{
			padding: 10px 0;
			h4{
				font-style: normal;
				font-weight: 600;
				font-size: 15px;
				line-height: 20px;
				text-align: justify;
				margin-bottom: 10px;

				color: #0F4C81;
			}
			p.desc{
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				line-height: 20px;
				text-align: justify;
				color: #000000;
				@include text_hidden(2);
			}
		}
	}
	@media (max-width: 991px){
		.item_trungbay{
			margin-bottom: 20px;
		}
	}
}


// page giới thiệu
section.content_all{
	.title_page{
		width: 100%;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		color: #0F4C81;
		margin-bottom: 15px;
		text-align: center;
	}
	.box_img_logo{
		margin-bottom: 15px;
		text-align: center;
		width: 100%;
	}
	.box_content{
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;

		color: #000000;
		margin-bottom: 25px;
	}
	.title_page_l{
		margin-bottom: 25px;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		line-height: 34px;
		color: #000000;

	}
	.list_quandiem{
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		li{
			position: relative;
			width: calc((100% /4 ) - 10px );
			padding:15px;
			background: #0F4C81;
			color: #fff;
			border-radius: 10px;
			min-height: 250px;
			p{
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 18px;
				line-height: 25px;
				text-align: center;
				transform: translate(-50%, -50%);
				width: 90%;
				text-align: center;
				display: inline-block;
			}
		}
	}
	.box_sumenh{
		.box_content_sm{
			padding: 15px;
			border-radius: 10px;
			background: #0F4C81;
			color:#fff;
			font-size: 18px;
		}
	}
	.box_text{
		font-size: 18px;
		@media(max-width: 991px){
			font-size: 16px;
		}
		
	}
	.box_img_sodo{
		text-align: center;
	}
	.box{
		margin-bottom: 15px;
	}
	@media(max-width: 991px){
		padding: 30px 0!important;
		.title_page{
			font-size: 16px;
		}
		.box_content{
			font-size: 16px;
		}
		.list_quandiem{
			flex-wrap: wrap;
			li{
				width: calc((100% / 2) - 5px);
				margin-bottom: 10px;
				p{
					font-size: 16px;
				}
			}
		}
		.box_sumenh .box_content_sm{
			font-size: 16px;
		}
		.title_page_l{
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
	@media(max-width: 500px){
		.list_quandiem{
			li{
				width: 100%!important;
			}
		}
	}
} 

section.news{
	padding: 20px 0;
	.box_headding_news{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
		.box_link_tab_news{
			.nav-link{
				height: 45px;
				padding: 0 20px;
				font-size: 18px;
				line-height: 45px;
				color: #FFFFFF;
				background: #B2D9EE;
				margin-right: 10px;
				color: $color-active;
				border-radius: 5px;
			}
			.nav-link.active{
				background: $color-active;
				color: #fff!important;
			}
		}
		.box_filter_news{
			select{
				height: 45px;
				line-height: 45px;
				padding:0 15px;
				border-radius: 5px;
				background: #B2D9EE;
				border:none;
				margin-left: 10px;
			}
		}
		@media(max-width: 768px){
			.box_filter_news{
				display: none;
			}
			.box_link_tab_news {
				.nav-link{
					font-size: 15px;
					padding: 0 10px;
				}
			}
		}
	}


}
.box_body_content{
	.list_news{
		
		.item_news{
			display: flex;
				justify-content: space-between;
			position: relative;
			margin-bottom: 30px;
			.box_left_img{
				width: 400px;
			}
			.box_img{
				position: relative;
				@include img_prod_resp(55%);
				
				.time_news{
					position: absolute; 
					bottom: 0;
					left: 0;
					width: 100%;
					
					background: rgba(178, 217, 238, 0.7);
					font-style: normal;
					font-weight: normal;
					font-size: 15px;
					line-height: 20px;
					padding: 5px 15px;
					color: #555555;
				}
			}
			.box_text_r{
				width: calc(100% - 410px);
				h4{
					font-weight: bold;
					font-size: 18px;
					line-height: 25px;
					color: #000000;
					margin-bottom: 10px;
					.tag_img_tit{
						height: 23px;
						width: 23px;
						margin-left: 10px;
						display: inline-block;
						img{
							width: 100%;
						}

					}
					.tag_new{
						width: 20px;
						height: 20px;
						margin-left: 10px;
						text-align: center;
						font-size: 8px;
						border-radius: 50%;
						background:#bb0303;
						color: #fff;
						line-height: 20px;
						display: inline-block;
					}
				}
				.desc{
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 25px;
					color: #000000;
					@include text_hidden(6);
				}
			}
			&:hover{
				.box_text_r{
					h4{
						color: $color-active;
						transition: .3s;
					}
				}
			}
		}
		@media(min-width: 768px) and (max-width: 991px){
			.item_news{
				.box_left_img{
					width: 300px;
				}
				.box_text_r{
					width: calc(100% - 310px);
					.desc{
						@include text_hidden(3);
					}
				}
			}
		}
		@media(min-width: 555px) and (max-width: 767px){
			.item_news{
				.box_left_img{
					width: 250px;
				}
				.box_text_r{
					width: calc(100% - 260px);
					h4{
						font-size: 16px;
					}
					.desc{
						font-size: 16px;
						@include text_hidden(2);
					}
				}
			}
		}
		@media(max-width: 554px){
			.item_news{
				margin-bottom: 15px;
				.box_img{
					padding-top: 75%;
					.time_news{
						font-size: 11px;
						padding: 5px 2px;
					}
				}
				.box_left_img{
					width: 150px;
				}
				.box_text_r{
					width: calc(100% - 160px);
					h4{
						font-size: 15px;
						line-height: 20px;
					}
					.desc{
						display: none;
					}
				}
			}
		}
		
	}
	.box_video_big{
		video{
			width: 100%;
			height: auto;
			box-shadow: 0px 1px 8px 0px grey;
			box-sizing: border-box;
			margin-bottom: 30px;
		}
		iframe{
			width: 100%;
			height: auto;
			margin-bottom: 30px;
		}
		h4{
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;
			text-align: center;
			color: #000;
		}
		margin-bottom: 30px;

		@media(max-width: 767px){
			margin-bottom: 20px;
			video,iframe{
				margin-bottom: 0px;
				min-height: 185px;
				height: unset;
			}
			h4{
				font-size: 16px;
			}
		}

	}

	.list_videos_news{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.item_video{
			width: calc((100% / 3) - 15px);
			margin-bottom: 30px;
			.box_img{

				@include img_prod_resp(65%);
				margin-bottom: 15px;
				.icon_play{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100px;
					height: 100px;
					border-radius: 50%;
					line-height: 100px;
					background: #0f4c8199;
					content: "";
					text-align: center;
					i{
						font-size: 100px;
						color: rgba(196, 196, 196, 0.7);
					}
				}
			}
			h4{
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 25px;
				text-align: center;

				color: #000;
			}
			&:hover{
				h4{
					color: $color-active;
					transition: .3s;
				}
			}
		}
		@media(max-width: 767px){
			.item_video{
				width: calc(50% - 5px);
				margin-bottom: 20px;
				.box_img{
					margin-bottom: 10px;
					.icon_play{
						width: 50px;
						height: 50px;
						line-height: 50px;
						i{
							font-size: 50px;
						}
					}
				}
				h4{
					font-size: 14px;

				}
			}
		}

	}
	@media(max-width: 767px){
		.box_title_post h4{
			font-size: 16px;
			line-height: 30px;
		}

	}
}

.box_list_news_same{
	h2{
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 34px;
		text-transform: uppercase;

		color: #0F4C81;
		margin-bottom: 15px;
	}
	.item_news_same{
		position: relative;
		.box_img{
			@include img_prod_resp(55%);
		}
		.box_info{
			h4{
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 25px;
				color: #000000;
				@include text_hidden(3);
			}
		}
	}
	.owl-dots {
    	bottom: -30px;
	}
	@media(max-width: 767px){
		.item_news_same{
			.box_info{
				h4{
					font-size: 15px;
					@include text_hidden(2);
				}
			}
		}
	}
	
}
.box_like_share{
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	border-bottom:1px solid $color-active;
	margin-bottom: 15px;
	.like{
		background: $color-active;
		color: #fff;
		height: 35px;
		padding:0 15px;
		border-radius: 5px;
		line-height: 35px;
		margin-right: 10px;
	}
	.share_link{
		color: $color-active;
		font-size: 30px;
		margin-right: 10px;
	}
}
.box_filter_data{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	.slect{
		position: relative;
		margin-right: 15px;
		select{
			height: 40px;
			font-size: 15px;
			line-height: 40px;
			padding: 0 15px 0 40px;
			border-radius: 5px;
			background: #B2D9EE;
			// box-shadow: 1px 1px 4px 0px #5d5d5d;
			// border:1px solid #ccc;
			border:none;
			color: $color-active;
		}
		.icon_sl{
			position: absolute;
			left: 0;
			top: 0;
			display: inline-block;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			font-size: 15px;
			color: $color-active;
		}
	}
	.box_search_khoahoc{
		position: relative;
		width: 250px;
		input{
			height: 40px;
			border-radius: 5px;
			line-height: 40px;
			background: #B2D9EE;
			padding-left: 50px;
			padding-right: 15px;
			font-size: 15px;
			border:none;
			// border:1px solid #ccc;
			    // box-shadow: 1px 1px 4px 0px #5d5d5d;
		}
		button{
			position: absolute; 
			left: 0px;
			top: 0;
			font-size: 15px;
			height: 40px;
			width: 40px;
			line-height: 40px;
			text-align: center;
			background: transparent;
			border:none;
			color:$color-active;
		}
	}
	@media(max-width: 767px){
		.slect{
			display: none;
		}
	}
}
.list_hso_khoahoc{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	li{
		width: calc(50% - 10px);
		border:2px solid $color-active;
		margin-bottom: 20px;

		.nganh{
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			color: #FFFFFF;
			padding:6px 0;
			text-align: center;
			background: $color-active;
		}
		.box_item_hso{
			display: flex;
			justify-content: space-between;
			padding: 5px;
			.box_img{
				position: relative;
				width: 92px;
				height: 108px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.box_info{
				width: calc(100% - 100px);
				h4{
					font-style: normal;
					font-weight: 600;
					font-size: 15px;
					line-height: 20px;
					text-transform: capitalize;
					color: #000000;
					line-height: 25px;
				}
				.date_sn{
					font-style: italic;
					font-size: 13px;
					margin-bottom: 5px;
				}
				p{
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 18px;

					color: #000000;
				}
			}
		}
		&:hover{
			.box_item_hso{
				.box_info{
					h4{
						color: $color-active;
					}
				}
			}
		}
	}
	@media(max-width: 767px){

		li{
			width: 100%;
			.nganh{
				font-size: 16px;
			}
			.box_item_hso{
				.box_info{
					p{
						font-size: 13px;
					}
				}
			}
		}
	}
}

.box_tab_media{
	margin-bottom: 25px;
	.nav-tabs{
		display: flex;
		justify-content: center;
		align-items: center;
		.nav-link{
			height: 60px;
			line-height: 60px;
			font-size: 18px;
			padding: 0 30px;
			color: $color-active;
			background: #B2D9EE;
			border-radius: 0;
			margin-right: 10px;

		}
		.active{
			background: $color-active;
			color: #fff;
			border-bottom: none;
		}

	}
	@media(max-width: 767px){

		.nav-tabs {
			.nav-link {
				height: 45px;
				line-height: 45px;
				font-size: 12px;
				padding: 0 5px;
				margin-right: 4px;
			}
		}
	}
	
}

.list_imgs_media{
	display: flex;
	flex-wrap: wrap;
	// margin-bottom: 30px;
	margin-left:10px;
	margin-right:10px;
	li{
		width: calc(100% / 4);
		margin-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		&:first-child{
			width: 100%;
			margin-bottom: 30px;
		}
		a{
			display: inline-block;
			@include img_prod_resp(50%);

		}
	}

	@media(max-width: 767px){
		justify-content: space-between;
		margin-left:0;
			margin-right:0;
		li{
			padding-left: 0;
		padding-right: 0;
			width: calc(50% - 2.5px);
			margin-bottom: 0;
			&:first-child{
				margin-bottom: 0;
			}
		}
	}
}

.box_links_top{
	margin-bottom: 25px;
	.breadcrumb{
		li{
			font-size: 16px;
		}
		.active{
			color: $color-active;
		}
	}
	@media(max-width: 767px){
		margin-bottom: 15px;
		.breadcrumb{
			    padding: .75rem 5px;
			li{
				font-size: 14px;
			}
		}
	}
}
.box_body_content{
	font-size: 16px;
	@media(max-width: 767px){
		font-size: 14px;
	}
	.btn{
		.btn_content{
			height: 50px;
			padding: 0 35px;
			font-size: 25px;
			text-transform: uppercase;
			text-align: center;
			line-height: 50px;
			background: $color-active;
			color: #fff;
			border-radius: 5px;
		}
	}
}
.box_list_news_same {
    padding-bottom: 30px;
}
.title_content{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: $color-active;
	text-align: center;
	margin-bottom: 20px;
	@media(max-width: 767px){
		font-size: 16px;
	}
}
.box_title_post{
	h4{
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		line-height: 34px;
		text-transform: uppercase; 
		color: #000000;
		margin-bottom: 10px;

	}
	.time_news{
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		color: #000;
	}
	margin-bottom: 20px;
	.desc{
		font-weight: bold;
	}
}
.itembox_news{
	margin-bottom: 20px;
	.title_itembox_news{
		position: relative;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 30px;
		text-transform: uppercase;
		color: #000000;
		margin-bottom: 15px;
		&:before{
			position: absolute;
			top: 100%;
			width: 50px;
			height: 1px;
			background: #000;
			left: 0;
			content: "";
		}
	}

	.list_item_o{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
		.item_news_o{
			width: calc((100% / 3) - 15px);
			margin-bottom: 30px;
			.box_img{
				@include img_prod_resp(55%);
				margin-bottom: 10px;
			}
			.box_info{
				h4{
					@include text_hidden(2);
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 25px;
					color: #3B3C3F;
					margin-bottom: 10px;
					min-height: 50px;

				}
				.date_time{
					display: flex;
					align-items: center;
					i{
						font-size: 20px;
						margin-right: 10px;
					}
					span{
						font-style: normal;
						font-weight: normal;
						font-size: 15px;
						line-height: 20px;
					}
				}
				.box_list_info{
					border-top: 1px dashed #333;
					border-bottom: 1px dashed #333;
					padding: 5px 0;
					li{
						margin-bottom: 10px;
						.icon_o{
							width: 20px;
							display: inline-block;
						}
						span{
							font-size: 15px;
							line-height: 20px;
							a{
								text-decoration: underline;
								&:hover{
									color: $color-active;
								}
							}
						}
						&:last-child{
							margin-bottom: 0;
						}
					}

				}
			}
			&:hover{
				.box_info{
					h4{
						color: $color-active;
						transition: .3s;
					}
				}
			}
		}
	}
	@media(max-width: 991px){
		.title_itembox_news{
			font-size: 16px;
		}
		.list_item_o{
			.item_news_o{
				width: calc(50% - 5px);
				.box_img{
					position: relative;
					margin-bottom: 5px;
				}
				.box_info{
					h4{
						font-size: 14px;
						line-height: 23px;
						margin-bottom: 0;
					}
					.date_time{
						i{
							font-size: 15px;
							display: none;
						}
						span{
							font-size: 11px;
						}
					}
					.box_list_info{
						li{
							span{
								font-size: 14px;
							}
						}
					}

				}
			}
		}
	}
	@media(max-width: 500px){
		.list_item_o{
			.item_news_o{
				width: 100%!important;
				.box_info{
					h4{
						font-size: 16px;
						min-height: unset;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
.list_img_content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.list_trungbay_online{
	.item_news_o{
		margin-bottom: 15px;
		width: calc(50% - 10px)!important;
		.box_img{
			border-radius: 5px;
			padding-top:75%!important;
		}
		.box_info{
			h4{
				margin-bottom: 0!important;
				text-align: center!important;
			}
		}
	}
}
.name_contact{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #0F4C81;
	margin-bottom: 15px;
	@media(max-width: 767px){
		font-size: 16px;
	}
}
.list_contact{
	li{
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 10px;
		a{
			font-size: 30px;
			margin-right: 5px;
			.fa-facebook-square{
				color: #4267b2;
			}
			.fa-youtube-square{
				color: red;
			}
		}
	}
	@media(max-width: 767px){
		li{
			font-size: 14px;
		}
	}
}

.list_3imgs{
	li{
		margin-bottom: 30px;
		.box_3img{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 5px;
			.box_img{
				width: calc((100% / 3) - 10px);
			}
		}
		h4{
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;
			/* identical to box height */

			text-align: center;
		}
	}
	@media(max-width: 767px){
		li{
			padding-bottom: 15px;
			border-bottom:1px solid #ccc;
			.box_3img{
				.box_img{
					width: 100%;
					margin-bottom: 5px;
				}
			}
			h4{
				font-size: 16px;
			}
		}
	}
}
.box_all_detail_hoso{
	display: flex;
	flex-wrap: wrap;
	.box_info_o{
		background: #fff;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 15px;
		.box_img{
			width: 250px;
			// text-align: center;

		}
		.box_text_detail_hoso{
			width: calc(100% - 250px);
			    padding: 10px;
			li{
				margin-bottom: 15px;
			}
			.flex3{
				display: flex;
				span{
					width: calc((100% / 3) - 15px);
				}
			}
		}
	}
	.box_left_links{
		width: 250px;
		    border-right: 1px dashed;
		.itembox_links{
			margin-bottom: 15px;
			h3{
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 25px;
				margin-bottom: 10px;
			}
			ul{
				li{
					position: relative;
					padding-left: 13px;
					margin-bottom: 5px;
					&:before{
						content: "\f0da";
						position: absolute;
						left: 0;
						top: 0px;
						font-size: 18px;
						line-height: 27px;
						font-family: fontAwesome;

					}
					&:hover{
						a{
							color: $color-active;
							transition: .3s;
						}
					}
				}
			}

		}
	}
	.box_right_content_hoso{
		width: calc(100% - 250px);
		padding: 0 10px;
	}
	.box_select2{
		display: none;
	}
	@media(max-width: 767px){
		.box_info_o{
			padding: 10px;
			.box_img{
				width: 100%;
				text-align: center;
			}
			.box_text_detail_hoso{
				width: 100%;
				padding: 10px 0;
				li{
					margin-bottom: 0px;
				}
				.flex3{
					flex-wrap:wrap;
					span{
						width: 100%;
					}				
				}
			}
		}
		.box_left_links{
			width: 100%;
			margin-bottom: 15px;
			border-right: none;
		}
		.box_right_content_hoso{
			width: 100%;
		}
		.itembox_links{
			display: none;
		}
		.box_select2{
			display: block;
			width: 100%;
			height: 40px;

		}
	}

}

.pagination{
	display: flex;
	justify-content: center;
	align-items: center;


	li{
		a{
			border-radius: 50%;
			margin:0 4px;
			width: 38px;
			height: 38px;
			text-align: center;
			font-size: 16px;
			background: #C4C4C4;
			color: $color-active;
			font-weight: bold;
			&:hover{
				color: #fff;
				background: $color-active;
			}
		}
		.active{
			background: $color-active;
			color: #fff;
		}
	}
	.prev{
		a{
			background: transparent;
			color: #C4C4C4;
			&:focus{
				box-shadow: none;
			}
			&:hover{
				background: transparent;
				color: $color-active;
			}
		}
		i{
			display: inline-block;
			transform: rotate(180deg);
		}
		
	}
	.next{
		a{
			background: transparent;
			color: #C4C4C4;
			&:focus{
				box-shadow: none;
			}
			&:hover{
				background: transparent;
				color: $color-active;
			}
		}

	}
}