footer{
	padding: 30px 0;
	background: $color-active;
	width: 100%;
	float: left;
	color: #fff;
	.box_item_ft{

		position: relative;
		.title_ft{
			font-weight: bold;
			font-size: 15px;
			text-transform: uppercase;
			margin-bottom: 15px;
			color: #fff;
		}
		p{
			margin-bottom: 10px;
			font-size: 15px;
		}
		.logan_ft{
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
		}
		.list_link_ft{
			li{
				position: relative;
				padding-left: 20px;
				margin-bottom: 10px;
				&:before{
					content: "";
					left: 0;
					top: 6px;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: #fff;
					position: absolute;
				}
				&:hover{
					&:before{
						background: #bb0303;
					}

				}
			}
		}
		.list_new_ft{
			li{
				position: relative;
				display: flex;
				justify-content: space-between;
				margin-bottom: 15px;
				.post_date{
					width: 45px;
					height: 45px;
					border:2px solid #fff;
					text-align: center;
					.post_date_day{
						display: block;
					}
					.post_date_month{
						text-transform: uppercase;
					}

				}
				h4{
					display: inline-block;
					width: calc((100% - 50px) - 10px);
					color: #fff;
					font-size: 16px;
					@include text_hidden(2);
					
				}
				&:hover{
					.post_date{
						border-color:#bb0303;
					}
				}
			}
		}
		.link_mxh_ft{
			display: flex;
			// justify-content: center;
			a{
				display: inline-block;
				margin-right: 15px;
				&:last-child{
					margin-right: 0;
				}
				width: 40px;
				height: 40px;
				border-radius: 50%;
				text-align: center;
				line-height: 40px;
				background: #fff;
				color: #222;
				font-size: 20px;
				&:hover{
					.fa-envelope-o{
						color: #ff1313;
					}
					.fa-facebook{
						color: #3578E5;
					}
					.fa-instagram{
						color: #e00000;
					}
					.fa-twitter{
						color: #0073ff;
					}
					.fa-youtube{
						color: #ff1313;
					}
				}
			}
		}
		iframe{
			width:100%;
			height: 280px;
		}
		@media(max-width: 991px){
			margin-bottom: 30px;
		}
	}
	.ft_1{
		p{
			i{
				width: 20px;
			}
		}
		.title_ft_links_mxh{
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
			margin-top: 30px;
		}
	}
}