
.fixed{
	position: fixed;
	transition: .5s;
	top: 0;
	width: 100%;
	max-width: 1370px;
	z-index: 9;
    box-shadow: 1px 1px 10px 0px grey;
}
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;

    @include transition(all .3s ease-in-out);
    position: relative;
    left: 0;
    & .over-menu{
        @include transition(all .3s ease-in-out);
        position: fixed;
        height: 100%;
        content: '';
        width: 100%;
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        background: rgba($black, .6);
        z-index: 9;
    }
    &.open-menu{
        left: -250px;
        &  .over-menu{
            visibility: visible;
            opacity: 1;
        }
        .menu-container{
            right: 0 !important;
        }
    }
}


// GENERAL SETTINGS

.hidden{
	display: none;
}
section{
	position: relative;
	width: 100%;
	float: left;
}


header{
    @include transition(all .3s ease);
    background-color: transparent;
    width: 100%;
    float: left;
    // position: fixed;
    z-index: 10;
    // left: 0;
    // top: 0;
	// &::before{
 //    	@include transition(all .3s ease);
	// 	transform-origin: 0;
 //    	background: $white;
	// 	position: absolute;
	// 	width: 100%;
 //    	content: '';
	// 	top: 0;
	// 	right: 0;
	// 	height: 0;
	// }
	.desk-menu{
		background: #f1f1f1;
	    position: relative;
	    width: 100%;
	    max-width: 1370px;
	    float: left;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: center;
	    .logo{
	        // position: absolute;
	        // float: left;
	        
	        	    }
	    
	    .box-menu{
            // @include transition(all 0.3s ease-in-out);
	        // position: relative;
	        display: block;
	        float: right;
	        text-align: center;
	        @media (min-width: 992px) {
	        	// flex:2;
	        }
	    }
	    .menu-container{
	    	
		    .menu-head,
			.menu-foot{
				width: 100%;
				float: left;
				display: none;
			}
			.menu-head{
				display: flex;
			    order: 2;
			    padding: 16px 10px;
				.e1{
					padding: 3px 0;
					float: left;
					img{
						width: 29px;
						float: left;
						height: 29px;
					}
				}
				.client{
					
					align-items: center;
					flex-wrap: wrap;
					display: flex;
					font-size: 14px;
					margin-left: 15px;
					font-weight: 500;
					i{
						margin-right: 5px;
						display: inline-block;
						width: 25px;
						height:25px;
						border-radius:50%;
						text-align: center;
						border: 1px solid red;
						border: 1px solid $read;
						line-height: 22px;
					}
					span{
						position: relative;
						line-height: 100%;
						display: block;
					}
					
				}
				.manage-account{
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					
					position: relative;
					.box-btn-mb{
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						cursor: pointer;
						// padding-right: 15px;

						position: relative;
						// &:after{
						// 	position: absolute;
						// 	right: 0;
						// 	top: 0;
						// 	content:"\f0d7";
						// 	font-family: fontAwesome;
						// }

					}
					.box-img{
						@include img-prod-resp(25px);
						width: 25px;
						border-radius: 50%;
						margin-right: 5px;
					}
					.name-acc{
						font-size: 14px;
						font-weight: 400;
						margin-right: 5px;
					}
					
					.show-list{
						position: absolute;
						top: 120%;
						right: 0;
						z-index: 9;
						background: #fff;
						border-radius: 5px;
						min-width: 200px;
						padding: 10px;
						box-shadow: 0px 0px 3px 0px #aeaeae;
						color: $color-text;
						

						text-align: left;
						@media (max-width: 991px) {
							display: none;
						}
						li{
							a{
								padding-right: 25px;
								position: relative;
								display: block;
								padding: 5px;
							}
							i{
								position: absolute;
								right: 5px;
								top: 50%;
								transform: translate(0,-50%);
								color: $read;
							}
						}
						@media (max-width: 991px) {
							right: unset;
							left: 0;
							li{
								a{
									color: $color-text!important;
								}
							}
						}
					}
					@media(min-width: 992px){
						.show-list{
							opacity: 0;
						visibility: hidden;
						}
						&:hover{
							.show-list{
								opacity: 1;
								visibility: visible;
								top: 100%;
								@include transition(all 0.3s ease-in-out);
								li{
									&:hover{
										background: $color-active;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
			.menu-foot{
				position: absolute;
				bottom: 0;
				padding: 15px 0;
			    .social{
				    display: flex;
				    flex-wrap: wrap;
				    align-items: center;
				    justify-content: center;
			        a{
			            // @include transition(all 0.3s ease-in-out);
			            // display: inline-block;
			            position: relative;
						margin: 0 15px 0 0;
			            color: $white;
			            text-align: center;
			            padding: 5px 0;
			            border-radius: 50%;
			            background: $read;
			            width: 40px;
			            height: 40px;
			            font-size: 20px;
			            &:last-child{
			                margin: 0;
			            }
			            &:hover{
			                background: $color-active;
			            }
			        }
			    }
			    hr{
					margin: 15px auto 20px;
					display: table;
					width: calc(100% - 20px);
			    }
			    address{
			    	position: relative;
					text-align: left;
				    padding: 0 15px;
				    margin: 0;
				    i{
				    	position: absolute;
				    	left: 0;
				    	top: 0;
				    }
				    span{
						padding: 0 0 0 20px;
				    	position: relative;
						margin-bottom: 5px;
						font-size: 12px;
						display: block;
				    }
			    }
			}
		    .menu{
		        float: left;
		        display: flex;
		        justify-content: space-between;
		        flex-wrap: wrap;
		        width: 100%;
		        padding: 0;
		        // margin: 0 20px 0 0;
		        list-style: none;
		        position: relative;
		        // @include transition(all 0.3s ease-in-out);
				li{
					&.back{
						display: none;
					}
				}
		        & > li{
		            // @include transition(all .33s ease);
		            // margin: 0 0 0 10px;
		            // float: left;
		            cursor: pointer;
		            position: relative;
		            overflow: inherit;
		            >a{
		            	// text-transform: uppercase;
		            	font-weight: bold;
		            }
		            a{
		                position: relative;
		                // text-transform: uppercase;
		                font-size: 15px;
		                padding: 14px 8px;
		                // line-height: 25px;
		                display: block;
		                
		                color: $read;
		                
		                border-bottom: 2px solid transparent;
		            }
		            &.menu-item-has-children{
		                & > a{
		                    padding: 14px 15px 14px 0px;
		                    position: relative;
		                    // &::before,
		                    // &::after{
		                    //     @include transition(all 0.3s ease-in-out);
		                    //     background-color: $read;
		                    //     position: absolute;
		                    //     content: '';
		                    //     height: 1px;
		                    //     width: 7px;
		                    //     top: 23px;
		                    // }
		                    // &::before{
		                    //     @include transform(rotate(45deg));
		                    //     right: 10px;
		                    // }
		                    // &::after{
		                    //     @include transform(rotate(-45deg));
		                    //     right: 6px;
		                    // }
		                }
		                .sub-menu{
		                    box-shadow: 1px 2px 4px rgba(46,61,73,0.2);
		                    @include transition(all .3s ease-in-out);
		                    -webkit-overflow-scrolling: touch;
		                    min-width: 200px;
		                    position: absolute;
		                    list-style: none;
		                    background: $white;
		                    padding: 0;
		                    float: left;
		                    display: table;
		                    left: 0;
		                    width: 100%;
		                    float: left;
		                    z-index: 9;
		                    // display: none;
		                    
		                    li{
		                        width: 100%;
		                        @include transition(all .33s ease);
		                        // position: relative;
		                        & > a{
		                            color: $read;
    								padding:8px 12px;
		                        }
		                        .sub-menu{
		                        	display: none;

		                        	@media (min-width: 992px) {
		                        		top: 120%;
					                    visibility: hidden;
					                    opacity: 0;
					                    left: 100%;
		                        	}
		                        }
		            			&.menu-item-has-children{
			                        & > a{
					      //               &::before,
					      //               &::after{
					      //                   @include transition(all 0.3s ease-in-out);
					      //                   background-color: $read;
					      //                   position: absolute;
					      //                   content: '';
					      //                   height: 1px;
					      //                   width: 7px;
					      //                   top: 24px;
					      //               }
					      //               &::before{
					      //                   transform: rotate(45deg);
											// right: 6px;
											// top: 19px;
					      //               }
					      //               &::after{
					      //                   transform: rotate(-45deg);
					      //                   right: 6px;
					      //                   top: 23px;
					      //               }
					                }
			                        &:hover{
			                            // background: lighten($black, 10%);
			                            & > a{
			                                display: block;
			                            }
					                    .sub-menu{
					                    	display: block;
					                    }
			                        }
			                    }
			                    &:hover{
			                    	& > a{
					                    color: #fff!important;
    									background-color: $color-active;
    									@include transition(.3s);
    									// &::before{
    									// 	@include transform(rotate(142deg));
    									// 	top: 23px;
    									// }
    									// &::after{
    									// 	@include transform(rotate(42deg));
    									// 	right: 11px;
    									// }
			                    	}
			                    	@media (min-width: 992px) {
			                    		.sub-menu{
				                        	top: 0%;
						                    visibility: visible;
						                    opacity: 1;
				                        }
			                    	}
			                    }
		                    }
		                    @media (min-width: 992px) {
		                    	top: 120%;
			                    visibility: hidden;
			                    opacity: 0;
		                    }
		                }
		                a{
		                    text-align: left;
		                    &:hover{
		                        margin-top: 0;
		                    }
		                }
		            }

					
		            &:hover{
		            	
		                & > a{
		                    // color: #fff;
		                    font-weight: bold;
		                    &::before{
								@include transform(translateX(5px) rotate(-45deg));
								width: 10px;
								right: 12px;
		                    }
		                    &::after{
		                    	@include transform(rotate(45deg));
								width: 10px;
								right: 7px;
		                    }
		                }
		                // &.menu-item-has-children{
		                // 	.sub-menu{
		                // 		display: block;
		                // 	}
		                // }
		            }
		            &:before{
		            	content: "";
					    position: absolute;
					    // z-index: -1;
					    left: 0;
					    right: 100%;
					    bottom: 0;
					    background: #bb0303;
					    height: 2px;
					    -webkit-transition-property: right;
					    transition-property: right;
					    -webkit-transition-duration: 0.3s;
					    transition-duration: 0.3s;
					    -webkit-transition-timing-function: ease-out;
					    transition-timing-function: ease-out;
		            }
		            @media (min-width: 992px) {
		            	&:hover{
		            		.sub-menu{
		            			visibility: visible;
							    opacity: 1;
							    top: 100%;
							    @include transition(all 0.3s ease-in-out);
		            		}
		            	}
			    		&:hover:before{
							right: 0;
			    		}
		            	&.active{
			            	>a{
			            		border-bottom: 2px solid $color-active;
			            		font-weight: bold;
			            	}
			            }
		            }
		        }
		    }

		    @media (min-width: 992px) {
		    	.menu-header-container{
			    	width: 100%;
			    }
		    	display: flex;
		    	flex-wrap: wrap;
		    	align-items: center;
		    	justify-content: center;
		    	
		    	.menu-head{
					width: unset!important;
					flex: 1;
					display: none;
					justify-content: flex-end;
					// .client{
					// 	&:hover{
					// 		font-weight: bold;
					// 	}
					// }
				}
				
		    }
		}
	}

	.hamburger-menu {
	    display: none;
	}

    // fixed
    &.fixed{
        @include transition(all 0.3s ease-in-out);
        &::before{
        	box-shadow: 0px 5px 25px 0 rgba(46,61,73,.2);
			// @include transform(scaleY(1));
        	height: 100%;
        	@include transition(all 0.3s ease-in-out);
        }
        .desk-menu{
            .box-menu .cd-header-buttons{
                // top: 19px;
            }

			.menu-container{
				.menu{
					& > li{
						&.menu-item-has-children{
							& > a{

								&::before,
					            &::after{
					            	background-color: $read;
					            }
					        }
					    }
					}
				}
			}
            .box-menu{
    			padding: 0;
                ul{
                    // margin: 10.5px 0;
                    li{
                    	a{
	                        color: $read;
                    	}
                    }
                }
            }
        }
    }

    @include MQ(991px) {
   	    // height: 60px;

		// EFFECT RESPONSIVE MENU
		// Parte do efeito de abertura do menu está no asrquivo _style.scss logo nas primeiras linhas
	    .hamburger-menu {
	    	position: absolute;
	    	right: 15px;

    		@include transition(all .3s ease);
	        display: block;
	       
	        width: 30px;
	        height: 40px;
	        cursor: pointer;
	        // right: 0;
	        z-index: 11;
	        span{
	            text-transform: uppercase;
	            left: calc(-100% + -5px);
	            padding: 8px 9px 8px 0;
	            top: calc(50% - 18px);
	            position: absolute;
	            font-size: 13px;
	            color: $white;
	        }
	        .bar,
	        .bar::after,
	        .bar::before {
	            width: 35px;
	            height: 3px;
	        }
	        .bar {
	            position: relative;
	            @include transform(translateY(25px));
	            @include transition(all .1s ease);
	            background:#fff;
	            top: -7px;
	             border-radius: 5px;
	            &::before,
	            &::after {
	                position: absolute;
	                background: #fff;
	                content: '';
	                left: 0;
	                border-radius: 5px;
	            }
	            &::before {
	                bottom: 10px;
	                @include transition(bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1));
	            }
	            &::after {
	                top: 10px;
	                @include transition(top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1));
	            }
	            &.animate {
	                background: rgba($white, 0);
	                &::after {
						// background: #fff;
	                    top: 0;
	                    @include transform(rotate(45deg));
	                    @include transition(top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1));
	                }
	                &::before {
						// background: #fff;			
	                    bottom: 0;
	                    @include transform(rotate(-45deg));
	                    @include transition(bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1));
	                }
	            }
	        }
	    }
	    // END EFFECT RESPONSIVE MENU


	    .desk-menu{
	    	.box-menu{
	    	 	ul{
	    	 	 	li{
	    	 	 	 	a{
	    	 	 	 		// color: $white !important;
	    	 	 	 		border-bottom: 1px solid #eaeaea;
	    	 	 	 	}
	    	 	 	}
	    	 	}
	    	}
	    	.menu-container{
		        @include transition(all .3s ease-in-out);
		        background: $white;
		        position: fixed;
		        height: 100%;
		        width: 250px;
		        right: -250px;
		        top: 0;
		        z-index: 99;
		        .menu-header-container{
					position: relative;
		            float: left;
		            ul{
						padding: 10px !important;
		            }
		        }
				.menu{
					margin: 0;
					li{
						&.back{
							position: relative;
							display: block;
							a{
								padding: 12px 12px 12px 35px !important;
								&::before,
								&::after{
									background-color: $read;
									position: absolute;
									content: '';
									height: 2px;
									width: 7px;
									top: 23px;
								}
								&::before{
								    @include transform(rotate(-45deg) !important);
								    top: 20px !important;
								    right: inherit !important;
								    left: 15px !important;
    							}
    							&::after{
								    @include transform(rotate(45deg) !important);
								    top: 24px !important;
								    left: 15px !important;
    							}
							}
						}
						&.line{
							display: none !important;
						}
					}
					& > li{
						width: 100%;
						float: left;
						margin: 0;
						text-align: left;
						a{
						    padding: 12px;
						    color: $read !important;

						}
						&.menu-item-has-children{
							position: initial;
							a{
								padding: 12px;
								&::before,
								&::after {
									background: $color-active!important;
								}
								&::before {
									right: 6px !important;
    								top: 16px !important;
    								width: 7px !important;
								}
								&::after {
								    top: 21px !important;
								    width: 7px !important;
								}
							}
							.sub-menu{
								box-shadow: none;
						        @include transition(all .3s ease-in-out);
								display: block !important;
								background: $white;
							    z-index: 1;
							    top: 0;
							    left: 100%;
							    height: 100%;
							    .sub-menu{
									margin-top: 0;
							    }
							    &.open-sub{
								    left: 0%;
							    }
							    li{
							    	&.menu-item-has-children{
							    		& > a{
							    			&::before,
							    			&::after{
											    background-color: $read;
							    			}
											&::before {
												@include transform(rotate(45deg) !important);
												right: 6px !important;
			    								top: 22px !important;
												width: 7px !important;
											}
											&::after {
				 								@include transform(rotate(-45deg) !important);
											    right: 6px !important;
											    top: 26px !important;
												width: 7px !important;
											}
							    		}
							    	}
							    }
							}
						}
						&:hover{
							a{
								&:before{
									@include transform(rotate(45deg));
									right: 6px;
    								top: 22px;
								}
								&::after{
									@include transform(rotate(-45deg));
									right: 6px;
									top: 26px;
								}
							}
						}
					}
				}
			    .menu-head{
					display: flex;
				    flex-wrap: wrap;
				    justify-content: space-between;
				    align-items: center;
				    display: none;
			    }
				.menu-foot{
					display: block;
				}
	    	}
	    }
	    &.fixed{
	    	.hamburger-menu {
	    		top: 31px;
	    		span{
	            	color: $read;
				}
				.bar {
            		background: #fff;
					&::before,
					&::after{
            			background: #fff;
					}
					// &.animate {
	                	background: rgba($white, 0);
	    //             }
				}
	    	}
	    }
    }
    @include MQ(767px) {
    	.desk-menu{
    		.menu-container{
    		 	.menu{
    		 		li{
    		 		 	a{
    		 		 		padding: 8px 12px;
    		 		 	}
    		 		 	&.back{
    		 		 		a{
    							padding: 8px 12px 8px 35px !important;
    							&::before{
								    top: 17px !important;
								}
								&::after {
								    top: 21px !important;
								}
    		 		 		}
    		 		 	}
    		 		}
    		 		&>li{
    		 			&.menu-item-has-children{
    		 				a{
    		 		 			padding: 8px 12px;
								&::before {
								    top: 18px;
 			 	 				}
 			 	 				&::after {
								    top: 22px;
								}
    		 				}
    		 			 	.sub-menu{
    		 			 	 	li{
    		 			 	 		&>a{
    		 		 					padding: 8px 12px;
    		 			 	 		}
    		 			 	 		&.menu-item-has-children{
    		 			 	 			&>a{
    		 			 	 				&::before {
											    top: 18px;
    		 			 	 				}
    		 			 	 				&::after {
											    top: 22px;
											}
    		 			 	 			}
    		 			 	 		}
    		 			 	 	}
    		 			 	}
    		 			}
    		 		}
    		 	}
    		}
    	}
    }
    @include MQ(481px) {
    	
		.hamburger-menu{
			
	        .bar,
	        .bar::after,
	        .bar::before{
			    width: 30px;
			    height: 4px;
			    border-radius:5px;
			}
			.bar{
				&::before{
					bottom: 9px;
				}
				&::after{
    				top: 9px;
				}
			}
		}
		&.fixed{
			.desk-menu{
				.logo-adn{
					a{
						// width: 100px;
						// height: 30px;
					}
				}
			}
		}
    }
    @include MQH(550px) {
		.desk-menu{
		 	.menu-container{
		 	 	.menu-foot{
		 	 	 	hr,
		 	 	 	address{
		 	 	 		display: none;
		 	 	 	}
		 	 	}
		 	}
		}
	}
}


.resize-message{
    margin: 40vh auto 0;
    display: table;
}
.resize-message span{
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #666;
}
.resize-message span i{
    font-size: 30px;
}

.author{
	position: fixed;
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding: 30px 15px 15px;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 54%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(54%, rgba(0,0,0,0.54)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 54%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 54%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 54%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 54%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	a{

		font-size: 16px;
		display: table;
		margin: 0 auto;
		text-decoration: none;
		color: $white;
		font-weight: 700;
		
	}
}


.cart-icon {
    width: 35px;
    height: 35px;
    border: 2px solid #2d2d2d;
    line-height: 35px;    
    text-align: center;
    position: relative;
    margin-left: 10px;
 
	 .numb_cart {
	}
	&:before{
		    content: "";
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 40px;
    border-radius: 50%;
		border-top: 4px solid #2d2d2d;
	}
	&:hover{
		background: #000;
		color: #fff;
	}
}
.header_top{
	padding: 5px 0;
	transition: .5s;
	
}
.header_top>.container{
	display: flex;
	// justify-content: space-between;
    place-content: flex-end;
    align-items: center;
}
.box_search_top{
	position: relative;
	margin-right: 15px;
	border-radius: 5px;
	input{
		width: 350px;
		height: 25px;
		border-radius:5px;
		padding: 0 15px 0 35px;
		color: #fff;
		border: none;
		background: $color-active;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		font-size: 16px;
		color: #fff;
		height: 25px;
		border: none;
		background: transparent;
	}
	@media(max-width: 991px){
		input{
			width: 230px;

		}
		button{
			font-size: 15px;
			line-height: 1;
		}
	}
}
.box-menu{
	width: 100%;

}
.box_cart_top{
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	&:hover{
		
		.cart-icon{
			background: #000;
			color: #fff;
		
		}
		@media(min-width: 992px){
			.box_show_h_cart{
				display: block;
				transition: all .5s;
			}
		}
	}
}
.hder_mid {
	background: url("../images/img/bgr_banner_top.png");
	> .container{
		display: flex;
		// justify-content: space-between;
		height: 130px;
		// line-height: 70px;
		align-items: center;
	}
	.hotline_sp, .logo {
	    // line-height: 130px;
	}
	.slogan{
		
		h2{
			font-weight: bold;
			font-size: 20px;
			line-height: 25px;
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 7px;
		}
		p{
			color: #fff;
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
			text-transform: uppercase;

		}
		@media(min-width: 400px) and (max-width: 767px){
			h2{
				// text-align: center;
			}
		}

	}
	.logo{
		margin-right: 5px;
	}
	@media(max-width: 991px){
		// .logo{
		// 	width: 100px!important;
		// }
		.slogan{
			h2{
				font-size: 14px;
				padding-right: 50px;
				margin-bottom: 0;
			}
			p{
				display: none;
			}
			
		}
	}
}


@media(max-width: 991px){
	.hide_mb{
		display: none;
	}
	.hder_mid > .container{
		align-items: center;
	}

}
@media(max-width: 991px){
	.hide_mb{
		display: none;
	}
	.header_top{
		.hotline{
			text-align: center;
			text-transform: inherit;
			width: 100%;
		}
	}
	.hder_mid > .container{
		align-items: center;
		height: 80px;
		position: relative;
	}
	.hder_mid .logo{
		width: 75px!important;
	} 
	.cart-icon {
	    width: 30px;
	    height: 30px;
	    border: 2px solid #2d2d2d;
	    line-height: 30px;
	}

}
header .desk-menu .menu-container .menu > li:first-child{
	margin-left: 0;
}
