﻿


<div style="background:#d7d7d7">
    <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
        TRUNG TÂM DI SẢN CÁC NHÀ KHOA HỌC VIỆT NAM.
    </div>

    <div style="background:rgb(255,255,255);max-width:600px;width:100%;margin:0px auto">

        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="" style="word-break:break-word;font-size:0px;padding:0px;text-align:center">
                                                <a href="http://meddom.org" style="margin-left:auto;margin-right:auto" target="_blank">
                                                    <img src="http://meddom.org/Data/Imgm/van-truongimages/logo-m60.png" alt="image" width="100" style="font-family:Helvetica,Arial,sans-serif;font-size:20px;" class="CToWUd">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="word-break:break-word;font-size:0px;padding:15px;text-align:left">
                                                <div>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:0px 0px 13px;line-height:1.6"><i style="padding:0px;line-height:1.6">Chào Quý vị,</i></p>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px;line-height:1.6">Chúc mừng Quý vị đã đăng ký tài khoản thành công tại website meddom.org, với tài khoản: {Email}, nhưng:</p>
                                                    <ul style="text-align:justify;padding:0px 0px 0px 40px;margin-top:16px;margin-right:0px;margin-bottom:16px;margin-left:initial;line-height:1.6;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;color:rgb(52,52,52)">
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Tài khoản của Quý khách chưa được xác thực</li>
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Quý khách vui lòng xác thực tài khoản bằng cách</li>
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Nhấn vào nút xác thực phía dưới</li>
                                                    </ul>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px;line-height:1.6">
                                                        <strong> TRUNG TÂM DI SẢN CÁC NHÀ KHOA HỌC VIỆT NAM.</strong><br/>
                                                        Website:<a href="http://meddom.org" style="margin-left:auto;margin-right:auto" target="_blank">http://meddom.org</a>
                                                        Trân trọng gửi lời chào Quý Khách!
                                                    </p>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px;line-height:1.6">MEDDOM gồm Trung tâm Di sản các nhà khoa học Việt Nam và Công viên Di sản các nhà khoa học Việt Nam trực thuộc Tập đoàn MED GROUP, có chức năng nghiên cứu, bảo tồn và phát huy những giá trị văn hóa vật thể và phi vật thể thông qua tư liệu hiện vật cá nhân, hồi ức của các nhà khoa học Việt Nam...</p>
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="m_8152457038998694391alignmentContainer" style="word-break:break-word;font-size:0px;padding:0px;text-align:center">
                                                <div style="padding-top:10px">

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="m_8152457038998694391alignmentContainer" style="word-break:break-word;font-size:0px;padding:15px;text-align:center">
                                                <table border="0" cellspacing="0" cellpadding="0" style="border-radius:4px;border:none;margin-left:auto;margin-right:auto">
                                                    <tbody>
                                                        <tr style="padding:16px">
                                                            <td align="center" valign="middle" bgcolor="#ff4343" style="background:rgb(255,67,67);border-radius:4px;color:rgb(255,255,255);font-size:16px;min-width:106px">
                                                                <a href="{URL}" style="background:rgb(0,100,178);border-radius:4px;color:rgb(255,255,255);font-family:Helvetica,Arial,sans-serif;font-weight:bold;text-decoration:none;padding:16px;width:auto;display:block;line-height:1.5" target="_blank">Xác thực tài khoản</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="word-break:break-word;font-size:0px;padding:15px;text-align:left">
                                                <div>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:0px 0px 13px;line-height:1.6">
                                                        Truy cập <b style="padding:0px;line-height:1.6"><a href="http://meddom.org" target="_blank">http://meddom.org</a></b> để tiếp cận được nhiều nội dung thú vị.<br />
                                                        Chúc Quý Vị một ngày vui vẻ!
                                                    </p>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px 0px;line-height:1.6">Cảm ơn Quý Vị đã truy cập vào website của <b>Trung Tâm Di Sản Các Nhà Khoa học Việt Nam!</b></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="m_8152457038998694391alignmentContainer" style="word-break:break-word;font-size:0px;padding:15px;text-align:center">
                                                <div>

                                                    <div style="width:100%;border-color:rgb(221,221,221);background-color:rgb(221,221,221);color:rgb(221,221,221);height:1px;margin:0px auto"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-50" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="word-break:break-word;font-size:0px;padding:15px;text-align:left">
                                                <div>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:0px 0px 13px;line-height:1.6"><b style="padding:0px;line-height:1.6">Văn phòng</b></p>
                                                    <p style="color:rgb(119,119,119);text-align:justify;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px;line-height:1.6">Số 278- Đường Thụy Khuê - Tây Hồ - Hà Nội</p>
                                                    <p style="color:rgb(119,119,119);text-align:justify;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px 0px;line-height:1.6">0243.718.5650</p>
                                                    <p style="color:rgb(119,119,119);text-align:justify;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px 0px;line-height:1.6">Email: meddomcenter@gmail.com</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="m_8152457038998694391alignmentContainer" style="word-break:break-word;font-size:0px;padding:15px;text-align:center">
                                                <div class="m_8152457038998694391socialBlock" style="margin-left:auto;margin-right:auto">
                                                    <a href="https://www.facebook.com/meddomcenter" border="3.5" style="border:3.5px solid rgb(255,255,255)" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/KzeY6FYokXMUFxfgY-oOhuD8od68LQa9Sbpn4yRCjJqdMzpeJ8hrwURCol90f6KY79JyZ6dYeJlHsupqA-IRhgwQeJZdn5NIGv4s6fQcFqfu06c=s0-d-e1-ft#https://javascript_library.s3.amazonaws.com/bard/ic-facebook.png" alt="Facebook" width="28" height="28" class="CToWUd"></a>
                                                    <span>
                                                    </span>
                                                    <a href="https://www.youtube.com/channel/UCdYxiExgMk6AGeHK9s2plaQ" border="3.5" style="border:3.5px solid rgb(255,255,255)" target="_blank"><img src="https://ps.w.org/feeds-for-youtube/assets/icon-256x256.png" alt="Youtube" width="30" height="30" class="CToWUd"></a>
                                                    <span> </span>


                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="m_8152457038998694391alignmentContainer" style="word-break:break-word;font-size:0px;padding:15px;text-align:center">
                                                <div style="margin-left:auto;margin-right:auto">
                                                    <p style="font-family:'Open Sans',Helvetica,Arial,sans-serif;padding:0px;margin:0px 0px 13px;line-height:1.6;color:rgb(153,153,153);font-size:11px">VIETNAM CENTER FOR HERITAGE OF SCIENTISTS AND SCHOLARS</p>
                                                    <p style="font-family:'Open Sans',Helvetica,Arial,sans-serif;padding:0px;margin:13px 0px 0px;line-height:1.6;color:rgb(153,153,153);font-size:11px">No. 278, Thuy Khue Street, Tay Ho, Hanoi, Viet Nam</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
