﻿


<div style="background:#d7d7d7">
    <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">CÔNG TY TNHH WEB TINH TẾ.</div>

    <div style="background:rgb(255,255,255);max-width:600px;width:100%;margin:0px auto">

        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="" style="word-break:break-word;font-size:0px;padding:0px;text-align:center">
                                                <a href="https://imexsoft.net" style="margin-left:auto;margin-right:auto" target="_blank">
                                                    <img src="https://imexsoft.net/data/upload/images/logo.png" alt="image" width="600" style="font-family:Helvetica,Arial,sans-serif;font-size:20px;width:100%" class="CToWUd">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="word-break:break-word;font-size:0px;padding:15px;text-align:left">
                                                <div>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:0px 0px 13px;line-height:1.6"><i style="padding:0px;line-height:1.6">Chào Quý khách, {Name}</i></p>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px;line-height:1.6">Cảm ơn Quý khách đã gửi phản hồi cho chúng tôi: </p>
                                                    <ul style="text-align:justify;padding:0px 0px 0px 40px;margin-top:16px;margin-right:0px;margin-bottom:16px;margin-left:initial;line-height:1.6;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;color:rgb(52,52,52)">
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Giúp chúng tôi lắng nghe được những ý kiến tuyệt vời của Quý khách.</li>
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Hoặc trong quá trình phục vụ còn điểm nào chưa được hài lòng, chúng tôi sẽ thay đổi và cập nhật.</li>
                                                    </ul>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px;line-height:1.6">
                                                        CÔNG TY TNHH WEB TINH TẾ
                                                        Website:<a href="https://imexsoft.net" style="margin-left:auto;margin-right:auto" target="_blank">https://imexsoft.net</a>
                                                        Trân trọng gửi lời chào Quý Khách!
                                                    </p>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px;line-height:1.6">WEBTINHTE là nền tảng hướng tới Doanh Nghiệp và Khách hàng <b style="padding:0px;line-height:1.6">online</b>, Quý khách sẽ được trải nghiệm:</p>
                                                    <ul style="text-align:justify;padding:0px 0px 0px 40px;margin-top:16px;margin-right:0px;margin-bottom:0px;margin-left:initial;line-height:1.6;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;color:rgb(52,52,52)">
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Dịch vụ chuyên nghiệp.</li>
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Những tư vấn tối ưu nhất.</li>
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Giúp quý vị Doanh Nghiệp & Quý Khách mua hàng có được nhiều lợi ích tốt nhất.</li>
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Áp dụng những công nghệ tốt nhất dành cho Doanh nghiệp và khách hàng.</li>
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Linh hoạt và vô cùng thuận tiện!</li>
                                                        <li style="padding:0px;margin:0px;line-height:1.6">Hỗ trợ 24/7/365 bất cứ lúc nào</li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="m_8152457038998694391alignmentContainer" style="word-break:break-word;font-size:0px;padding:0px;text-align:center">
                                                <div style="padding-top:10px">

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!--<div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="m_8152457038998694391alignmentContainer" style="word-break:break-word;font-size:0px;padding:15px;text-align:center">
                                                <table border="0" cellspacing="0" cellpadding="0" style="border-radius:4px;border:none;margin-left:auto;margin-right:auto">
                                                    <tbody>
                                                        <tr style="padding:16px">
                                                            <td align="center" valign="middle" bgcolor="#ff4343" style="background:rgb(255,67,67);border-radius:4px;color:rgb(255,255,255);font-size:16px;min-width:106px">
                                                                <a href="{URL}" style="background:rgb(255,67,67);border-radius:4px;color:rgb(255,255,255);font-family:Helvetica,Arial,sans-serif;font-weight:bold;text-decoration:none;padding:16px;width:auto;display:block;line-height:1.5" target="_blank">Link đăng nhập</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>-->


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="word-break:break-word;font-size:0px;padding:15px;text-align:left">
                                                <div>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:0px 0px 13px;line-height:1.6">
                                                        Truy cập <b style="padding:0px;line-height:1.6"><a href="https://imexsoft.net" target="_blank">https://imexsoft.net</a></b> để yêu cầu chúng tôi thiết kế website, app mobile<br />
                                                        Chúc Quý Khách vui vẻ, hạnh phúc và thành công!
                                                    </p>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px 0px;line-height:1.6">Cảm ơn Quý Vị đã đặt niềm tin vào Web Tinh Tế làm nơi thiết kế, lập trình website và phần mềm!</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="m_8152457038998694391alignmentContainer" style="word-break:break-word;font-size:0px;padding:15px;text-align:center">
                                                <div>

                                                    <div style="width:100%;border-color:rgb(221,221,221);background-color:rgb(221,221,221);color:rgb(221,221,221);height:1px;margin:0px auto"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-50" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="word-break:break-word;font-size:0px;padding:15px;text-align:left">
                                                <div>
                                                    <p style="text-align:justify;color:rgb(52,52,52);font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:0px 0px 13px;line-height:1.6"><b style="padding:0px;line-height:1.6">Office</b></p>
                                                    <p style="color:rgb(119,119,119);text-align:justify;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px;line-height:1.6">16/50 Đỗ Xuân Hợp, Nam Từ Niêm, Hà Nội</p>
                                                    <p style="color:rgb(119,119,119);text-align:justify;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px 0px;line-height:1.6">0966.223.158</p>
                                                    <p style="color:rgb(119,119,119);text-align:justify;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:14px;padding:0px;margin:13px 0px 0px;line-height:1.6">Email: info@IMEXsoft.net</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="m_8152457038998694391alignmentContainer" style="word-break:break-word;font-size:0px;padding:15px;text-align:center">
                                                <div class="m_8152457038998694391socialBlock" style="margin-left:auto;margin-right:auto">
                                                    <a href="https://www.facebook.com/IMEXsoft®" border="3.5" style="border:3.5px solid rgb(255,255,255)" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/KzeY6FYokXMUFxfgY-oOhuD8od68LQa9Sbpn4yRCjJqdMzpeJ8hrwURCol90f6KY79JyZ6dYeJlHsupqA-IRhgwQeJZdn5NIGv4s6fQcFqfu06c=s0-d-e1-ft#https://javascript_library.s3.amazonaws.com/bard/ic-facebook.png" alt="Facebook" width="28" height="28" class="CToWUd"></a>
                                                    <span>
                                                    </span>
                                                    <a href="https://twitter.com/IMEXsoft®" border="3.5" style="border:3.5px solid rgb(255,255,255)" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/E6d8WUGsrCLCuFJkbv_hKB2KagE1OqMvBIgjwkMJghpT9iN1pMGLJa5YmzDmMrC9tLxe328IZvy29kIXl75ioC2pk2pYhUlN688za71CsgGwOA=s0-d-e1-ft#https://javascript_library.s3.amazonaws.com/bard/ic-twitter.png" alt="Twitter" width="28" height="28" class="CToWUd"></a>
                                                    <span> </span>


                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div style="max-width:600px;background:rgb(255,255,255);margin:0px auto">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:0px;width:100%;background:rgb(255,255,255)">
                <tbody>
                    <tr>
                        <td style="text-align:center;vertical-align:top;font-size:0px">


                            <div class="m_8152457038998694391column m_8152457038998694391column-100" style="display:inline-block;width:100%;vertical-align:top">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="m_8152457038998694391alignmentContainer" style="word-break:break-word;font-size:0px;padding:15px;text-align:center">
                                                <div style="margin-left:auto;margin-right:auto">
                                                    <p style="font-family:'Open Sans',Helvetica,Arial,sans-serif;padding:0px;margin:0px 0px 13px;line-height:1.6;color:rgb(153,153,153);font-size:11px">WEBTINHTE LTD,.Co</p>
                                                    <p style="font-family:'Open Sans',Helvetica,Arial,sans-serif;padding:0px;margin:13px 0px 0px;line-height:1.6;color:rgb(153,153,153);font-size:11px">16/50 Đỗ Xuân Hợp, Nam Từ Niêm, Hà Nội ,Việt Nam</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
