﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="System.Web.UI.MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head id="Head" runat="server">
    <title></title>
    <meta name="author" content="vantruongbn2412@gmail.com" />
    <meta name="generator" content="<%=CoreMr.Reddevil.Web.HttpRequest.Host%>" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form id="reddevilForm" runat="server">
        <div id="rdv_container">
            <Reddevil:StaticControl Code="CStatic" RDVID="Searchbox" runat="server" />
            <div style="clear: both"></div>

            <div style="float: left; width: 100%">
                <Reddevil:StaticControl RDVID="AdvLogo" Code="CAdv" runat="server" />
            </div>

            <div style="float: left; width: 100%">
                <Reddevil:StaticControl RDVID="MenuTop" Code="CMenu" runat="server" />
            </div>
            <div style="clear: both"></div>
            <Reddevil:StaticControl Code="CStatic" RDVID="Breacrumb" runat="server" />
            <div style="clear: both"></div>
            <div style="float: left; width: 100%">
                <Reddevil:DynamicControl Code="Main" runat="server" />
            </div>

            <div style="clear: both"></div>
            <Reddevil:StaticControl Code="CMenu" RDVID="MenuFooter" runat="server" />
            <div style="clear: both"></div>


            <Reddevil:DynamicControl Code="RecycleBin" runat="server" />
            <div style="clear: both"></div>

        </div>
    </form>
</body>
</html>
