
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
$font-all:'Open Sans';

$color-text:#333;
$color-active:#0F4C81;
$color-active2:#FC4A01;
$color-icon:#6fad58;
$black: #000;
$white: #fff;
$read: #0F4C81;


