﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Reddevil.Lib.MVC.CPViewControl" %>

<script runat="server">
    private List<EntityBase> AutoGetMap(SysMenuModel model)
    {
        List<EntityBase> list = new List<EntityBase>();

        int _id = model.ParentID;
        while (_id > 0)
        {
            var _item = WebMenuService.Instance.GetByID(_id);

            if (_item == null)
                break;

            _id = _item.ParentID;

            list.Insert(0, _item);
        }

        return list;
    }
</script>

<% 
    var model = ViewBag.Model as SysMenuModel;
    var listItem = ViewBag.Data as List<WebMenuEntity>;
%>

<form id="reddevilForm" name="reddevilForm" method="post">

    <input type="hidden" id="_reddevil_action" name="_reddevil_action" />
    <input type="hidden" id="boxchecked" name="boxchecked" value="0" />


    <div class="pcoded-content">
        <div class="page-header card">
            <div class="row align-items-end">
                <div class="col-lg-8 d-none d-lg-block">
                    <div class="page-header-title">
                        <i class="icon-social-dropbox"></i>
                        <div class="d-inline">
                            <h5>Quản lý Danh mục </h5>
                            <span>Danh sách danh mục</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="page-header-breadcrumb">
                        <ul class=" breadcrumb breadcrumb-title">
                            <%= ShowMap(AutoGetMap(model))%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <%= ShowMessage()%>
                                </div>
                                <div class="card">
                                    <div class="card-header header-control">
                                        <h5>Danh sách Tin</h5>
                                        <div class="controler-header">
                                              <%=GetDefaultListCommand()%>
                                        </div>
                                    </div>
                                  <%--  <div class="card-header header-control">
                                        <div class="tools col-md-12">
                                            <div class="table-group-actions d-inline-block col-md-2 col-xs-12">
                                                <%= ShowDDLLang(model.LangID)%>
                                            </div>
                                            <div class="dataTables_search col-md-6 col-xs-12">
                                            </div>
                                            <div class="table-group-actions d-inline-block col-md-4 col-xs-12">
                                            </div>
                                        </div>
                                    </div>--%>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="" class="table_basic table table-hover m-b-0 "
                                                style="width: 100%">
                                                <thead>
                                                    <tr>
                                                         <th style="text-align: center;">
                                                            <div class="border-checkbox-section">
                                                                <div class="md-checkbox border-checkbox-group border-checkbox-group-info" data-toggle="tooltip" data-placement="bottom" data-original-title="Click chọn tất cả">
                                                                    <input type="checkbox" id="checks" name="toggle" onclick="checkAll('<%=model.PageSize%>')" class="md-check border-checkbox">
                                                                    <label for="checks" class="border-checkbox-label"></label>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th class="text-center"><%= GetSortLink("Tên danh mục", "Name")%></th>
                                                        <%if (model.ParentID == 0)
                                                            { %>
                                                        <th class="sorting text-center hidden-sm hidden-col"><%= GetSortLink("Kiểu dữ liệu", "Type")%></th>
                                                        <%} %>
                                                        <th class="text-center">Trạng thái</th>
                                                        <th style="width: 110px">Sắp xếp vị trí</th>
                                                        <th class="text-center">Tùy chọn</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%for (var i = 0; listItem != null && i < listItem.Count; i++)
                                                        {
                                                    %>
                                                    <tr>
                                                        <td style="text-align: center;"><%= GetCheckbox(listItem[i].ID, i)%></td>
                                                        <td class="text-center"><a style="color: orangered; font-weight: 700" href="javascript:REDDEVILRedirect('Index', <%= listItem[i].ID %>, 'ParentID')">&nbsp;<%= listItem[i].Name%></a></td>
                                                        <%if (model.ParentID == 0)
                                                            {%>
                                                        <td class="text-center hidden-sm hidden-col">
                                                            <%= listItem[i].Type %>
                                                        </td>
                                                        <%} %>

                                                        <td class="text-center"><%= GetPublish(listItem[i].ID, listItem[i].Activity)%></td>
                                                        <td class="text-center"><%= GetOrder(listItem[i].ID, listItem[i].Order)%></td>
                                                        <td class="text-center">
                                                            <div class="control-button">
                                                                <button data-toggle="tooltip" data-original-title="Chỉnh sửa" onclick="REDDEVILRedirect('Add', <%= listItem[i].ID %>)" type="button" class="btn waves-effect waves-light btn-primary btn-icon"><i class="icon-pencil"></i></button>
                                                                <button class="btn waves-effect waves-light btn-danger btn-icon" data-toggle="tooltip" data-original-title="ID" type="button"><%=listItem[i].ID %></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <%} %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row center">
                                            <div class="col-md-12 col-sm-12 justify-content-center d-flex ">
                                                <%= GetPagination(model.PageIndex, model.PageSize, model.TotalRecord)%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">

        var REDDEVILController = 'SysMenu';

        var REDDEVILArrVar = [
            'filter_lang', 'LangID',
            'limit', 'PageSize'
        ];

        var REDDEVILArrQT = [
            '<%= model.PageIndex + 1 %>', 'PageIndex',
            '<%= model.ParentID %>', 'ParentID',
            '<%= model.Sort %>', 'Sort'
        ];

        var REDDEVILArrVar_QS = [
            "filter_search", "SearchText"
        ];

        var REDDEVILArrDefault = [
            '1', 'PageIndex',
            '1', 'LangID',
            '20', 'PageSize'
        ];
    </script>

</form>
