/* ^^^css by:tuanlinhtb@gmail.com - Mobile: 0979 444 398^^^ */ 
@charset "utf-8"; 
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,vietnamese);
{font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;}

/**** HTML5 RESET ****/
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden], template { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body{margin:0}a{background:0 0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Table Of Contents
----------------------------------------

# Text and align
# background
# color
# display
# float
# font
# diplay
# last list
# link
# line
# margin
# padding
# valign
# width
# ellipsis
# position
# text
# clearfix
# btn
# form-control 
# fade 
/*  breadcrumb  ============================================================================= */
/*  pagination  ============================================================================= */
/*  pager  ============================================================================= */
/*  tooltip  ============================================================================= */
/*  popover  ============================================================================= */
/*  hidden  ============================================================================= */
/*  Modal  ============================================================================= */
/*  dropdown-menu  ============================================================================= */

/* # Text and align
---------------------------------------------------------------------------- */ 

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-nowrap { white-space: nowrap; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

/* # background
---------------------------------------------------------------------------- */ 
.bgNone { background: none!important; }  

/* # color
---------------------------------------------------------------------------- */

.red { color: red; }
.blue { color: #1a5eba; }
.gray { color: #ccc; }
.dGray { color: #333; }
.lGray { color: #ccc; }
.note { color: red; }
.attention { color: #f00; }
.required { color: #f66; }


/* # clear
---------------------------------------------------------------------------- */

.cLeft { clear: left; }
.cRight { clear: right; }
.cBoth { clear: both; }
.cNone { clear: none; }


/* # display
---------------------------------------------------------------------------- */

.diNone { display: none!important; }
.diBlock { display: block!important; }
.diInline { display: inline!important; }


/* # float
---------------------------------------------------------------------------- */

.fl  { float: left; }
.fr { float: right; }
.fn { float: none; }

/* # font
---------------------------------------------------------------------------- */

.f80 { font-size: 80%; }
.f90 { font-size: 90%; }
.f100 { font-size: 100%; }
.f110 { font-size: 110%; }
.f120 { font-size: 120%; }
.f130 { font-size: 130%; }
.f140 { font-size: 140%; }
.f200 { font-size: 200%; }
.smallText { font-size: 83%; }   

/* # line
---------------------------------------------------------------------------- */

.borderB { border-bottom: 1px solid #ccc; }
.textUnLine { text-decoration: underline; }
.textNone { text-decoration: none; }
.textThrLine { text-decoration: line-through;}
.textOvLine { text-decoration: overline;}


/* # margin
---------------------------------------------------------------------------- */

.mb5 { margin-bottom: 5px!important; }
.mb10 { margin-bottom: 10px!important; }
.mb15 { margin-bottom: 15px!important; }
.mb20 { margin-bottom: 20px!important; }
.mb30 { margin-bottom: 30px!important; }
.mb40 { margin-bottom: 40px!important; }
.mb50 { margin-bottom: 50px!important; }
.ml3 { margin-left: 3px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml40 { margin-left: 40px; }
.ml50 { margin-left: 50px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }
.mr40 { margin-right: 40px; }
.mr50 { margin-right: 50px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }


/* # padding
---------------------------------------------------------------------------- */

.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }
.pb50 { padding-bottom: 50px; }
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px; }
.pl40 { padding-left: 40px; }
.pl50 { padding-left: 50px; }
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pr40 { padding-right: 40px; }
.pr50 { padding-right: 50px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 40px; }
.pt50 { padding-top: 50px; }


/* # valign
---------------------------------------------------------------------------- */

.vAlignBaseline { vertical-align: baseline; }
.vAlignMiddle { vertical-align: middle; }
.vAlignBottom { vertical-align: bottom; }
.vAlignTop { vertical-align: top; }


/* # width
---------------------------------------------------------------------------- */

.w10p { width: 10%!important; }
.w12p { width: 12%!important; }
.w13p { width: 13%!important; }
.w14p { width: 14%!important; }
.w15p { width: 15%!important; }
.w16p { width: 16%!important; }
.w17p { width: 17%!important; }
.w18p { width: 18%!important; }
.w20p { width: 20%!important; }
.w23p { width: 23%!important; }
.w21p { width: 21%!important; }
.w22p { width: 22%!important; }
.w24p { width: 24%!important; }
.w25p { width: 25%!important; }
.w26p { width: 26%!important; }
.w28p { width: 28%!important; }
.w30p { width: 30%!important; }
.w32p { width: 32%!important; }
.w33p { width: 33%!important; }
.w34p { width: 34%!important; }
.w35p { width: 35%!important; }
.w40p { width: 40%!important; }
.w44p { width: 44%!important; }
.w45p { width: 45%!important; }
.w50p { width: 50%!important; }
.w55p { width: 55%!important; }
.w62p { width: 62%!important; }
.w85p { width: 85%!important; }

/* # ellipsis
---------------------------------------------------------------------------- */

.ellipsis {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-weight: normal;}


/* # position
---------------------------------------------------------------------------- */

.positionR { position: relative; }
.positionA { position: absolute; }
.positionF { position: fixed; }

.topM10 { top: -10px; }
.topM20 { top: -20px; }
.topM30 { top: -30px; }
.topM40 { top: -40px; }
.topM50 { top: -50px; }
.top10 { top: 10px; }
.top20 { top: 20px; }
.top30 { top: 30px; }
.top40 { top: 40px; }
.top50 { top: 50px; }

.rightM10 { right: -10px; }
.rightM20 { right: -20px; }
.rightM30 { right: -30px; }
.rightM40 { right: -40px; }
.rightM50 { right: -50px; }
.right10 { right: 10px; }
.right20 { right: 20px; }
.right30 { right: 30px; }
.right40 { right: 40px; }
.right50 { right: 50px; }

.bottomM10 { bottom: -10px; }
.bottomM20 { bottom: -20px; }
.bottomM30 { bottom: -30px; }
.bottomM40 { bottom: -40px; }
.bottomM50 { bottom: -50px; }
.bottom10 { bottom: 10px; }
.bottom20 { bottom: 20px; }
.bottom30 { bottom: 30px; }
.bottom40 { bottom: 40px; }
.bottom50 { bottom: 50px; }

.leftM10 { left: -10px; }
.leftM20 { left: -20px; }
.leftM30 { left: -30px; }
.leftM40 { left: -40px; }
.leftM50 { left: -50px; }
.left10 { left: 10px; }
.left20 { left: 20px; }
.left30 { left: 30px; }
.left40 { left: 40px; }
.left50 { left: 50px; }


/* # text
---------------------------------------------------------------------------- */

.bold { font-weight: bold; }
.fontItalic { font-style: italic; }


/* # clearfix 
---------------------------------------------------------------------------- */
.clear::after { clear: both; content: "."; display: block;height: 0;visibility: hidden;}
* html > body .clear { display: block; width: 100%; }
* html .clear { height: 1%; }
.clear { clear: both;}

/* # btn 
---------------------------------------------------------------------------- */
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { text-decoration: none; }
.btn:active, .btn.active { background-image: none; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; outline: 0 none; }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { box-shadow: none; cursor: not-allowed; opacity: 0.65; pointer-events: none; }

/* # form-control 
---------------------------------------------------------------------------- */
.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
.form-control:focus { border-color: #66afe9; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); outline: 0 none; }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: #eee; cursor: not-allowed; opacity: 1; }
textarea.form-control { height: auto; }

/* # fade
---------------------------------------------------------------------------- */ 
.fade{opacity:0;transition:opacity 0.15s linear 0s}
.fade.in{opacity:1}
.collapse{display:none;visibility:hidden}
.collapse.in{display:block;visibility:visible}
/*  breadcrumb  ============================================================================= */
.breadcrumb{background-color:#f5f5f5;border-radius:4px;list-style:outside none none;margin-bottom:20px;padding:8px 15px}
.breadcrumb > li{display:inline-block}
.breadcrumb > li + li::before{color:#ccc;content:"/ ";padding:0 5px}
.breadcrumb > .active{color:#777}
/*  pagination  ============================================================================= */
.pagination > li{display:inline}
.pagination > li > a,.pagination > li > span{background-color:#fff;border:1px solid #ddd;color:#337ab7;float:left;line-height:1.42857;margin-left:-1px;padding:6px 12px;position:relative;text-decoration:none}
.pagination > li:first-child > a,.pagination > li:first-child > span{border-bottom-left-radius:4px;border-top-left-radius:4px;margin-left:0}
.pagination > li:last-child > a,.pagination > li:last-child > span{border-bottom-right-radius:4px;border-top-right-radius:4px}
.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus{background-color:#eee;border-color:#ddd;color:#23527c}
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus{background-color:#337ab7;border-color:#337ab7;color:#fff;cursor:default;z-index:2}
.pagination > .disabled > span,.pagination > .disabled > span:hover,.pagination > .disabled > span:focus,.pagination > .disabled > a,.pagination > .disabled > a:hover,.pagination > .disabled > a:focus{background-color:#fff;border-color:#ddd;color:#777;cursor:not-allowed}
.pagination-lg > li > a,.pagination-lg > li > span{font-size:18px;padding:10px 16px}
.pagination-lg > li:first-child > a,.pagination-lg > li:first-child > span{border-bottom-left-radius:6px;border-top-left-radius:6px}
.pagination-lg > li:last-child > a,.pagination-lg > li:last-child > span{border-bottom-right-radius:6px;border-top-right-radius:6px}
.pagination-sm > li > a,.pagination-sm > li > span{font-size:12px;padding:5px 10px}
.pagination-sm > li:first-child > a,.pagination-sm > li:first-child > span{border-bottom-left-radius:3px;border-top-left-radius:3px}
.pagination-sm > li:last-child > a,.pagination-sm > li:last-child > span{border-bottom-right-radius:3px;border-top-right-radius:3px}

/*  pager  ============================================================================= */
.pager{list-style:outside none none;margin:20px 0;padding-left:0;text-align:center}
.pager li{display:inline}
.pager li > a,.pager li > span{background-color:#fff;border:1px solid #ddd;border-radius:15px;display:inline-block;padding:5px 14px}
.pager li > a:hover,.pager li > a:focus{background-color:#eee;text-decoration:none}
.pager .next > a,.pager .next > span{float:right}
.pager .previous > a,.pager .previous > span{float:left}
.pager .disabled > a,.pager .disabled > a:hover,.pager .disabled > a:focus,.pager .disabled > span{background-color:#fff;color:#777;cursor:not-allowed}
/*  tooltip  ============================================================================= */
.tooltip{display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:1.4;opacity:0;position:absolute;visibility:visible;z-index:1070}
.tooltip.in{opacity:0.9}
.tooltip.top{margin-top:-3px;padding:5px 0}
.tooltip.right{margin-left:3px;padding:0 5px}
.tooltip.bottom{margin-top:3px;padding:5px 0}
.tooltip.left{margin-left:-3px;padding:0 5px}
.tooltip-inner{background-color:#000;border-radius:4px;color:#fff;max-width:200px;padding:3px 8px;text-align:center;text-decoration:none}
.tooltip-arrow{border-color:transparent;border-style:solid;height:0;position:absolute;width:0}
.tooltip.top .tooltip-arrow{border-top-color:#000;border-width:5px 5px 0;bottom:0;left:50%;margin-left:-5px}
.tooltip.top-left .tooltip-arrow{border-top-color:#000;border-width:5px 5px 0;bottom:0;margin-bottom:-5px;right:5px}
.tooltip.top-right .tooltip-arrow{border-top-color:#000;border-width:5px 5px 0;bottom:0;left:5px;margin-bottom:-5px}
.tooltip.right .tooltip-arrow{border-right-color:#000;border-width:5px 5px 5px 0;left:0;margin-top:-5px;top:50%}
.tooltip.left .tooltip-arrow{border-left-color:#000;border-width:5px 0 5px 5px;margin-top:-5px;right:0;top:50%}
.tooltip.bottom .tooltip-arrow{border-bottom-color:#000;border-width:0 5px 5px;left:50%;margin-left:-5px;top:0}
.tooltip.bottom-left .tooltip-arrow{border-bottom-color:#000;border-width:0 5px 5px;margin-top:-5px;right:5px;top:0}
.tooltip.bottom-right .tooltip-arrow{border-bottom-color:#000;border-width:0 5px 5px;left:5px;margin-top:-5px;top:0}
/*  popover  ============================================================================= */
.popover{background-clip:padding-box;background-color:#fff;border:1px solid rgba(0,0,0,0.2);border-radius:6px;box-shadow:0 5px 10px rgba(0,0,0,0.2);display:none;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;left:0;line-height:1.42857;max-width:276px;padding:1px;position:absolute;text-align:left;top:0;white-space:normal;z-index:1060}
.popover.top{margin-top:-10px}
.popover.right{margin-left:10px}
.popover.bottom{margin-top:10px}
.popover.left{margin-left:-10px}
.popover-title{background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0;font-size:14px;margin:0;padding:8px 14px}
.popover-content{padding:9px 14px}
.popover > .arrow,.popover > .arrow::after{border-color:transparent;border-style:solid;display:block;height:0;position:absolute;width:0}
.popover > .arrow{border-width:11px}
.popover > .arrow::after{border-width:10px;content:""}
.popover.top > .arrow{border-bottom-width:0;border-top-color:rgba(0,0,0,0.25);bottom:-11px;left:50%;margin-left:-11px}
.popover.top > .arrow::after{border-bottom-width:0;border-top-color:#fff;bottom:1px;content:" ";margin-left:-10px}
.popover.right > .arrow{border-left-width:0;border-right-color:rgba(0,0,0,0.25);left:-11px;margin-top:-11px;top:50%}
.popover.right > .arrow::after{border-left-width:0;border-right-color:#fff;bottom:-10px;content:" ";left:1px}
.popover.bottom > .arrow{border-bottom-color:rgba(0,0,0,0.25);border-top-width:0;left:50%;margin-left:-11px;top:-11px}
.popover.bottom > .arrow::after{border-bottom-color:#fff;border-top-width:0;content:" ";margin-left:-10px;top:1px}
.popover.left > .arrow{border-left-color:rgba(0,0,0,0.25);border-right-width:0;margin-top:-11px;right:-11px;top:50%}
.popover.left > .arrow::after{border-left-color:#fff;border-right-width:0;bottom:-10px;content:" ";right:1px}
/*  GROUPING  ============================================================================= */
.group:before,.group:after{content:"";display:table}
.group:after{clear:both}
.group{zoom:1;/* For IE 6/7 (trigger hasLayout) */}
/*  Modal  ============================================================================= */
.close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:2;background:transparent url('images/icon-close.png')}
button.close{-webkit-appearance:none;padding:0;cursor:pointer;border:0}
.modal-open{overflow:hidden}
.modal-dk{width:400px!important}
@media (max-width:767px){.modal-dk{width:100%!important;padding-right:40px!important}}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto;margin:50px 15px}
.modal-content{position:relative;background:#fff;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}
.col-down{padding:0 20px}
.title-down{font-size:20px;font-weight:500}
.clear-bg{clear:both;padding:15px 0;overflow:hidden}
.clear-bg:nth-last-child(2n+1){background:#f2f2f2}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}
.modal-header{min-height:16.42857143px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-top-left-radius:10px;border-top-right-radius:10px;padding:20px;background:#fff;border-bottom:1px solid #ccc;/*border-bottom:1px solid #e5e5e5;*/}
.modal-header .close{margin-top:-2px}
.modal-title{margin:0;color:#000;text-transform:uppercase;font-weight:500;font-size:20px;text-align:left;line-height:1.2}
.modal-body{overflow:hidden;position:relative;padding:20px 0}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}
.modal-footer .btn + .btn{margin-bottom:0;margin-left:5px}
.modal-footer .btn-group .btn + .btn{margin-left:-1px}
.modal-footer .btn-block + .btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
@media (min-width:768px){.modal-dialog{width:750px;margin:100px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}.modal-sm{width:300px}}
@media (min-width:992px){.modal-lg{width:900px}}
/*  dropdown-menu  ============================================================================= */
.dropdown-menu{position:absolute;top:100%;left:0;z-index:10000;display:none;float:left;min-width:160px;padding:5px 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);/*  border-radius:4px;*/
  -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}
.dropdown-menu > li > a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.42857143;color:#333;white-space:nowrap}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{color:#262626;text-decoration:none;background-color:#f5f5f5}
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{color:#fff;text-decoration:none;background-color:#337ab7;outline:0}
.dropdown-menu > .disabled > a,.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus{color:#777}
.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus{text-decoration:none;cursor:not-allowed;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}
.open > .dropdown-menu{display:block}
.open > a{outline:0}
/*table*/
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
table { background-color: transparent; } 
th { text-align: left; }
.table { width: 100%; max-width: 100%; margin-bottom: 20px; }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {padding: 8px;line-height: 1.42857143;vertical-align: middle;border-top: 1px dotted #d7d7d7;}
.table > thead > tr > th {vertical-align: bottom;}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td, 
.table > thead:first-child > tr:first-child > td { border-top: 0; }
.table > tbody + tbody { border-top: 2px solid #ddd; }
.table .table{background-color:#fff}
.table-condensed > thead > tr > th,.table-condensed > tbody > tr > th,.table-condensed > tfoot > tr > th,.table-condensed > thead > tr > td,.table-condensed > tbody > tr > td,.table-condensed > tfoot > tr > td{padding:5px}
.table-bordered{border:1px solid #ddd}
.table-bordered > thead > tr > th,.table-bordered > tbody > tr > th,.table-bordered > tfoot > tr > th,.table-bordered > thead > tr > td,.table-bordered > tbody > tr > td,.table-bordered > tfoot > tr > td{border:1px solid #ddd}
.table-bordered > thead > tr > th,.table-bordered > thead > tr > td{border-bottom-width:2px}
.table-striped > tbody > tr:nth-of-type(odd){background-color:#f9f9f9}
/* ^^^css by:tuanlinhtb@gmail.com - Mobile:0979 444 398^^^ */
 