/* ^^^css by:tuanlinhtb@gmail.com - Mobile: 0979 444 398^^^ */ 
 /*===================================================================================*/
/*	RESPONSIVE Edit by tuanlinhtb@gmail.com
/*===================================================================================*/

.clear:before, .clear:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clear:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}   

   
@media(max-width:979px) { }
 

@media(min-width:979px) {
  .pd0{padding: 0!important;}
  .pdl {padding-left: 0!important;} 
  .pdr{padding-right: 0!important;} 
}

 
@media (max-width: 991px) {	
  .box_lang {position: absolute;    top: 0; right: 0; }
  .logo img{    max-height: 65px!important;}
  .main-left, .main-right{width: 100%!important;} 
  .Wrapper{    margin: 0 auto!important;}

} 
@media (max-width: 767px) { 
  ul.bg-new01>li{width: 100%!important; padding: 0!important; border: none!important;}
  ul.mf-listmn>li{padding: 0!important;}
  ul.list-new-cate li{padding: 10px 0!important;}
  ul.list-new-cate li .blogsummary{display: none!important;}
  .col-img{padding: 0!important;}
  ul.list-new-cate li .blogtitle{padding: 0!important;}
  .col-content{padding-right: 0!important;}
  ul.list-new-cate li .blogtitle{font-size: 14px!important;}
}
@media (min-width: 768px) and (max-width: 991px) { }
@media (min-width: 992px) and (max-width: 1199px) {  }
@media (min-width: 1200px) { }


.container {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto; 
  }
 /**/
@media (min-width:768px) {
  .container { width:750px; }
}

@media (min-width:992px) {
  .container { width:970px; }
}

@media (min-width:1200px) {
  .container { width:1100px; }
}

.container-fluid { padding-right:15px; padding-left:15px; margin-right:auto; margin-left:auto; }

.row { margin-right:-15px; margin-left:-15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
  width:100%;
}

.col-xs-11 {
  width:91.66666667%;
}

.col-xs-10 {
  width:83.33333333%;
}

.col-xs-9 {
  width:75%;
}

.col-xs-8 {
  width:66.66666667%;
}

.col-xs-7 {
  width:58.33333333%;
}

.col-xs-6 {
  width:50%;
}

.col-xs-5 {
  width:41.66666667%;
}

.col-xs-4 {
  width:33.33333333%;
}

.col-xs-3 {
  width:25%;
}

.col-xs-2 {
  width:16.66666667%;
}

.col-xs-1 {
  width:8.33333333%;
}

.col-xs-pull-12 {
  right:100%;
}

.col-xs-pull-11 {
  right:91.66666667%;
}

.col-xs-pull-10 {
  right:83.33333333%;
}

.col-xs-pull-9 {
  right:75%;
}

.col-xs-pull-8 {
  right:66.66666667%;
}

.col-xs-pull-7 {
  right:58.33333333%;
}

.col-xs-pull-6 {
  right:50%;
}

.col-xs-pull-5 {
  right:41.66666667%;
}

.col-xs-pull-4 {
  right:33.33333333%;
}

.col-xs-pull-3 {
  right:25%;
}

.col-xs-pull-2 {
  right:16.66666667%;
}

.col-xs-pull-1 {
  right:8.33333333%;
}

.col-xs-pull-0 {
  right:auto;
}

.col-xs-push-12 {
  left:100%;
}

.col-xs-push-11 {
  left:91.66666667%;
}

.col-xs-push-10 {
  left:83.33333333%;
}

.col-xs-push-9 {
  left:75%;
}

.col-xs-push-8 {
  left:66.66666667%;
}

.col-xs-push-7 {
  left:58.33333333%;
}

.col-xs-push-6 {
  left:50%;
}

.col-xs-push-5 {
  left:41.66666667%;
}

.col-xs-push-4 {
  left:33.33333333%;
}

.col-xs-push-3 {
  left:25%;
}

.col-xs-push-2 {
  left:16.66666667%;
}

.col-xs-push-1 {
  left:8.33333333%;
}

.col-xs-push-0 {
  left:auto;
}

.col-xs-offset-12 {
  margin-left:100%;
}

.col-xs-offset-11 {
  margin-left:91.66666667%;
}

.col-xs-offset-10 {
  margin-left:83.33333333%;
}

.col-xs-offset-9 {
  margin-left:75%;
}

.col-xs-offset-8 {
  margin-left:66.66666667%;
}

.col-xs-offset-7 {
  margin-left:58.33333333%;
}

.col-xs-offset-6 {
  margin-left:50%;
}

.col-xs-offset-5 {
  margin-left:41.66666667%;
}

.col-xs-offset-4 {
  margin-left:33.33333333%;
}

.col-xs-offset-3 {
  margin-left:25%;
}

.col-xs-offset-2 {
  margin-left:16.66666667%;
}

.col-xs-offset-1 {
  margin-left:8.33333333%;
}

.col-xs-offset-0 {
  margin-left:0;
}

@media (min-width:768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
  }
  .col-sm-12 {
    width:100%;
  }
  .col-sm-11 {
    width:91.66666667%;
  }
  .col-sm-10 {
    width:83.33333333%;
  }
  .col-sm-9 {
    width:75%;
  }
  .col-sm-8 {
    width:66.66666667%;
  }
  .col-sm-7 {
    width:58.33333333%;
  }
  .col-sm-6 {
    width:50%;
  }
  .col-sm-5 {
    width:41.66666667%;
  }
  .col-sm-4 {
    width:33.33333333%;
  }
  .col-sm-3 {
    width:25%;
  }
  .col-sm-2 {
    width:16.66666667%;
  }
  .col-sm-1 {
    width:8.33333333%;
  }
  .col-sm-pull-12 {
    right:100%;
  }
  .col-sm-pull-11 {
    right:91.66666667%;
  }
  .col-sm-pull-10 {
    right:83.33333333%;
  }
  .col-sm-pull-9 {
    right:75%;
  }
  .col-sm-pull-8 {
    right:66.66666667%;
  }
  .col-sm-pull-7 {
    right:58.33333333%;
  }
  .col-sm-pull-6 {
    right:50%;
  }
  .col-sm-pull-5 {
    right:41.66666667%;
  }
  .col-sm-pull-4 {
    right:33.33333333%;
  }
  .col-sm-pull-3 {
    right:25%;
  }
  .col-sm-pull-2 {
    right:16.66666667%;
  }
  .col-sm-pull-1 {
    right:8.33333333%;
  }
  .col-sm-pull-0 {
    right:auto;
  }
  .col-sm-push-12 {
    left:100%;
  }
  .col-sm-push-11 {
    left:91.66666667%;
  }
  .col-sm-push-10 {
    left:83.33333333%;
  }
  .col-sm-push-9 {
    left:75%;
  }
  .col-sm-push-8 {
    left:66.66666667%;
  }
  .col-sm-push-7 {
    left:58.33333333%;
  }
  .col-sm-push-6 {
    left:50%;
  }
  .col-sm-push-5 {
    left:41.66666667%;
  }
  .col-sm-push-4 {
    left:33.33333333%;
  }
  .col-sm-push-3 {
    left:25%;
  }
  .col-sm-push-2 {
    left:16.66666667%;
  }
  .col-sm-push-1 {
    left:8.33333333%;
  }
  .col-sm-push-0 {
    left:auto;
  }
  .col-sm-offset-12 {
    margin-left:100%;
  }
  .col-sm-offset-11 {
    margin-left:91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left:83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left:75%;
  }
  .col-sm-offset-8 {
    margin-left:66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left:58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left:50%;
  }
  .col-sm-offset-5 {
    margin-left:41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left:33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left:25%;
  }
  .col-sm-offset-2 {
    margin-left:16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left:8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left:0;
  }
}

@media (min-width:992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
   
  .col-md-12 {
    width:100%;
  }
  .col-md-11 {
    width:91.66666667%;
  }
  .col-md-10 {
    width:83.33333333%;
  }
  .col-md-9 {
    width:75%;
  }
  .col-md-8 {
    width:66.66666667%;
  }
  .col-md-7 {
    width:58.33333333%;
  }
  .col-md-6 {
    width:50%;
  }
  .col-md-5 {
    width:41.66666667%;
  }
  .col-md-4 {
    width:33.33333333%;
  }
  .col-md-3 {
    width:25%;
  }
  .col-md-2 {
    width:16.66666667%;
  }
  .col-md-1 {
    width:8.33333333%;
  }
  .col-md-pull-12 {
    right:100%;
  }
  .col-md-pull-11 {
    right:91.66666667%;
  }
  .col-md-pull-10 {
    right:83.33333333%;
  }
  .col-md-pull-9 {
    right:75%;
  }
  .col-md-pull-8 {
    right:66.66666667%;
  }
  .col-md-pull-7 {
    right:58.33333333%;
  }
  .col-md-pull-6 {
    right:50%;
  }
  .col-md-pull-5 {
    right:41.66666667%;
  }
  .col-md-pull-4 {
    right:33.33333333%;
  }
  .col-md-pull-3 {
    right:25%;
  }
  .col-md-pull-2 {
    right:16.66666667%;
  }
  .col-md-pull-1 {
    right:8.33333333%;
  }
  .col-md-pull-0 {
    right:auto;
  }
  .col-md-push-12 {
    left:100%;
  }
  .col-md-push-11 {
    left:91.66666667%;
  }
  .col-md-push-10 {
    left:83.33333333%;
  }
  .col-md-push-9 {
    left:75%;
  }
  .col-md-push-8 {
    left:66.66666667%;
  }
  .col-md-push-7 {
    left:58.33333333%;
  }
  .col-md-push-6 {
    left:50%;
  }
  .col-md-push-5 {
    left:41.66666667%;
  }
  .col-md-push-4 {
    left:33.33333333%;
  }
  .col-md-push-3 {
    left:25%;
  }
  .col-md-push-2 {
    left:16.66666667%;
  }
  .col-md-push-1 {
    left:8.33333333%;
  }
  .col-md-push-0 {
    left:auto;
  }
  .col-md-offset-12 {
    margin-left:100%;
  }
  .col-md-offset-11 {
    margin-left:91.66666667%;
  }
  .col-md-offset-10 {
    margin-left:83.33333333%;
  }
  .col-md-offset-9 {
    margin-left:75%;
  }
  .col-md-offset-8 {
    margin-left:66.66666667%;
  }
  .col-md-offset-7 {
    margin-left:58.33333333%;
  }
  .col-md-offset-6 {
    margin-left:50%;
  }
  .col-md-offset-5 {
    margin-left:41.66666667%;
  }
  .col-md-offset-4 {
    margin-left:33.33333333%;
  }
  .col-md-offset-3 {
    margin-left:25%;
  }
  .col-md-offset-2 {
    margin-left:16.66666667%;
  }
  .col-md-offset-1 {
    margin-left:8.33333333%;
  }
  .col-md-offset-0 {
    margin-left:0;
  }
}

@media (min-width:1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width:100%;
  }
  .col-lg-11 {
    width:91.66666667%;
  }
  .col-lg-10 {
    width:83.33333333%;
  }
  .col-lg-9 {
    width:75%;
  }
  .col-lg-8 {
    width:66.66666667%;
  }
  .col-lg-7 {
    width:58.33333333%;
  }
  .col-lg-6 {
    width:50%;
  }
  .col-lg-5 {
    width:41.66666667%;
  }
  .col-lg-4 {
    width:33.33333333%;
  }
  .col-lg-3 {
    width:25%;
  }
  .col-lg-2 {
    width:16.66666667%;
  }
  .col-lg-1 {
    width:8.33333333%;
  }
  .col-lg-pull-12 {
    right:100%;
  }
  .col-lg-pull-11 {
    right:91.66666667%;
  }
  .col-lg-pull-10 {
    right:83.33333333%;
  }
  .col-lg-pull-9 {
    right:75%;
  }
  .col-lg-pull-8 {
    right:66.66666667%;
  }
  .col-lg-pull-7 {
    right:58.33333333%;
  }
  .col-lg-pull-6 {
    right:50%;
  }
  .col-lg-pull-5 {
    right:41.66666667%;
  }
  .col-lg-pull-4 {
    right:33.33333333%;
  }
  .col-lg-pull-3 {
    right:25%;
  }
  .col-lg-pull-2 {
    right:16.66666667%;
  }
  .col-lg-pull-1 {
    right:8.33333333%;
  }
  .col-lg-pull-0 {
    right:auto;
  }
  .col-lg-push-12 {
    left:100%;
  }
  .col-lg-push-11 {
    left:91.66666667%;
  }
  .col-lg-push-10 {
    left:83.33333333%;
  }
  .col-lg-push-9 {
    left:75%;
  }
  .col-lg-push-8 {
    left:66.66666667%;
  }
  .col-lg-push-7 {
    left:58.33333333%;
  }
  .col-lg-push-6 {
    left:50%;
  }
  .col-lg-push-5 {
    left:41.66666667%;
  }
  .col-lg-push-4 {
    left:33.33333333%;
  }
  .col-lg-push-3 {
    left:25%;
  }
  .col-lg-push-2 {
    left:16.66666667%;
  }
  .col-lg-push-1 {
    left:8.33333333%;
  }
  .col-lg-push-0 {
    left:auto;
  }
  .col-lg-offset-12 {
    margin-left:100%;
  }
  .col-lg-offset-11 {
    margin-left:91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left:83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left:75%;
  }
  .col-lg-offset-8 {
    margin-left:66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left:58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left:50%;
  }
  .col-lg-offset-5 {
    margin-left:41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left:33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left:25%;
  }
  .col-lg-offset-2 {
    margin-left:16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left:8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left:0;
  }
}

.col_10_1,.col_10_2, .col_10_3, .col_10_4, .col_10_5, .col_10_6, .col_10_7, .col_10_8, .col_10_9, .col_10_10 { float: left;}
.col_10_10 { width: 100%;}
.col_10_9 { width: 90%;}
.col_10_8 { width: 80%;}
.col_10_7 { width: 70%;}
.col_10_6 { width: 60%;}
.col_10_5 { width: 50%;}
.col_10_4 { width: 40%;}
.col_10_3 { width: 30%;}
.col_10_2 { width: 20%;}
.col_10_1 { width: 10%;}

.pull-right { float:right !important; }

.pull-left { float:left !important; }

.hide { display:none !important; }

.show { display:block !important; }

/*  hidden  ============================================================================= */
@media (max-width: 767px) {
.hidden-xs {
    display: none !important;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.hidden-sm {
    display: none !important;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.hidden-md {
    display: none !important;
}
}
@media (min-width: 1200px) {
.hidden-lg {
    display: none !important;
}
}

/* ^^^css by:tuanlinhtb@gmail.com - Mobile: 0979 444 398^^^ */ 