@charset "utf-8";
/* ^^^css by:tuanlinhtb@gmail.com - Mobile: 0979 444 398 */ 
@import url(modules.css);
@import url(responsive.css);
@import url(font-awesome.css);
html {  -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }

* { margin: 0; padding: 0;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; } 

body { background:#f0f2f3; color:#222; font-size:13px; 
      font-family: Arial,Helvetica,sans-serif; }
 
body::-webkit-scrollbar { width: 1.1em;}
body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.6); }
body::-webkit-scrollbar-thumb { background-color: #C1C1C1; outline: 1px solid #D5A00F; }

img { width: auto; height: auto; max-width: 100%;/* max-height:100%; */ vertical-align: middle;  }

 
:focus { outline: 0 !important; }
figure { margin: 0; padding: 0; } 
img[src*=".svg"] { height: 100%;  }
iframe { border: none; }

::selection {
    background: #B4D5FF; /* Safari */
    color: #333333;
}
::-moz-selection {
    background: #B4D5FF; /* Firefox */
    color: #333333;
}

p { margin-bottom: 10px; }
* > p:last-child { margin-bottom: 0 !important; }
p a:hover { border-color: transparent; }
a:hover, a:focus {text-decoration: none; }
a { text-decoration:none; color: inherit; background-color: transparent;
	-webkit-transition: all 200ms ease-out; -moz-transition: all 200ms ease-out; -o-transition: all 200ms ease-out; transition: all 200ms ease-out;
} 
ul, ol { margin: 0;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: inherit; font-family: inherit; font-weight: 500; margin: 0;} 
h1 { font-size: 39px;}
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 19px; }
h5 { font-size: 15px;}
h6 { font-size: 13px;} 
ol { position: relative;  }
ul { list-style: none; }
label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: 700; } 
.fl {float: left;}
.fr {float: right;}
.all {float: left;width: 100%;} 
.lazy{ background: #fff url(images/loading1.gif) center center no-repeat; min-width: 32px; min-height: 32px; }
.hm-reponsive{position:relative;height:auto!important;width:100%;    padding-top: 56.25%;overflow:hidden}
.hm-reponsive img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0}
.reponsive-img{position:relative;height:auto!important;width:100%;    padding-top: 56.25%;overflow:hidden}
.reponsive-img img{margin:auto;position:absolute;max-width:100%;max-height:100%;top:0;left:0;right: 0; bottom: 0;}
.alink-all{ position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 10;}
.back-to-top{position:fixed;bottom:-50px;right:-50px;transition:all .5s ease-out;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;width:40px;height:40px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-background-clip:padding;background-color:#E41C2C;line-height:45px;text-align:center;color:#fff;display:inline;z-index:999999;cursor:pointer}
.back-to-top a {display: block;}
.back-to-top:hover{background: #eb9007;color:#fff;}
.back-to-top:hover a,.back-to-top a:focus{color:#fff}
.back-to-top.display{bottom:155px;right:10px} 
.form-group { margin-bottom: 15px; }
/*===================================================================================*/
/*	Index
/*===================================================================================*/
.Wrapper {box-shadow: 0px 0px 10px #ccc;background: #fff;padding: 5px;margin: 15px auto;}
.hea-middle{position: relative;}
.logo{text-align:center;float: left;width: 55%;}
.logo img{max-width:100%;max-height: 100px;}
.logotext { text-indent: -9999px; font-size: 0; position: fixed; }
.ultop{ padding: 5px 0; }
.ultop li{float: left;padding: 0 7px;border-right: 1px solid #ccc;}
.ultop li:last-child{border-right: none;}
.box_lang a{margin-left:3px;border:3px solid rgba(255,255,255,0)}
.box_lang a img{width:24px;height:18px}
.box_lang a.current,.box_lang a:hover{border:3px solid rgba(255,255,255,0.2);display:inline-block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.hea-right-top{width: 45%;}
/*startmobile*/
@media (min-width:992px){ 
    .col-middle{display: block;float: left;}
    .wh-menu{z-index: 999;position:relative;float: left;background: #f6b801;}
    .wh-menu .container{padding:0}
    ul.navmenu{margin: 0 auto;}
    ul.navmenu>li{float:left;line-height:24px;color: #242424;position:relative;transition:all 0.25s linear;}
    ul.navmenu>li:last-child ul.submenu{left:inherit;right:0;min-width:240px}
    ul.navmenu>li>a{text-align:left;text-decoration:none;padding: 5px 18px;transition:none;font-weight:700;font-size: 12px;text-transform:uppercase;display:inline-block;font-family: Tahoma,Geneva,sans-serif;}
    ul.navmenu>li:hover,.wh-menu ul>li.active{background:#fff;-webkit-box-shadow:0 0 0 #575757;-moz-box-shadow:0 0 0 #575757;box-shadow:0 0 0 #575757}
    .wh-menu ul>li.drop:after{content:'';position:absolute;right:4px;top:19px;border:5px solid transparent;border-top-color:#fff}
    ul.submenu{display:none;position:absolute;top:100%;left:0;z-index:10000;float:left;min-width: 285px;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);}
    ul.submenu li{width:100%;display:block;border:none;text-align:left;position:relative;float: left;padding: 0;font-family: Tahoma,Geneva,sans-serif;} 
    ul.submenu li a{font-size: 13px;padding:0 10px 0 23px;line-height: 35px;color:#222222;white-space: nowrap;text-transform: none;position: relative;display: block;}  
    ul.submenu li a:before{content: "\f101";position:absolute;font-family:FontAwesome;top: 0px;left: 8px;font-size: 12px;}
    ul.submenu li:hover a{color: #fff;background: #f6b801;} 
    .wh-menu ul>li:hover ul.submenu,ul.submenu>li:hover ul.submenu2{display:block}
    .wh-menu ul>li .icon{width:25px;height:25px;margin: 0px 6px 0 5px;}
    .wh-menu ul>li .icon img{max-height:25px}
    .mm-listview, .mm-listview > li{ float: none!important; }

} /*end Media*/
.my-mobile-menu{display:block}
.nav-btn-show{line-height: 65px;position:relative;text-align:center;cursor:pointer;color: #cc0f0f;font-size:30px;}
ul.navmenu>li>a i.fa{font-size: 15px;padding-right: 6px;}
@media only screen and (max-width:992px){
    .navmenu{display: none;} 
} 
.mm-navbar {  background: #FFF !important; box-shadow: 0px 0px 10px 2px #D3D4D6; }
.mm-menu.mm-theme-white .mm-navbar a {color: #b18408!important;font-size: 15px;text-transform: uppercase;font-weight: bold;}
.mm-menu.mm-theme-white .mm-navbar .mm-btn:before, .mm-menu.mm-theme-white .mm-navbar .mm-btn:after { border-color: #b18408!important; }   
.mm-listview > li > a, .mm-listview > li > span{font-weight:700;    font-family: Tahoma,Geneva,sans-serif; text-transform: uppercase; font-size: 12px;}
/*endtmobile*/
.main-left,.main-right{float: left; padding: 0 15px;} 
.main-left{width: 71%;}
.main-right{width: 29%;}
.title-hea{overflow:hidden;margin-bottom:10px;padding:5px 0;border-bottom:3px solid #f6b801;text-transform:uppercase;font-weight:600;font-family:Tahoma,Geneva,sans-serif;font-size:15px}
ul.bg-new01>li{float:left;font-family:Tahoma,Geneva,sans-serif}
ul.bg-new01>li.part1{width:55%;padding-right:10px;border-right:1px solid #e1e1e1}
ul.bg-new01>li.part2{width:45%;float:right;padding-left:10px}
.nw-thumb{border-bottom:1px solid #EFEFEF;padding-bottom:8px}
.nw-thumb .nw-bigtlt{font-weight:600;font-size:15px;line-height:21px;display:block;margin-bottom:7px;text-decoration:none}
.nw-thumb .img-thumb{float:left;width:45%;padding-right:10px}
.nw-thumb .cpt{color:#333;height:80px;line-height:20px;overflow:hidden;font-size:13px}
ul.bg-new01>li.part1 ul li{overflow:hidden;padding:7px 0}
ul.bg-new01>li.part1 ul li .img-thumb{float:left;width:25%;padding-right:10px}
ul.bg-new01>li.part1 ul li .nw-tlt{font-size:13px;color:#555;display:block;line-height:19px}
ul.lst-news{float:left;width:100%;overflow:hidden;heigh}
ul.lst-news li{border-bottom:1px dotted #ddd;padding-bottom:8px;margin-bottom:10px}
ul.lst-news li a{font-size:13px;line-height:17px;color:#555}
ul.lst-news li:last-child{border-bottom:none}
.adv-box img{width:100%}
.title-side{overflow:hidden;margin-bottom:10px;padding:5px 10px;border-bottom:3px solid #f6b801;text-transform:uppercase;font-weight:600;font-family:Tahoma,Geneva,sans-serif;font-size:15px;background:#f6b801}
.list-new-01{background:#fff}
ul.list-new-01 li{padding:7px 7px 10px;float:left;width:100%;position:relative;border-bottom:1px solid #ddd}
ul.list-new-01 li:last-child{border-bottom:none}
ul.list-new-01 li .port-new01{display:block;position:relative;text-decoration:none}
ul.list-new-01 li .port-new01 .img-thumb{margin-right:10px;float:left;width:35%;overflow:hidden}
ul.list-new-01 li .port-new01 .img-thumb img{width:100%}
ul.list-new-01 li .port-new01 .port-new01-description .txt-new{color:#000;margin-bottom:5px;overflow:hidden;font-size:14px;line-height:18px;height:35px;font-weight:500;display:block}
ul.list-new-01 li .port-new01 .port-new01-description .date{font-size:12px;color:#808080;height:38px;overflow:hidden;letter-spacing:-0.5px;line-height:18px}
ul.list-new-01 li.big-new01 .description{color:#333;font-size:17px;margin-top:10px}
.adv-side-2 img{width:100%}
.diviframe iframe{width:100%!important}
.list_hotro{padding:15px 0 15px 92px;background:url(images/icon-large-support.png) no-repeat left bottom;min-height:115px}
.list_hotro p{color:#7b7b7b;font-size:13px;padding:5px 0;width:100%}
.list_hotro p a{color:#F41918;font-weight:bold}
.list_hotro p img{margin-right:15px;width:60px;vertical-align:middle}
.footer-dk{background:#f6b801;padding:5px 0 5px}
.newsticker-list{color:#fff}
.newsticker-list a.txt{color:#000;font-size:15px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-transform:uppercase;display:block;font-weight:bold;line-height:35px}
.newsticker-list span{padding-right:5px;font-size:12px;color:#999}
.newsticker-list a.txt:hover{}
.newsticker-list .thankssummary{font-size:13px;line-height:20px;max-height:98px;overflow:hidden;color:#333}
.ttmail{color:#C2C2C2;text-transform:uppercase;font-size:16px;margin-bottom:15px}
.input-group{position:relative;display:table;border-collapse:separate}
.input-group .form-control,.input-group-addon,.input-group-btn{display:table-cell}
.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-bottom:0;box-shadow:none}
.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle{border-top-left-radius:0;border-bottom-left-radius:0}
.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){border-top-right-radius:0;border-bottom-right-radius:0}
.input-group-addon,.input-group-btn{width:1%;white-space:nowrap;vertical-align:middle}
.input-group-btn{position:relative;font-size:0;white-space:nowrap}
.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{z-index:2;margin-left:-1px}
.input-group-btn>.btn{position:relative}
.subscribe-form .input-group .form-control{border:2px solid #ffffff;background:#fff;padding:10px;height:35px;font-size:13px;font-style:italic}
.subscribe-form .input-group-btn>.btn{background:#737475;border:1px solid #737475;color:#fff;height:35px;font-size:16px;text-transform:uppercase;padding:6px 26px}
.footer-middle{padding:15px 0 15px}
.footer-middle .row{margin-right:-5px;margin-left:-5px}
ul.mf-listmn>li{margin-bottom:15px;padding:0 15px}
ul.mf-listmn>li .heading{color:#333;position:relative;text-transform:uppercase;font-weight:700;font-family:Tahoma,Geneva,sans-serif;display:block;padding:0 0 10px;font-size:13px}
ul.mf-listmn>li .heading a{}
ul.mf-listmn>li .bg-ft{color:#636363}
ul.mf-listmn>li:nth-of-type(2n+1){clear:left}
ul.list-mn li{padding:3px 0;line-height:18px}
ul.list-mn li a{font-size:13px;color:#555555;font-family:Tahoma,Geneva,sans-serif}
ul.list-mn li a:hover{color:#cecece}
.title-ft{font-size:19px;font-family:'Roboto Condensed',sans-serif;text-transform:uppercase;border-bottom:3px solid #ccc;padding-bottom:6px;margin-bottom:15px}
span.pic-icon{top:50%;left:50%;position:absolute;margin:-30px 0 0 -25px}
span.pic-icon img{width:45px!important;height:45px!important}
span.pic-icon i.fa{color:#fff;font-size:20px}
ul.gallerylist li{margin-bottom:15px;width:33.3333333%;padding:0 5px;float:left}
ul.gallerylist .thumbnail-1 h4{font-size:13px;color:#333;margin-top:7px;font-weight:normal;overflow:hidden;height:32px}
ul.gallerylist .thumbnail-1 span.pic-icon{top:initial;left:3%;margin:0;bottom:5px}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:30px;width:30px;padding:0;background:#e23a24;color:#fff}
.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;line-height:30px;font-size:16px;text-align:center;width:100%!important}
.btn-facebook:hover{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:hover{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-twitter:hover{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-youtube:hover{color:#fff;background-color:#cb2027;border-color:rgba(0,0,0,0.2)}
.btn-pinterest:hover{color:#fff;background-color:#cb2027;border-color:rgba(0,0,0,0.2)}
.add-ft{color:#666;line-height:20px;padding:0 8px;font-size:12px}
.bd-r{border-right:1px solid #ccc}
.logoft img{max-height:100px}
/* chuyenmuc */
.breadcrumb{display:block;overflow:hidden;margin:0;background:transparent;line-height:32px;padding:0 0 7px;float:left;width:100%}
.breadcrumb > li{font-size:14px;color:#333}
.col-img,.col-content{float:left;padding:0 15px}
.col-img{width:33.33333333%}
.col-content{width:66.66666667%}
ul.list-new-cate li{padding:15px 0;float:left;width:100%;border-bottom:1px dashed #e5e5e5;position:relative;font-family:Tahoma,Geneva,sans-serif}
ul.list-new-cate li figure a{display:block}
ul.list-new-cate li .blogtitle{margin-bottom:5px;max-height:70px;overflow:hidden;font-size:16px;color:#333;line-height:22px;font-weight:bold;padding:5px 0;display:block}
ul.list-new-cate li:hover .blogtitle{color:#f6b801}
ul.list-new-cate li .blogsummary{color:#555;font-size:14px;line-height:22px;max-height:65px;overflow:hidden;margin-top:9px}
ul.list-new-cate li .recent-date{color:#777;font-size:12px;font-style:italic}
.thumbnail-news-view{position:relative;font-size:15px;overflow:hidden;padding:10px;float:left;width:100%}
.thumbnail-news-view h1{font-size:19px;font-weight:500;color:#313131;border-bottom:1px solid #ddd;padding-bottom:12px;text-transform:uppercase}
.block_timer_share{padding:10px 0 20px 0;width:100%;overflow:hidden}
.block_timer{font-size:14px;font-weight:400;padding:5px 0 0;white-space:nowrap}
.block_share{padding-right:10px}
.block_share a{width:24px;height:22px;display:block;margin-right:7px;float:left;text-align:center;line-height:22px;background-color:#999999;color:#fff;text-decoration:none;font-size:11px}
.block_share .facebook{background-color:#3B5A9A}
.block_share .google{background-color:#DF4B38}
.block_share .twitter{background-color:#29A9E1}
.block_share .email{background-color:#999999}
.block_share .print{background-color:#999999}
.post_content{word-wrap:break-word;padding-bottom:20px;line-height:25px}
.post_content p{padding-bottom:10px}
.post_content p,.post_content h2,.post_content h3{color:#333;line-height:28px;padding-bottom:10px;font-size:15px}
.post_content>p:first-child,.post_content h2:first-child{background:#fceab2;color:#222;padding:10px;text-align:justify;font-size:14px;margin-bottom:15px}
.block_tag{margin:10px 0}
.block_tag .txt_tag{background:#f1f1f1;padding:0 10px 0 10px;height:20px;color:#939393;float:left;font:400 11px/20px arial;margin:0 5px 0 0}
.block_tag .tag_item{display:inline-block;height:20px;font:400 11px/20px arial;color:#656565;padding:0 10px;white-space:nowrap;background:#f1f1f1;margin:0 5px 5px 0;float:left}
.other-news-detail{position:relative;padding:0;margin-top:10px;float:left;width:100%}
.other-news-detail h2{font-size:18px;border-bottom:1px solid #ccc;font-weight:500;color:#005aab;margin-bottom:5px;text-transform:uppercase;position:relative;padding-bottom:5px;line-height:21px}
.other-news-detail ul li{padding:5px 0 5px 0;display:block;position:relative}
.other-news-detail ul li a{color:#333;text-decoration:none;font-size:14px;display:block;padding-left:18px}
.other-news-detail ul li  a:hover{text-decoration:underline}
.other-news-detail ul li:before{content:"";position:absolute;top:11px;left:2px;width:4px;height:4px;background:#ccc}
/*contact*/
.form-contact{padding:15px}
.contact-info{line-height:1.8;font-size:14px;color:#333}
.contact-info .fa{color:#f6b801;margin-right:5px}
.contact-info .phone{color:#ed1c24;font-size:21px;margin-top:-10px}
.mapiframe iframe{width:100%}
.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}
.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74}