.loader-bg .loader-bar{background:#14a585}
form{display:block;margin-top:0;width:100%}
b,strong{font-weight:bold}
.header-navbar .navbar-wrapper .navbar-container .nav-left li,.header-navbar .navbar-wrapper .navbar-container .nav-right li{padding:0 0}
.header-navbar .navbar-wrapper .navbar-container .nav-right li{padding:0 20px}
.header-navbar .navbar-wrapper .navbar-container .nav-right li .ic-notify{position:relative;top:8px;right:-13px;font-size:20px}
.notification-view{max-height:400px;overflow-y:scroll!important}
.pcoded .pcoded-header[header-theme="themelight1"] .navbar-logo a{margin:unset}
.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li .pcoded-submenu li.active > a,.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li .pcoded-submenu li:hover > a{color:#2afbbd}
.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li .pcoded-submenu{border-left-color:#10d0a2}
.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item > li.active > a,.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item > li.active:hover > a,.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item > li.pcoded-trigger > a,.pcoded[theme-layout="vertical"] .pcoded-navbar[active-item-theme="theme1"] .pcoded-item > li.pcoded-trigger:hover > a{border-left-color:#10d0a2}
.pcoded li.pcoded-hasmenu > a:after{font-size:14px;top:8px}
.page-header.card .page-header-title i{background:#14a585}
.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification,.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification{right:0;top:38px;width:20rem;padding:0}
.show-notification .viewmore{height:35px;text-align:center;background:whitesmoke;position:relative;bottom:0;display:block;width:100%;float:left;line-height:30px;border-top:1px solid #d4d4d4}
.show-notification .viewmore a{font-size:13px}
.show-notification .viewmore a:hover{background:transparent;color:#4099ff!important}
.show-notification .noti-warting{background:#f1f1f1}
.prod-p-card i{padding:10px}
.dataTables_wrapper .dataTables_filter input{margin-left:0.5em;border:1px solid #e0e0e0;height:32px;border-radius:40px;padding:10px 20px;font-size:14px}
.dataTables_wrapper .dataTables_paginate .paginate_button{padding:3px 10px;margin-top:5px}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#fff!important;border:1px solid #e6e6e6;background-color:#14a585;background:#14a585}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:black!important;border:1px solid #cacaca;background-color:#dadada;background:#efefef}
.dataTables_wrapper select{height:32px;border:1px solid #e0e0e0;padding:5px;font-size:14px}
.dataTable.table td,.dataTable.table th{padding:0.75rem;vertical-align:middle}
.control-button .btn i{margin:0}
.control-button .btn.btn-icon{width:40px;line-height:23px;height:30px;padding:3px;text-align:center;font-size:12px}
.btn-i-0 i{margin:0}
button:focus{outline:1px dotted;outline:none}
.switchToggle .anil_nepal{padding:0;width:100%;display:block}
.switchToggle .switch{position:relative;display:inline-block;vertical-align:top;width: 78px;height:20px;padding:3px;margin:0;background:linear-gradient(to bottom,#eee,#6f6464 25px);background-image:unset;border-radius:20px;-webkit-box-shadow:unset;box-shadow:unset;cursor:pointer;-webkit-box-sizing:content-box;box-sizing:content-box;}
.switchToggle label{font-weight:inherit}
.switchToggle input[type="checkbox"],.switchToggle input[type="radio"]{line-height:normal;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
.switchToggle .switch-input{position:absolute;top:0;left:0;opacity:0;-webkit-box-sizing:content-box;box-sizing:content-box}
.switchToggle .switch-left-right .switch-input:checked ~ .switch-label{background:inherit}
.switchToggle .switch-input:checked ~ .switch-label{background:#e1b42b;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.15),inset 0 0 3px rgba(0,0,0,0.2);box-shadow:inset 0 1px 2px rgba(0,0,0,0.15),inset 0 0 3px rgba(0,0,0,0.2)}
.switchToggle .switch-left-right .switch-label{overflow:hidden}
.switchToggle .switch-label,.switchToggle .switch-handle{transition:All 0.3s ease;-webkit-transition:All 0.3s ease;-moz-transition:All 0.3s ease;-o-transition:All 0.3s ease}
.switchToggle .switch-label{position:relative;display:block;height:inherit;font-size:10px;text-transform:uppercase;background:#eceeef;border-radius:inherit;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.12),inset 0 0 2px rgba(0,0,0,0.15);box-shadow:inset 0 1px 2px rgba(0,0,0,0.12),inset 0 0 2px rgba(0,0,0,0.15);-webkit-box-sizing:content-box;box-sizing:content-box}
.switchToggle .switch-left-right .switch-input:checked ~ .switch-label:before{opacity:1;left:100px}
.switchToggle .switch-input:checked ~ .switch-label:before{opacity:0}
.switchToggle .switch-left-right .switch-label:before{background:#eceeef;text-align:left;padding-left:80px!important}
.switchToggle .switch-left-right .switch-label:before,.switchToggle .switch-left-right .switch-label:after{width:20px;height:15px;top:0;left:-38px;right:0;bottom:0;padding:6px 0 0 0;text-indent:-12px;border-radius:20px;-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.2),inset 0 0 3px rgba(0,0,0,0.1);box-shadow:inset 0 1px 4px rgba(0,0,0,0.2),inset 0 0 3px rgba(0,0,0,0.1)}
.switchToggle .switch-label:before{content:attr(data-off);right:11px;color:#aaaaaa;text-shadow:0 1px rgba(255,255,255,0.5)}
.switchToggle span.switch-label:after{content:attr(data-on);left:11px;color:#ffffff;text-shadow:0 1px rgba(0,0,0,0.2);position:absolute}
.switchToggle .switch-label:before,.switchToggle .switch-label:after{position:absolute;top:50%;margin-top:-5px;line-height:1;-webkit-transition:inherit;transition:inherit;-webkit-box-sizing:content-box;box-sizing:content-box}
.switchToggle .switch-left-right .switch-input:checked ~ .switch-label:after{left:0!important;opacity:1;padding-left:20px}
.switchToggle .switch-input:checked ~ .switch-label:after{opacity:1}
.switchToggle .switch-left-right .switch-label:after{text-align:left;text-indent:9px;background:#008d57!important;left:-100px!important;opacity:1;width:100%!important}
.switchToggle .switch-left-right .switch-label:before,.switchToggle .switch-left-right .switch-label:after{width: 45px;height:15px;top:0;left: -50px;right:0;bottom:0;padding: 10px 0 0 0;text-indent:-12px;border-radius:20px;-webkit-box-shadow:unset;box-shadow:unset;}
.switchToggle .switch-input:checked ~ .switch-handle{left: 66px;-webkit-box-shadow:-1px 1px 5px rgba(0,0,0,0.2);box-shadow:-1px 1px 5px rgba(0,0,0,0.2);}
.switchToggle .switch-label,.switchToggle .switch-handle{transition:All 0.3s ease;-webkit-transition:All 0.3s ease;-moz-transition:All 0.3s ease;-o-transition:All 0.3s ease}
.switchToggle .switch-handle{position:absolute;top:7px;left:6px;width:11px;height:11px;background:-webkit-gradient(linear,left top,left bottom,color-stop(40%,#fff),to(#f0f0f0));background:linear-gradient(to bottom,#fff 40%,#f0f0f0);background-image:-webkit-linear-gradient(top,#fff 40%,#f0f0f0);border-radius:100%;-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.2);box-shadow:1px 1px 5px rgba(0,0,0,0.2)}
.switchToggle .switch-handle:before{content:"";position:absolute;top:50%;left:50%;margin:-6px 0 0 -6px;width:15px;height:15px;background:unset;background:unset;background-image:unset;border-radius:6px;-webkit-box-shadow:unset;box-shadow:unset;}
.toggle-switchArea{margin:10px 0 10px 0}
table.dataTable.dtr-column > tbody > tr > td.control:before,table.dataTable.dtr-column > tbody > tr > th.control:before{line-height:18px}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before{top:15px;line-height:15px;content:"+"}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before{content:"-"}
table.dataTable > tbody > tr.child span.dtr-title{display:block;min-width:75px;font-weight:bold;font-size:14px}
.header-control{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.input-group-button.orderBy{margin-bottom:0}
.input-group-button.orderBy svg{width:15px}
input.no-border{width:100%;display:block;border:none}
.table td,.table th{vertical-align:middle}
.md-tabs .nav-item a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.md-tabs .nav-item a i{margin-right:5px}
.md-tabs .nav-item.open .nav-link,.md-tabs .nav-item.open .nav-link:focus,.md-tabs .nav-item.open .nav-link:hover,.md-tabs .nav-link.active,.md-tabs .nav-link.active:focus,.md-tabs .nav-link.active:hover{color:#14a585}
.nav-tabs .slide{background:#14a585}
.tab-content{padding:20px 0}
.form-control:focus{border-color:#14a585;border:1px solid #14a585;-webkit-box-shadow:none;box-shadow:none}
.form-manager .input-group{margin-bottom:0}
.form-manager .input-group-inverse .form-control{border-color:#cccccc}
.plugin-ckEditor textarea#mentions{height:350px}
.plugin-ckEditor div.card{width:300px;background:white;border:3px inset grey;padding:10px;font-size:16px;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif}
.plugin-ckEditor div.card::after{content:"";clear:both;display:table}
.plugin-ckEditor div.card h1{font-size:large;font-weight:bold;margin:0;padding:0;line-height:normal;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif}
.plugin-ckEditor div.card p{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif}
.plugin-ckEditor div.card img.avatar{width:50px;height:50px;margin-right:5px;float:left}
.display-inlne{display:inline-block!important}
.avtar-profile .block-avt img{border-radius:100%;overflow:hidden;width:250px;height:250px;text-align:center;margin:auto;margin-bottom:10px}
.avtar-profile .block-avt #show_img_upload{max-width:100%;padding:0;width:250px}
.avtar-profile form{position:relative}
.controler-header button{display:-webkit-inline-box;display:-ms-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:2px}
.controler-header button svg{width:14px;margin-right:5px}
.table-permission .label-check{margin:5px 0!important;padding:0 10px!important}
.form-order .form-bg-danger{background-color:#ff5370!important}
.form-order .form-bg-inverse{background-color:#37474f!important}
.form-order .notetime{font-size:13px;color:#949494}
.center{text-align:center!important}
.totalprice{font-weight:bold;font-size:16px;margin-right:0;border-radius:0}
.saveStatus{padding:8.5px 10px;font-size:14px}
.btn-icon-svg{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.btn-icon-svg svg{width:15px;margin-right:5px}
.bold{font-weight:bold}
.tabs-create-new .block-list-khoahoc .block-name-edit{position:relative;display:inline-block}
.tabs-create-new .block-list-khoahoc .block-name-edit label{margin-bottom:5px}
.tabs-create-new .block-list-khoahoc .block-name-edit .changerNameEdit{position:absolute;top:-5px;left:0;min-width:300px;width:100%;display:none}
.tabs-create-new .block-list-khoahoc .block-name-edit .changerNameEdit .btnClose i{margin-right:0}
.tabs-create-new .block-list-khoahoc .blockName{width:75%}
.tabs-create-new .block-list-khoahoc .blockName.namelv1 a{font-weight:600;font-size:15px}
.tabs-create-new .block-list-khoahoc .blockName .ic-lock-video{font-size:15px;background:#eaeaea;padding:5px;border-radius:100px;position:relative;top:3px;left:4px;color:black;text-align:center}
.tabs-create-new .block-list-khoahoc .controlButtton{width:140px;text-align:right}
.tabs-create-new .block-list-khoahoc .controlButtton .btn-icon i{margin-right:0}
.tabs-create-new .block-list-khoahoc .item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:10px;border:1px solid #e4e4e4}
.tabs-create-new .block-list-khoahoc .list-lv2,.tabs-create-new .block-list-khoahoc .list-lv3{margin-left:30px}
.bootstrap-tagsinput{border:1px solid #d0d0d0;line-height:30px;border-radius:2px;width:100%;-webkit-box-shadow:unset;box-shadow:unset}
.documentUpload .btn-upload{padding:8px 15px;border-radius:3px}
.list-document-upload .link{width:100%;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;white-space:initial}
.list-document-upload .table-document button i{margin-right:0}
.list-document-upload .table-document td,.list-document-upload .table-document th{white-space:normal}
.table-space-normal td,.table-space-normal th{white-space:normal}
.btnSaveAll .btn{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:auto}
.btnSaveAll .btn svg{width:15px;margin-right:5px}
.no-margin{margin-bottom:0}
.block-list-voucher{margin-top:20px}
.block-list-voucher .btn-remove{width:30px;height:30px;padding:0}
.block-list-voucher .btn-remove i{margin-right:0}
.resuilt_list .form-radio{display:block;width:100%}
.resuilt_list .form-radio .radio:hover .btn-remove-resuilt{display:inline-block}
.btn-remove-resuilt{margin-left:20px;color:red;cursor:pointer;font-size:17px;margin-top:0;position:absolute;display:none}
.fix-group-form-border{border-top-left-radius:0;border-bottom-left-radius:0}
span.scores-item{background:#ff5370;color:#fff;font-weight:600;padding:0 9px 0;border-radius:0;font-size:11px;margin-right:5px;top:-1px;position:inherit}
.uploadFile{height:16px;font-size:14px;-webkit-box-sizing:content-box;box-sizing:content-box;line-height:16px}
.selectCreat #select_create{height:44px!important}
.dataTable.table td,.dataTable.table th{font-size:14px}
.block-frame{border:2px solid #14a585;padding:20px;margin-bottom:20px}
.block-frame .createBox{position:relative;border-bottom:1px dashed #e2e2e2;margin-bottom:10px}
.block-frame .createBox p{line-height:1.6!important}
.block-frame .createBox .controler{display:none;position:absolute;right:0;z-index:1}
.block-frame .createBox .controler .btn{padding:2px 5px;font-size:12px}
.block-frame .createBox .controler .btn i{margin:0}
.block-frame .createBox:hover .controler{display:block}
.block-frame .list-resuilt{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap}
.block-frame .list-resuilt p{width:50%;color:#ff7043}
.input-group-text i{margin-right:5px;font-size:14px}
.btnfix-icon.btn i{margin-right:0}
audio{max-width:100%}
#show_img_upload{max-width:100%;padding:0 40px 0;width:100%}
.input-file-trigger{display:block;padding:8px 20px;background:#4b6e90;color:#fff;font-size:1em;-webkit-transition:all 0.4s;transition:all 0.4s;cursor:pointer;border-radius:40px;font-weight:600}
.input-file{position:absolute;top:0;left:0;width:100%;opacity:0;padding:5px 0;cursor:pointer}
.input-file:hover + .input-file-trigger,.input-file:focus + .input-file-trigger,.input-file-trigger:hover,.input-file-trigger:focus{background:#34495e;color:#39d2b4}
.button-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.button-group .btn{margin:0 5px}
.label-icon{font-size:14px;font-weight:400}
.cursol{cursor:pointer}
.login-block .auth-box{margin:10% auto 0 auto;max-width:450px;background: url(../images/bg-white-lock.png);}
section.login-block{height:100vh}
section.login-block .form-material .form-control:focus{border:none;border-bottom:1px solid black;outline:none}
.page-login{background:-webkit-gradient(linear,left top,right top,from(#155799),to(#159957));background:linear-gradient(to right,#155799,#159957)}
.form-group .messages p{margin-top:3px}
.block-controlRight .ItemControl{background:#fff;border-radius:5px;margin-bottom:15px}
.block-controlRight .ItemControl .titleCollap{padding:15px 10px;border-bottom:1px solid #dedede;width:100%;display:block;font-weight:600;position:relative}
.block-controlRight .ItemControl .titleCollap:hover,.block-controlRight .ItemControl .titleCollap:focus{color:#000}
.block-controlRight .ItemControl .titleCollap:after{position:absolute;content:"\f107";font-family:FontAwesome;font-size:18px;right:10px}
.block-controlRight .ItemControl .panel-body{padding:10px}
.block-controlRight .ItemControl .panel-footer{padding:10px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:#e0e0e08c;border-radius:0 0 5px 5px}
.block-controlRight .ItemControl .panel-footer .btnDelete{color:#bd0000;font-size:13px}
.block-controlRight .ItemControl .panel-footer .btnDelete:hover{color:red}
.block-controlRight .ItemControl .panel-footer .btn-public{font-weight:600;border-radius:5px;font-size:13px}
.block-controlRight .ItemControl .panel-footer .btn-public:hover{background-color:#50a795;border-color:#50a795}
.block-controlRight .ItemControl .form-block{padding:0}
.block-controlRight .ItemControl .form-block > li{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-top:8px;padding-bottom:5px;font-size:13.5px}
.block-controlRight .ItemControl .form-block > li .input-edt{border:1px solid #c5c5c5;width:auto;border-radius:5px;padding:3px 5px}
.block-controlRight .ItemControl .form-block > li .form-control{text-align: left;}
.block-controlRight .ItemControl .form-block > li .form-block{width:100%;display:block;padding:5px 5px;border:1px solid #c5c5c5;border-radius:5px}
.block-controlRight .ItemControl .form-block > li.blockform{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.block-controlRight .ItemControl .form-block > li.blockform .editorBox{width:100%;margin-top:5px}
.block-controlRight .ItemControl .form-block > li .datetimepicker_riki{border:none;width:110px}
.col-form-label{font-weight:600}
.block_loading{position:fixed;left:0;right:0;top:0;bottom:0;width:100%;height:100%;z-index:9999;background:#000000d1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;visibility:hidden;opacity:0;-webkit-transition:opacity 0.7s;transition:opacity 0.7s}
.block_loading.show{opacity:1;visibility:visible}
.block_loading.show .loader{display:block}
.block_loading .loader{border:5px solid #000000;border-radius:50%;border-top:5px solid #2ed8b6;width:90px;height:90px;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite;display:none}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}
@keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
.border-checkbox-section{margin-top:10px}
.border-checkbox-section.block{width:100%;display:block}
.border-checkbox-section.block div{width:100%;display:block}
.table-list-giahan .form-control:disabled,.table-list-giahan .form-control[readonly]{background-color:#005213;opacity:1}
.btn-getlinkyou{padding:5px 10px 5px 12px}
.error-block{height:calc(100vh - 110px);width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:#f2f7fb;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.error-block img{max-width:100%}
.page-error{background-image:none}
.headControl{padding:10px 0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.headControl .blockSearchTable{margin-left:5px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.headControl .blockSearchTable .itemFilter{width:200px;margin-left:5px}
.headControl .blockSearchTable .itemFilter input.inputName{border:none;border-bottom:1px solid #d0d0d0;padding:8px}
.headControl .blockSearchTable .btnFilter{background:#14a585;border:none;font-size:20px;padding:4px 13px;cursor:pointer;color:#ffffff;margin-left:5px;border-radius:5px}
.mt0{margin-bottom:0}
.label.label-lg{padding:8px 10px}
#btnBackToTop{display:inline-block;background-color:#ff9800;width:35px;height:35px;text-align:center;border-radius:4px;position:fixed;bottom:30px;right:30px;-webkit-transition:background-color 0.3s,opacity 0.5s,visibility 0.5s;transition:background-color 0.3s,opacity 0.5s,visibility 0.5s;opacity:0;visibility:hidden;z-index:1000}
#btnBackToTop::after{content:"\f077";font-family:FontAwesome;font-weight:normal;font-style:normal;font-size:1.2em;line-height:35px;color:#fff}
#btnBackToTop:hover{cursor:pointer;background-color:#333}
#btnBackToTop:active{background-color:#555}
#btnBackToTop.show{opacity:1;visibility:visible}
.pagination > li > a,.pagination > li > span{border-radius:5px!important;margin:0 2px}
.pagination{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;margin-top:10px}
.pagination li a{padding:5px 10px;border:1px solid #dedede}
.pagination li a:hover{color:#fff;background:#048b9c;border-color:#048b9c}
.pagination li.active a{color:#fff;background:#048b9c;border-color:#048b9c}
.notifyjs-corner .notifyjs-wrapper,.notifyjs-corner .notifyjs-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.notifyjs-bootstrap-warn{background-size:20px!important;background-position:3px 8px!important;font-size:14px}
.notifyjs-bootstrap-error{background-size:20px!important;background-position:3px 8px!important;font-size:14px}
.notifyjs-bootstrap-success{background-size:20px!important;background-position:3px 8px!important;font-size:14px}
.block-comment .list-comment{margin-bottom:30px}
.block-comment .list-comment .item{border-bottom:1px dashed #d0d0d0;padding:3px 0 5px;padding:10px 20px;margin-left:-20px;margin-right:-20px}
.block-comment .list-comment .item.waiting{background:#e2e2e2}
.block-comment .list-comment .item .name{display:inline-block;background:#ff7043;padding:3px 5px;color:#fff;border-radius:3px;font-size:13px}
.block-comment .list-comment .item a.tolink{background:#42a5f5;color:#fff;padding:3px 5px;border-radius:3px;font-size:13px;display:inline-block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.block-comment .list-comment .item .contentComment{padding:8px 15px;background:#f3f3f3;margin-top:5px;border-radius:10px;margin-bottom:5px;padding-right:50px;position:relative;font-size:13px}
.block-comment .list-comment .item .contentComment .time{color:#a2a2a2;font-size:11px;margin-top:3px}
.block-comment .list-comment .item .contentComment .btnCloseComment{font-size:15px;right:10px;top:5px;position:absolute;cursor:pointer}
.block-comment .list-comment .item .contentComment .btnCloseComment i{color:#a0a0a0}
.block-comment .list-comment .item .btnDrop{background:transparent;border:none;cursor:pointer}
.block-comment .list-comment .item .btnDrop i{color:#000;font-size:15px}
.block-comment .list-comment .item .comment-user{display:-webkit-box;display:-ms-flexbox;display:flex}
.block-comment .list-comment .item .DropSelect{position:absolute;right:10px}
.block-comment .list-comment .item .DropSelect .dropdown-menu{left:-45px!important;min-width:6rem}
.block-comment .list-comment .item .DropSelect .dropdown-menu > a{padding:5px 10px;font-size:12px;border-bottom:1px solid #e8e8e8}
.block-comment .list-comment .item .DropSelect .dropdown-menu > a:last-child{border-bottom:none}
.block-comment .list-comment .item .GroupReplyComment{margin-left:45px}
.block-comment .list-comment .item .contentReply{padding:8px 15px;background:#b1d7f57a;margin-top:5px;border-radius:10px;margin-bottom:5px;color:#000;padding-right:50px;position:relative;font-size:13px}
.block-comment .list-comment .item .contentReply .text-edit{display:none;position:relative;margin-top:5px}
.block-comment .list-comment .item .contentReply .text-edit.show{display:block}
.block-comment .list-comment .item .contentReply .text-edit button{border:none;padding:6.5px 10px;position:absolute;right:0;top:0;color:#fff;background:#dc3545;font-weight:600}
.block-comment .list-comment .item .contentReply .inputComment{padding-right:55px}
.block-comment .list-comment .item .nameUserComment{font-weight:600;margin-right:10px}
.block-comment .list-comment .item .time{font-size:11px;margin-top:3px}
.block-comment .list-comment .item .textContent{width:90%}
.block-comment .list-comment .item .inputComment{border-radius:5px;margin-bottom:5px;padding-right:80px}
.block-comment .list-comment .item .enter-chat{position:relative}
.block-comment .list-comment .item .btn_enterChat{position:absolute;right:0;top:0;border-radius:0;font-size:12px;padding:8.5px 14px;font-weight:700}
.Messto-contact{border-bottom:1px dashed gray;padding-bottom:10px;margin-bottom:10px}
.email-contact{display:inline-block;padding:0 5px 2px;color:#fff;background:#dca709;margin-top:5px;border-radius:3px}
.listImages_upload{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.listImages_upload li{width:100%;margin:0;padding:5px}
.listImages_upload li img{width:125px;height:130px;border:1px solid #a0a0a8;padding:2px 2px;border-radius:3px}
@media (max-width:990px){.page-header.card{margin:0 10px 0;padding:0}.switchToggle{margin-top:5px}.input-group-button.orderBy{margin-top:5px;width:50%}table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child{padding-left:0}table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before{top:35%}}
@media only screen and (max-width:573px){.tabs-scroll{width:100%;overflow:hidden;overflow-x:scroll}.tabs-scroll .md-tabs{display:-webkit-box;display:-ms-flexbox;display:flex;width:420px}.md-tabs .nav-item{position:relative;-webkit-box-flex:unset;-ms-flex:unset;flex:unset;width:140px;float:left}.card .card-block.pdt-0{padding-top:0}.card .card-block.pdt-0 .sub-title{margin-top:15px}.edit-margin-mb{margin-bottom:20px}.edit-margin-mb .form-group{margin-bottom:0.25em}.edit-margin-mb .input-group{margin-bottom:0.25em}.tabs-create-new .block-list-khoahoc .blockName{width:100%}.tabs-create-new .block-list-khoahoc .controlButtton{width:100%}.tabs-create-new .block-list-khoahoc .item{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.btn.btn-icon{border-radius:50%;width:30px;line-height:22px;height:30px;padding:3px;text-align:center;margin-top:10px}}
@media (max-width:1400px){.control-button{margin-top:5px}}
@media (min-width:980px){.fixLabelRadio{padding-top:5px}}
.block_tree .tree,.block_tree .tree ul{margin:0;padding:0;list-style:none}
.block_tree .tree ul{margin-left:1em;position:relative}
.block_tree .tree ul ul{margin-left:0.5em}
.block_tree .tree ul:before{content:"";display:block;width:0;position:absolute;top:0;bottom:0;left:0;border-left:1px solid}
.block_tree .tree li{margin:0;padding:0 1em;line-height:2em;color:#369;font-weight:700;position:relative;cursor:pointer}
.block_tree .tree li i{margin-right:5px}
.block_tree .tree ul li:before{content:"";display:block;width:10px;height:0;border-top:1px solid;margin-top:-1px;position:absolute;top:1em;left:0}
.block_tree .tree ul li:last-child:before{background:#fff;height:auto;top:1em;bottom:0}
.block_tree .indicator{margin-right:5px}
.block_tree .tree li a{text-decoration:none;color:#369}
.block_tree .tree li button,.block_tree .tree li button:active,.block_tree .tree li button:focus{text-decoration:none;color:#369;border:none;background:transparent;margin:0 0 0 0;padding:0 0 0 0;outline:0}
.header-navbar .navbar-wrapper .navbar-container .nav-right > .header-notification:nth-child(1) .show-notification li:first-child:hover,.header-navbar .navbar-wrapper .navbar-container .nav-right > .header-notification:nth-child(1) .profile-notification li:first-child:hover{background-color:#f1f1f1}
.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li,.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li{padding:1em 15px}
.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:first-child,.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child{padding:10px 15px}
.demoImage img,.demoVideo img{max-width:100%}
.body-content{display:none;margin:10px 0}
.body-content label{font-weight:600}
.body-content .btn-save,.body-content .btn-cancel-creatQuiz{margin-top:10px;padding:5px 15px;margin-bottom:10px}
.selectCreat{background:#eaeaea;padding:10px;text-align:right;float:left;width:100%}
.selectCreat .input-group{width:30%;margin-bottom:0;float:right}
.block-frame .createBox{padding-bottom:5px}
.createBox a{color:#000}
.createBox a:focus{color:#000}
.litscheck{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;border:1px solid #dee2e6;padding-bottom:5px!important;padding-top:10px}
.litscheck .item{width:calc(100% / 5);border:none;padding:5px!important}
.litscheck .item label{margin-bottom:0!important;font-size:13px;margin-left:5px}
.litscheck .item > div{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 10px}
.box-permission .title{background:#ececec;font-weight:600}
.box-permission .title .rows-item{position:relative}
.box-permission .title .rows-item .checkbutton{position:absolute;left:0;top:7px;margin-left:15px}
.box-permission .title .rows-item .checkbutton label{margin-bottom:0!important;font-size:13px}
.note.note-danger{background-color:#fef7f8;border-color:#e80012;color:#210406}
.note.note-danger p{color:#f90303;padding:10px;text-align:center}}
.sortMaugiaodien{list-style:none;padding:0;margin:0}
.sortMaugiaodien .item > div{border:2px solid #e2a400;text-align:center;padding:10px;border-radius:5px;cursor:all-scroll;margin-bottom:15px}
.sortMaugiaodien .item > div a{color:#333;font-size:14px}
.sortMaugiaodien .item > div a:hover{color:#e2a400;text-decoration:none}
.titleGrid{background:#2f373e;color:#fff;text-align:center;padding:10px 0;font-size:16px;margin:5px 0 20px}
.manager_page .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-lg{font-size:16px;padding:15px 25px 15px;margin-bottom:20px}
.manager_page span{display:block;font-size:13px;margin-top:5px;color:#949494}
.btn.btn-outline.blue-hoki{border-color:#67809F;color:#67809F;background:0 0}
.btn.green:not(.btn-outline){color:#FFF;background-color:#32c5d2;border-color:#32c5d2}
.btn.red:not(.btn-outline){color:#fff;background-color:#e7505a;border-color:#e7505a}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) > i{margin-top:0;margin-left:3px;margin-right:3px}
.lds-ring{display:block;position:relative;height:80px;padding-left:46%}
.lds-ring div{box-sizing:border-box;display:block;position:absolute;width:64px;height:64px;margin:8px;border:8px solid #fff;border-radius:50%;animation:lds-ring 1.2s cubic-bezier(0.5,0,0.5,1) infinite;border-color:#1fda38 transparent transparent transparent}
.lds-ring div:nth-child(1){animation-delay:-0.45s}
.lds-ring div:nth-child(2){animation-delay:-0.3s}
.lds-ring div:nth-child(3){animation-delay:-0.15s}
@keyframes lds-ring{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
li.breadcrumb-item a{font-size:15px;font-weight:600}
.cmd-custom{list-style:none;margin-top:20px}
.cmd-custom li{width:100%;border-bottom:1px dotted #ccc;padding:0 0 10px 0;margin:0 0 10px 0}
.cmd-custom li img{max-width:80px}
.cmd-custom li a{display:inline-block;text-align:center;width:40px}
.cmd-custom li a .fa-ban{color:#f00}
.cmd-custom li a .fa-arrow-up{color:#26a69a}
.copyright{text-align:center;margin:0 auto;padding:10px;color:#eee;font-size:13px}
.card-block .alert {margin-bottom: 5px;}