﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="System.Web.UI.MasterPage" %>

<!DOCTYPE html>
<html lang="<%=VSW.Core.Web.Application.CurrentViewPage.CurrentLang.Code.ToLower() %>" xml:lang="<%=VSW.Core.Web.Application.CurrentViewPage.CurrentLang.Code.ToLower() %>">
<head id="Head" runat="server">

    <title></title>

    <meta id="description" name="description" content="" runat="server" />
    <meta id="keywords" name="keywords" content="" runat="server" />

    <link id="hreflang_name" name="hreflang_name" rel="alternate" hreflang="x-default" href="https://bepvuson.vn/" runat="server" />
    <link id="canonical_name" name="canonical_name" rel="canonical" href="https://gshop.vn/" runat="server" />

    <!-- Schema.org markup for Google+ -->
    <meta id="schema_name" name="schema_name" itemprop="name" content="" runat="server" />
    <meta id="schema_description" name="schema_description" itemprop="description" content="" runat="server" />
    <meta id="schema_image" name="schema_image" itemprop="image" content="" runat="server" />

    <!-- Open Graph data -->
    <meta id="og_title" name="og_title" property="og:title" content="" runat="server" />
    <meta id="og_url" name="og_url" property="og:url" content="" runat="server" />
    <meta id="og_image" name="og_image" property="og:image" content="" runat="server" />
    <meta id="og_description" name="og_description" property="og:description" content="" runat="server" />

    <meta property="og:site_name" content="bepvuson.vn" />
    <meta property="fb:app_id" content="732073643588940" />
    <meta property="og:type" name="og_type" content="article" />
    <meta property="og:locale:alternate" content="vi_VN" />
    <meta property="article:author" content="https://www.facebook.com/bepvuson.vn" />
    <meta property="article:publisher" content="https://www.facebook.com/bepvuson.vn" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="author" content="bepvuson.vn" />
    <meta name="copyright" content="Copyright &copy; 2017 bepvuson.vn" />
    <meta name="generator" content="webviet24h.com" />
    <meta name="language" content="vietnamese" />
    <meta name="geo.region" content="Vietnamese" />
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content="index,archive,follow" />
    <link href="/Content/pc/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script async src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet" />
    <link type="text/css" href="<%=Static.Tag("/Content/utils/zebradialog/default/zebradialog.css") %>" rel="stylesheet" />
    <link type="text/css" href="<%=Static.Tag("/Content/pc/style.css") %>" rel="stylesheet" />

    {RS:Google_Tag}
    {RS:Google_Analytics}
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '368498470324568');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display: none"
            src="https://www.facebook.com/tr?id=368498470324568&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script>
        fbq('track', 'AddToCart', {
            currency: 'VNĐ',
        });
    </script>
    <script>
        fbq('track', 'Lead');
    </script>
    <!-- Event snippet for ALL Trang conversion page -->
    <script>
        gtag('event', 'conversion', { 'send_to': 'AW-937044868/LkIOCLbpwYoBEITX6L4D' });
    </script>
</head>
<body id="body">
    {RS:Google_TagBody}

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution="setup_tool" page_id="459394530833026" theme_color="#0084ff" logged_in_greeting="Xin chào! Chúng tôi có thể giúp gì cho bạn?" logged_out_greeting="Xin chào! Chúng tôi có thể giúp gì cho bạn?">
    </div>
    <form id="vswForm" runat="server">

        <VSW:StaticControl Code="CRemarketing" VSWID="vswRemarketingDefault" DefaultLayout="Default" runat="server" />

        <div class="Wrapper">
            <header id="fix_header" class="flexbox">
                <VSW:StaticControl Code="CAdv" VSWID="vswAdvLogo" runat="server" />
                <VSW:StaticControl Code="CStatic" VSWID="vswStaticSearchBox" runat="server" />
                <VSW:StaticControl Code="CMenu" VSWID="vswMenuTop" runat="server" />
            </header>
            <main class="content-main">
                <VSW:DynamicControl Code="Main" runat="server" />
            </main>
            <footer id="footer">
                <VSW:StaticControl Code="CMenu" VSWID="vswMenuBottom" runat="server" />
                <VSW:StaticControl Code="CAddress" VSWID="vswAdressBottom" runat="server" />
                <VSW:StaticControl Code="CStatic" VSWID="vswStaticFooter" runat="server" />
            </footer>
        </div>
        <div class="back-to-top"><a href="javascript:void(0)" rel="nofollow"><span class="fa fa-angle-up fa-2x"></span></a></div>

        <script async src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        <div class="zalo-chat-widget" data-oaid="728083833385180154" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="5" data-width="350" data-height="420"></div>
        <script src="https://sp.zalo.me/plugins/sdk.js"></script>
        <script src="<%=Static.Tag("/Content/pc/js/app.pack.js") %>"></script>
        <script src="<%=Static.Tag("/Content/pc/js/data.ajax.js") %>"></script>
        <script src="<%=Static.Tag("/Content/pc/js/google.map.js") %>"></script>
        <script src="//maps.google.com/maps/api/js?callback=init"></script>
        <script src="<%=Static.Tag("/Content/utils/owl.carousel/owl.carousel.js") %>"></script>
        <script src="<%=Static.Tag("/Content/pc/js/library.js") %>"></script>
        <script type='text/javascript'>window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 15037]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);</script>
    </form>

</body>
</html>
