﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="Reddevil.Lib.MVC.CPViewTemplate" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>Quản trị website</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Hệ thống quản trị website phát triển bởi IMEXsoft®" />
    <meta name="author" content="info@IMEXsoft.net" />
    <meta name="generator" content="vantruong2412@live.com" />
    <link rel="shortcut icon" href="/{CPPath}/interface/images/logomedcom.png" type="image/x-icon" />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript"> window.jQuery || document.write("<script src=\"//code.jquery.com/jquery-1.11.3.min.js\">\x3C/script>")</script>
    <link href="/{CPPath}/interface/utils/zebradialog/default/zebradialog.css" type="text/css" media="all" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/{CPPath}/interface/css/bootstrap.min.css">
    <link rel="stylesheet" href="/{CPPath}/interface/css/waves.min.css">
    <link rel="stylesheet" href="/{CPPath}/interface/css/feather.css">
    <link rel="stylesheet" href="/{CPPath}/interface/css/simple-line-icons.css">
    <link rel="stylesheet" href="/{CPPath}/interface/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/{CPPath}/interface/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="/{CPPath}/interface/utils/chosen/chosen.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/{CPPath}/interface/css/style.css">
    <link rel="stylesheet" href="/{CPPath}/interface/css/widget.css">
    <link rel="stylesheet" href="/{CPPath}/interface/css/editor.css">


    <script type="text/javascript" src="/{CPPath}/interface/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        var CPPath = "{CPPath}";
        var Sys_SiteID = "<%=CoreMr.Reddevil.Web.Setting.Sys_SiteID %>";
    </script>

</head>

<body id="minwidth-body">
    <form id="Form1" runat="server">

        <div class="sidebar-overlay"></div>
        <aside id="sidebar" class="sidebar sidebar-fixed-left" role="navigation">
            <div class="nav-mobie"></div>
        </aside>
        <div class="wrapper">
       <%--     <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <a id="index" class="page-logo" href="/{CPPath}/">
                                <img src="/{CPPath}/interface/images/logo.png" alt="IMEXsoft®">
                            </a>
                            <div class="topbar-actions">

                                <div class="btn-group-red btn-group">
                                    <a href="/" target="_blank" type="button" class="btn btn-sm md-skip dropdown-toggle" data-close-others="true"><i class="fa fa-eye"></i>&nbsp;Xem website</a>
                                </div>

                                <div class="btn-group-img btn-group">
                                    <a class="btn btn-sm md-skip dropdown-toggle" href="/{CPPath}/UserChangeInfo.aspx">
                                        <span>Hi, <%= CPViewPage.CurrentUser.Name %></span>
                                        <img src="<%= Utils.GetResizeFile(CPViewPage.CurrentUser.File,2,30,30) %>" alt="Thông tin tài khoản <%= CPViewPage.CurrentUser.Name %>">
                                    </a>
                                </div>
                                <a class="quick-sidebar-toggler md-skip" href="/{CPPath}/Home/Logout.aspx">
                                    <i class="icon-logout"></i>
                                </a>

                            </div>
                        </div>

                    </div>
                </nav>
            </header>--%>

            <div class="container-fluid">

                <asp:ContentPlaceHolder ID="cphMain" runat="server"></asp:ContentPlaceHolder>

                <p class="copyright">
                    2015 - <%=DateTime.Now.Year%> &copy; Administrator by <a target="_blank" href="https://imexsoft.net">IMEXsoft®</a> &nbsp;
                </p>
                <a href="javascript:void(0)" class="go2top"><i class="icon-arrow-up"></i></a>
            </div>

        </div>

        <%--<script src="/{CPPath}/interface/js/jquery-ui.min.js"></script>--%>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>


        <%--<script src="/{CPPath}/interface/js/bootstrap.min.js"></script>--%>
        <script src="/{CPPath}/interface/js/jquery.slimscroll.js"></script>

        <script src="/{CPPath}/interface/js/pcoded.min.js"></script>
        <script src="/{CPPath}/interface/js/vertical-layout.min.js"></script>
        <script src="/{CPPath}/interface/js/bootstrap-tagsinput.js"></script>

        <script src="/{CPPath}/interface/js/moment.min.js" type="text/javascript"></script>
        <script src="/{CPPath}/interface/js/bootstrap-datetimepicker.min.js"></script>

        <script src="/{CPPath}/interface/js/script.min.js"></script>


        <script src="/{CPPath}/interface/js/app.pack.js" type="text/javascript"></script>
        <script src="/{CPPath}/interface/js/data.ajax.js" type="text/javascript"></script>
        <script src="/{CPPath}/interface/utils/nprogress/nprogress.js" type="text/javascript"></script>
        <script src="/{CPPath}/interface/js/library.js" type="text/javascript"></script>

        <script type="text/javascript" src="/{CPPath}/interface/ckeditor/ckeditor.js"></script>
        <script type="text/javascript">
            CKFinder.setupCKEditor(null, { basePath: "/{CPPath}/interface/ckfinder/", rememberLastFolder: true });
        </script>
    </form>
</body>
</html>
