﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="Reddevil.Lib.MVC.CPViewTemplate" %>
<%@ Register Src="MenuTop.ascx" TagName="MenuTop" TagPrefix="Reddevil" %>

<!DOCTYPE html>
<html>
<head runat="server">

    <title>Administration</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="vantruongbn2412@gmail.com" />
    <meta name="generator" content="<%=CoreMr.Reddevil.Web.HttpRequest.Host%>" />

    <link rel="shortcut icon" href="/{CPPath}/interface/images/favicon.ico" type="image/x-icon" />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript"> window.jQuery || document.write("<script src=\"//code.jquery.com/jquery-1.11.3.min.js\">\x3C/script>")</script>
    <script type="text/javascript"> window.jQuery || document.write("<script src=\"/{CPPath}/Content/add/js/jquery.min.js\">\x3C/script>")</script>

    <link rel="stylesheet" href="/{CPPath}/interface/utils/nprogress/nprogress.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/{CPPath}/interface/utils/zebradialog/default/zebradialog.css" type="text/css" media="all" />
    
    
    
    <link rel="stylesheet" href="/{CPPath}/interface/skins/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/{CPPath}/interface/skins/css/custom.css" type="text/css" media="all" />
    
    <script type="text/javascript" src="/{CPPath}/interface/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        var CPPath = "{CPPath}";
        var Sys_SiteID = "<%=CoreMr.Reddevil.Web.Setting.Sys_SiteID %>";
    </script>

</head>
<body id="minwidth-body">
    <form id="reddevilForm" runat="server">

        MobileMode

    </form>
</body>
</html>