﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>





<div id="sound"></div>
<div id="btn-chat" onclick="open_global();" style="display: none">
    <div class="shop-chat-container">
        <i class="fa fa-comments"></i>
        <span>Chát ngay</span>
    </div>
</div>
<div id="shop-chat-bg">
    <div class="shop-chat-bg-view">
        <div class="buddy-list">
            <div class="shop-chat-tabs">
                <ul class="tabs-shop">
                    <li role="presentation" class="active">
                        <a href="#tab-div1" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Tất cả</a>
                    </li>
                </ul>
                <div class="tab-content-list all">
                    <div class="tab-content-list all">
                        <div role="tabpanel" class="tab-pane clear tab-list-user active" id="tab-div1">
                            <ul class="member_list"  id="list_userChat">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="conversation-window">
            <div class="chat-header">
                <div onclick="closeglobal()" id="close"><i class="fa fa-times"></i></div>
                <div class="chat-header-text">
                    <span role="button" aria-expanded="true" id="name_shop">
                    </span>
                   
                </div>
            </div>
            <div class="chat-window" id="list_chatContent">

               
            </div>
             <audio id="audio" src="https://www.azatot.com/Data/upload/images/FbNotifi.mp3" ></audio>
             <div class="chat-window-panel">
                    <input type="hidden" value="0" id="setIDUser" />
                    <input type="text" placeholder="Nhập tin nhắn ..." maxlength="3000" id="txtMessage" class="form-control text-mess" />
                    <div class="fr abbtn">
                        <button class="btn-sent-shop" id="btnSendMsg"><i class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
        </div>
    </div>
</div>
