﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<h3 class="mf-title">Chúng tôi trên facebook</h3>
<div class="fanpage">
    <div class="fb-like-box" data-href="https://www.facebook.com/xcameracomvn-823469097753256" data-width="270" data-height="500" data-show-faces="true" data-stream="false" data-header="false"></div>
</div>