﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<form method="post" name="state_form">
    <div onclick="document.state_form.submit()" class="view-destop all">
        <img src="/Content/mobile/images/viewdesktop.png">Phiên bản Desktop
    </div>
    <input type="hidden" name="_vsw_action[CStatic-ChangeState-MobileState]" />
    <input type="submit" name="_vsw_action[CStatic-ChangeState-MobileState]" style="display: none" />
</form>
