﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<%--<% 
    var _Cart = new Cart();
%>

<div class="logo">
    <a href="index.html" title="">
        <img src="/Content/images/logo.png" class="" alt="">
    </a>
</div>--%>
