﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<%var cart = new Cart(); %>

<div class="cart-number"><span class="cartNumber"><%=string.Format("{0:#,##0}", cart.Items.Count)%></span></div>