﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<a href="#" title="Đã đăng ký với Cục Thương mại điện tử và Công nghệ thông tin – Bộ Công Thương" target="_blank" rel="nofollow">
    <img src="http://online.gov.vn/Images/dathongbao.png" class="lazy" alt="Đã đăng ký với Cục Thương mại điện tử và Công nghệ thông tin – Bộ Công Thương" />
</a>