﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<h3 class="heading">Facebook</h3>
<div class="fb_box">
    <img src="/Content/skins/images/fb_box.png" />
    <div class="fb_bt">
        <div class="fb-like" data-href="https://www.facebook.com/cityplazavietnam/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
    </div>
</div>

<%--<div class="fb-page" data-href="https://www.facebook.com/cityplazavietnam/" data-tabs="timeline" data-width="500" data-height="150" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/cityplazavietnam/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/cityplazavietnam/">Cityplaza</a></blockquote>
</div>--%>
