﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<h2 class="title">Hỗ trợ khách hàng</h2>
<ul class="list-htkh">
    <li>
        <div class="img_02 fl">
            <a href="javascript:void(0)" rel="nofollow"><img src="/Content/skins/images/d1.png" alt="support online" /></a>
        </div>
        <div class="thongtin_02 fr">{RS:Web_Support}</div>
    </li>
</ul>
