.title-manage{margin-bottom:15px;font-family:'Roboto',sans-serif;font-size:20px;font-weight:300;color:#333;background:#ececec;line-height:30px;padding:6px 10px}
.manage-right{flex:0 0 100%;max-width:100%;padding-left:20px}
.bgmanage-content{display:block;padding:0}
.bgmanage-content{display:block;width:100%;background:#fff;border-radius:4px;-webkit-border-radius:4px;float:left;margin-top:20px}
.year-filter_title{float:left;line-height:30px;font-size:14px;font-weight:400;color:#202020;padding-right:6px}
.year-filter_select{font-size:13px;font-weight:lighter;color:#202020;width:150px}
.year-filter_select .form-control{height:30px!important;padding:0 12px;border-radius:0;font-size:13px}
.list-order-teaser .item_order{background-color:#fff;box-shadow:0 1px 1px #dadada;margin-bottom:14px}
.list-order-teaser .item_order .item_order_header{padding:9px 20px;background:#fafafa;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center}
.list-order-teaser .item_order .item_order_header p{margin-bottom:3px}
.list-order-teaser .item_order .item_order_header .order_tt{display:block;font-size:14px;color:#202020}
.list-order-teaser .item_order .item_order_header .order_tt a{color:red}
.list-order-teaser .item_order .item_order_header .order_subtitle{display:block;font-size:13px;font-weight:300;color:#202020}
.list-order-teaser .item_order .item_order_header .order_link{text-transform:uppercase;color:#1a9cb7;font-size:14px}
.list-order-teaser .item_order .item_order_body{padding:10px}
.order-teaser_rows{display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-line-pack:start;align-content:flex-start}
.order-teaser_rows .order-teaser_product{flex:0 0 50%;max-width:50%}
@media (max-width:991px){.order-teaser_rows .order-teaser_product{flex:0 0 100%;max-width:100%}}
.order-teaser_rows .order-teaser_product .order-product-bg{display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;padding:10px}
.order-teaser_rows .order-teaser_product .order-product-bg .img{width:80px;height:65px;text-align:center;float:left;overflow:hidden;border:1px solid #e5e5e5}
.order-teaser_rows .order-teaser_product .order-product-bg .img img{max-height:100%}
.order-teaser_rows .order-teaser_product .order-product-bg .name{width:calc(100% - 80px);float:left;padding-left:10px}
.order-teaser_rows .order-teaser_product .order-product-bg .name .name-product{font-size:14px;color:#000;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.order-teaser_rows .order-teaser_product .order-product-bg .name .status{float:left;width:100%;display:block;margin-top:8px}
.order-teaser_rows .order-teaser_product .order-product-bg .name .status li{display:inline-block;float:left;margin-bottom:10px}
.order-teaser_rows .order-teaser_product .order-product-bg .name .status li:after{content:"|";padding:0 8px;float:right;color:#808080}
.order-teaser_rows .order-teaser_product .order-product-bg .name .status li:last-child:after{content:none;padding:0}
.order-teaser_rows .order-teaser_product .order-product-bg .name .status li a i.fa{padding-right:5px}
.order-teaser_rows .order-teaser_product .order-product-bg .name .status li .status-pro{background-color:#f8f8f8;border:1px solid #dadada;border-radius:12px!important;font-size:12px;color:gray;padding:5px 12px}
.order-teaser_rows .order-teaser_product .order-product-bg .name .status li .gift{color:#199cb7}
.order-teaser_rows .order-teaser_product .order-product-bg .name .status li .remove{color:#e23a24}
.order-details_section{display:flex;flex-wrap:wrap;justify-content:space-between!important;background:#ececec;margin-bottom:15px;box-shadow:0 1px 1px 0 #dadada;white-space:nowrap;padding:18px 15px}
.order-details_shipping{background:#fff;margin-bottom:15px;box-shadow:0 1px 1px 0 #dadada}
.order-details_shipping_header{border-bottom:1px solid #f1f1f1;padding:12px 20px;background:#ececec;display:flex;flex-wrap:wrap;justify-content:space-between}
.order-details_shipping_header .title{font-size:16px}
.order-details_shipping_header .title i.fa{padding-right:6px;color:#FF6600;font-size:18px}
.order-details_shipping_header .seller{color:#FF0000;font-size:14px}
.order-details_shipping_wrapper{padding:12px 20px}
@media (max-width:991px){.order-details_shipping_wrapper{padding:10px 10px}}
.order-details_shipping_wrapper .order-details_state{padding:10px 100px 20px}
@media (max-width:991px){.order-details_shipping_wrapper .order-details_state{padding:10px 10px 20px}}
.order-details_progress{margin:0 25px 34px;position:relative}
.order-details_progress-bar,.order-details_progress-states{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-ms-flex-pack:justify;justify-content:space-between}
.order-details_progress-bar{height:4px;margin-top:-2px;padding:0 8px;position:absolute;top:50%;width:100%}
.order-details_progress-bar-item{background:#e9e9e9;-ms-flex-preferred-size:100%;flex-basis:100%;height:100%;background:gray}
.order-details_progress-states{position:relative}
.order-details_progress-states-item{background:gray;border-radius:50%!important;-ms-flex-negative:0;flex-shrink:0;height:14px;position:relative;width:14px}
.order-details_progress-states-item.is-current{background:#fff;border:5px solid #FF6600;height:20px;width:20px}
.order-details_progress-states-name{left:50%;padding:10px 0;position:absolute;top:100%;-ms-transform:translateX(-50%);transform:translateX(-50%);white-space:nowrap;color:gray;font-size:12px;/* display:none */}
.order-details_progress-states-name.is-current{font-size:14px;color:#FF6600}
.order-pro-table-img img{height:auto;max-height:100%;width:80px}
@media (max-width:991px){.order-pro-table-img{display:none}}
.order-pro-table-detail{width:50%}
.order-pro-table-detail .title{font-size:14px;line-height:1.2;overflow:hidden;color:#202020;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;-webkit-line-clamp:2;font-weight:bold}
.order-pro-table-price{font-size:14px;line-height:1.2;text-align:right}
.order-pro-table-quantity{padding-left:40px!important}
.order-pro-table-quantity .value{font-size:14px;line-height:1.2}
.order-pro-table-actions{text-align:right;font-weight:bold;color:red}
@media (max-width:991px){.order-pro-table-actions{display:none}}
.order-details_footer{display:flex;flex-wrap:wrap;border:1px solid #dadada}
.order-details_footer-column{padding:12px 16px;box-sizing:border-box;box-shadow:0 1px 1px 0 #dadada;flex:0 0 25%;max-width:25%}
.order-details_footer-column:last-of-type{flex:0 0 50%;max-width:50%}
@media (max-width:991px){.order-details_footer-column:last-of-type{flex:0 0 100%;max-width:100%;padding:12px 15px}}
@media (max-width:991px){.order-details_footer-column{flex:0 0 100%;max-width:100%;padding:12px 15px}}
.order-details_footer-column .title{font-size:16px;line-height:1.2;margin-bottom:11px}
.order-details_footer-column .order-details_address{line-height:18px}
.order-details_footer-column .order-details_address p{margin-bottom:3px}
.order-details_footer-column .order-details_receipt{font-size:13px;line-height:1.6}
.order-details_footer-column .order-details_receipt-row{display:flex;flex-wrap:wrap;width:100%;justify-content:space-between;margin-bottom:3px;font-weight:bold}
.order-details_footer-column .order-details_receipt-summary{border-top:1px solid rgba(217,217,217,0.7);margin-top:10px;padding-top:12px}