﻿.featured-thumbnail {
    margin: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

    .featured-thumbnail h5 {
        position: absolute;
        left: 15px;
        bottom: 20px;
        margin-bottom: 0;
        padding: 7px 10px 0px 10px;
    }

h3.title_news {
    margin-top: -20%;
    font-size: 30px;
    margin-left: 5%;
    color: #fcfcfc;
    font-weight: 700;
    line-height: 30px;
}

.featured-thumbnail-right {
    margin: 0 5%;
}

h4.title_news {
    margin-top: 15px;
    font-weight: 600;
    font-size: 16px;
}

.featured-thumbnail-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    margin-top: 50px;
}

    .featured-thumbnail-bottom .box_img {
        position: relative;
        height: auto !important;
        width: 100%;
        padding-top: 100px;
        overflow: hidden;
        width: 80px;
    }

        .featured-thumbnail-bottom .box_img img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 5px;
            object-fit: cover;
        }

    .featured-thumbnail-bottom .info {
        width: calc(100% - 90px);
    }

.info .title_news {
    margin-top: 0px;
}

.list_video {
    display: flex;
    flex-wrap: wrap;
}

    .list_video .item_video {
        margin-bottom: 20px;
        border-bottom: 1px solid #9e9898;
        width: 100%;
    }

        .list_video .item_video iframe, h4 {
            border-radius: 5px;
        }

.item_video h4 {
    color: #fcfcfc;
    background: orange;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box_data_nhakhoahoc {
    padding: 18px 30px;
    background: #fff !important;
    background-clip: border-box;
    border: 0 solid rgba(34, 41, 47, .125);
    border-radius: .428rem;
    box-shadow: rgb(215 215 215 / 50%) 0px 4px 16px;
}

.sec_3 .list_news .item_news .title_news {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin: 0px 5px;
}

.sec_3 .list_news .item_news .descreption {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
    font-family: Arial,sans-serif !important;
    background: unset !important;
    text-align: justify;
    margin-top: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.featured-thumbnail .bgtrans {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: hidden;
    height: auto;
    border-radius: 5px;
    background: rgba(0,0,0,.8);
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,.8)),to (rgba(0,0,0,.6)),to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,.6),rgba(0,0,0,.8));
    background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,.6),rgba(0,0,0,.8));
    background: -ms-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,.6),rgba(0,0,0,.8));
    background: -o-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,.6),rgba(0,0,0,.8));
}

.featured-thumbnail .thumbnail {
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    padding: 0;
    margin-bottom: 0px;
    border-width: 0px;
    border-radius: 5px;
}

    .featured-thumbnail .thumbnail a > img {
        object-fit: cover;
        display: block;
        max-width: 100%;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
        border-radius: .428rem;
    }

.img-hover:hover {
    opacity: 0.6;
}

.featured-thumbnail h5 {
    position: absolute;
    bottom: 0px;
    background: #ffcb43;
    padding: 10px 10px 10px;
    left: 0;
    border-bottom-left-radius: 5px;
}

    .featured-thumbnail h5 a {
        color: #000;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 600;
        e;
    }

@media (max-width:991px) {
    .featured-thumbnail-right {
        margin: 30px 0;
    }

    .featured-thumbnail-bottom {
        margin-bottom: 30px;
    }

    h3.title_news {
        margin-top: -30%;
        font-size: 18px;
        margin-left: 5%;
        color: #fcfcfc;
        font-weight: 700;
        line-height: 30px;
    }

    .featured-thumbnail {
        margin: 0px 0px;
        margin-bottom: 20px;
    }

    .list_video .item_video {
        margin: 0 auto;
    }
}

@media (min-width: 1000px ) and (max-width: 1024px) {
    h4.title_news {
        font-size: 14px;
    }
}

.cd-accordion-menu {
    width: 90%;
    max-width: 600px;
    margin-bottom: 40px;
    box-shadow: 0 4px 40px #c7ccc7;
}

    .cd-accordion-menu ul {
        display: none;
    }

    .cd-accordion-menu li {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .cd-accordion-menu input[type=checkbox] {
        position: absolute;
        opacity: 0;
    }

    .cd-accordion-menu label, .cd-accordion-menu a {
        position: relative;
        display: block;
        padding: 10px 5px 5px 62px;
        background: #eee;
        margin-bottom: 0px;
        font-weight: normal;
    }

    .cd-accordion-menu .has-children label a {
        color: #111;
    }

.no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
    background: #52565d;
}

.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cd-accordion-menu label {
    cursor: pointer;
}

    .cd-accordion-menu label::before, .cd-accordion-menu label::after {
        background-image: url(/interface/pc/images/icon/cd-icons.svg);
        background-repeat: no-repeat;
    }

    .cd-accordion-menu label::before {
        left: 18px;
        background-color: rgba(52, 168, 83, 1);
        background-position: 0 0;
        -webkit-transform: translateY(-50%) rotate(-90deg);
        -moz-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
        -o-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg);
    }

    .cd-accordion-menu label::after {
        left: 41px;
        background-position: -16px 0;
    }

.cd-accordion-menu a::after {
    left: 36px;
    background: url(/interface/pc/images/icon/cd-icons.svg) no-repeat -48px 0;
}

.cd-accordion-menu input[type=checkbox]:checked + label::before {
    /* rotate arrow */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cd-accordion-menu input[type=checkbox]:checked + label::after {
    /* show open folder icon if item is checked */
    background-position: -32px 0;
}

.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    display: block;
}

.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
    background: #f3f3f3;
    padding-left: 82px;
}

.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
    background: #3c3f45;
}

.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
    box-shadow: none;
}

.cd-accordion-menu ul label::before {
    left: 36px;
}

.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
    left: 59px;
}

.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
    padding-left: 100px;
}

    .cd-accordion-menu ul ul label::before {
        left: 54px;
    }

    .cd-accordion-menu ul ul label::after,
    .cd-accordion-menu ul ul a::after {
        left: 77px;
    }

.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
    padding-left: 118px;
}

    .cd-accordion-menu ul ul ul label::before {
        left: 72px;
    }

    .cd-accordion-menu ul ul ul label::after,
    .cd-accordion-menu ul ul ul a::after {
        left: 95px;
    }

@media only screen and (min-width: 600px) {
    .cd-accordion-menu label, .cd-accordion-menu a {
        padding: 10px 12px 12px 82px;
        ;
    }

        .cd-accordion-menu label::before {
            left: 24px;
        }

        .cd-accordion-menu label::after {
            left: 53px;
        }

    .cd-accordion-menu ul label,
    .cd-accordion-menu ul a {
        padding-left: 106px;
    }

        .cd-accordion-menu ul label::before {
            left: 48px;
        }

        .cd-accordion-menu ul label::after,
        .cd-accordion-menu ul a::after {
            left: 77px;
        }

    .cd-accordion-menu ul ul label,
    .cd-accordion-menu ul ul a {
        padding-left: 130px;
    }

        .cd-accordion-menu ul ul label::before {
            left: 72px;
        }

        .cd-accordion-menu ul ul label::after,
        .cd-accordion-menu ul ul a::after {
            left: 101px;
        }

    .cd-accordion-menu ul ul ul label,
    .cd-accordion-menu ul ul ul a {
        padding-left: 154px;
    }

        .cd-accordion-menu ul ul ul label::before {
            left: 96px;
        }

        .cd-accordion-menu ul ul ul label::after,
        .cd-accordion-menu ul ul ul a::after {
            left: 125px;
        }
}

.cd-accordion-menu.animated label::before {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-size: 30px;
    font-weight: 600;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    font-size: 14px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0px;
    font-weight: 500;
}

    .breadcrumb > li + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }

.date_news {
    display: flex;
    float: right;
}

    .date_news i {
        margin-right: 5px;
    }

.featured-thumbnail .hm-reponsive {
    padding-top: 69.8%;
    margin: 0;
}

.featured-thumbnail .bgtrans h3 {
    line-height: 30px;
    color: #fff !important;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    font-weight: 600;
    padding: 20px 0 5px 15px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.userdetail span {
    display: inline-block;
    font-size: 12px;
    color: #999;
    vertical-align: middle;
    margin: 0 15px 5px;
    cursor: pointer;
}

.featured-thumbnails {
    background: #fff !important;
    background-clip: border-box;
    border: 0 solid rgba(34, 41, 47, .125);
    border-radius: .428rem;
    box-shadow: rgb(215 215 215 / 50%) 0px 4px 16px;
    padding: 10px 10px;
}

.hl_content {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    display: inline;
    background: none;
    height: auto;
}

.title_box {
    width: 100%;
    padding: 0 0 0 10px;
    height: 37px;
    font: 700 17px/37px Roboto Condensed;
}

.hl_content .title_box {
    color: #fff;
    background: #074d87;
    height: 33px;
    line-height: 32px;
    font-family: "Open Sans";
}

.content_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 0 10px 2%;
}

    .content_box > .col-6 {
        margin-top: 2%;
    }

.img_box img {
    border: 2px solid #c17b19;
}

.title_book {
    color: #278abd;
    font-size: 1vw;
    margin: 2% 0 0 2%;
}

.content_box_common {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

    .content_box_common .col-12 .tab .tablinks {
        height: 35px;
        line-height: 35px;
        white-space: nowrap;
    }

    .content_box_common .box_filter_data {
        margin: 0 auto;
    }

    .content_box_common .col-12 .tab .tablinks {
        border-radius: 5px;
        background: #0876bf;
        color: #fcfcfc;
        border: 0;
        padding: 10px;
        cursor: pointer;
    }

.main_detail .left {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    box-shadow: 0px 0px 6px 1px #888888;
}

.title_book {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.colorlink {
    color: #0274ad;
}

.main_detail .left .img_book {
    padding: 0 9px 0 5px;
    height: 110px;
    width: 78px;
    float: left;
}

.tabcontent .left .decs_book p {
    padding-bottom: 10px;
    font-weight: 400;
    width: 96%;
    margin: 0% 2% 0% 2%;
}

button.btn_orange_sm {
    width: 64px;
    background: #f5911f;
    border: 1px solid #f5911f;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    float: right;
    font-family: Roboto Condensed,Arial,Helvetica,sans-serif;
}

.btndown {
    width: 84px !important;
    font-size: 12px !important;
    padding: 2px !important;
    float: left;
    margin-right: 5px;
}

.hl_content .featured-thumbnail .thumbnail a > img {
    margin-left: 0;
}

.title_hl_content {
    overflow: hidden;
    float: left;
    height: auto;
    margin-bottom: 8%;
}

.hl_content .featured-thumbnail .thumbnail {
    background: none;
}



.list-news-other {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.list_news .item {
    padding: 0 5px 0 0;
}

.list_news .item {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    padding: 0 5px 3px 0;
    background: #fff !important;
    background-clip: border-box;
    border: 0 solid rgba(34, 41, 47, .125);
    border-radius: 5px;
    box-shadow: rgb(215 215 215 / 50%) 0px 4px 16px;
}

    .list_news .item .blog-item {
        display: flex;
        flex-wrap: wrap;
        font-family: "Open Sans",sans-serif;
        padding: 10px 10px 0 10px;
    }

        .list_news .item .blog-item .blog-item-img {
            flex: 0 0 30%;
            max-width: 30%;
            padding: 0 15px 0 0;
        }


        .list_news .item .blog-item .blog-item-title {
            flex: 0 0 70%;
            max-width: 70%;
        }

            .list_news .item .blog-item .blog-item-title .title-blog {
                font-size: 14px;
                font-weight: bold;
            }

            .list_news .item .blog-item .blog-item-title .title-blog {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 3;
                font-size: 16px;
                font-weight: bold;
            }

            .list_news .item .blog-item .blog-item-title .blog-item-created {
                font-size: 12px;
                font-style: italic;
                color: #999;
                margin: 5px 0;
            }

                .list_news .item .blog-item .blog-item-title .blog-item-created a {
                    color: #d5650d;
                    padding-right: 3px;
                }

            .list_news .item .blog-item .blog-item-title .description {
                -webkit-line-clamp: 3;
            }

            .list_news .item .blog-item .blog-item-title .description {
                color: #848484;
                font-size: 14px;
                text-align: justify;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 3;
                line-height: 25px;
            }

@media (max-width: 767px) {
    .list_news .item .blog-item .blog-item-title .description {
        display: none;
    }
}


