@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap";
.fixed{position:fixed;transition:.5s;top:0;width:100%;max-width:1370px;z-index:9;box-shadow:1px 1px 10px 0 grey}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;overflow-x:hidden;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;position:relative;left:0}
body .over-menu{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;position:fixed;height:100%;content:'';width:100%;left:0;top:0;visibility:hidden;opacity:0;background:rgba(0,0,0,0.6);z-index:9}
body.open-menu{left:-250px}
body.open-menu .over-menu{visibility:visible;opacity:1}
body.open-menu .menu-container{right:0!important}
.hidden{display:none}
section{position:relative;width:100%;float:left;margin-bottom: 15px;}
header{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;background-color:transparent;width:100%;float:left;z-index:10}
header .desk-menu{background: #fdfdfd;position:relative;width:100%;max-width:1920px;float:left;display:flex;flex-wrap:wrap;justify-content:center;align-items:center;}
header .desk-menu .box-menu{display:block;float:right;text-align:center}
header .desk-menu .menu-container .menu-head,header .desk-menu .menu-container .menu-foot{width:100%;float:left;display:none}
header .desk-menu .menu-container .menu-head{display:flex;order:2;padding:16px 10px}
header .desk-menu .menu-container .menu-head .e1{padding:3px 0;float:left}
header .desk-menu .menu-container .menu-head .e1 img{width:29px;float:left;height:29px}
header .desk-menu .menu-container .menu-head .client{align-items:center;flex-wrap:wrap;display:flex;font-size:14px;margin-left:15px;font-weight:500}
header .desk-menu .menu-container .menu-head .client i{margin-right:5px;display:inline-block;width:25px;height:25px;border-radius:50%;text-align:center;border:1px solid red;border:1px solid #0F4C81;line-height:22px}
header .desk-menu .menu-container .menu-head .client span{position:relative;line-height:100%;display:block}
header .desk-menu .menu-container .menu-head .manage-account{display:flex;flex-wrap:wrap;align-items:center;position:relative}
header .desk-menu .menu-container .menu-head .manage-account .box-btn-mb{display:flex;flex-wrap:wrap;align-items:center;cursor:pointer;position:relative}
header .desk-menu .menu-container .menu-head .manage-account .box-img{position:relative;height:auto!important;width:100%;padding-top:25px;overflow:hidden;width:25px;border-radius:50%;margin-right:5px}
header .desk-menu .menu-container .menu-head .manage-account .box-img img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0}
header .desk-menu .menu-container .menu-head .manage-account .name-acc{font-size:14px;font-weight:400;margin-right:5px}
header .desk-menu .menu-container .menu-head .manage-account .show-list{position:absolute;top:120%;right:0;z-index:9;background:#fff;border-radius:5px;min-width:200px;padding:10px;box-shadow:0 0 3px 0 #aeaeae;color:#333;text-align:left}
@media (max-width:991px) {
header .desk-menu .menu-container .menu-head .manage-account .show-list{display:none}
}
header .desk-menu .menu-container .menu-head .manage-account .show-list li a{padding-right:25px;position:relative;display:block;padding:5px}
header .desk-menu .menu-container .menu-head .manage-account .show-list li i{position:absolute;right:5px;top:50%;transform:translate(0,-50%);color:#0F4C81}
@media (max-width:991px) {
header .desk-menu .menu-container .menu-head .manage-account .show-list{right:unset;left:0}
header .desk-menu .menu-container .menu-head .manage-account .show-list li a{color:#333!important}
}
@media (min-width:992px) {
header .desk-menu .menu-container .menu-head .manage-account .show-list{opacity:0;visibility:hidden}
header .desk-menu .menu-container .menu-head .manage-account:hover .show-list{opacity:1;visibility:visible;top:100%;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
header .desk-menu .menu-container .menu-head .manage-account:hover .show-list li:hover{background:#0F4C81;color:#fff}
}
header .desk-menu .menu-container .menu-foot{position:absolute;bottom:0;padding:15px 0}
header .desk-menu .menu-container .menu-foot .social{display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
header .desk-menu .menu-container .menu-foot .social a{position:relative;margin:0 15px 0 0;color:#fff;text-align:center;padding:5px 0;border-radius:50%;background:#0F4C81;width:40px;height:40px;font-size:20px}
header .desk-menu .menu-container .menu-foot .social a:last-child{margin:0}
header .desk-menu .menu-container .menu-foot .social a:hover{background:#0F4C81}
header .desk-menu .menu-container .menu-foot hr{margin:15px auto 20px;display:table;width:calc(100% - 20px)}
header .desk-menu .menu-container .menu-foot address{position:relative;text-align:left;padding:0 15px;margin:0}
header .desk-menu .menu-container .menu-foot address i{position:absolute;left:0;top:0}
header .desk-menu .menu-container .menu-foot address span{padding:0 0 0 20px;position:relative;margin-bottom:5px;font-size:12px;display:block}
header .desk-menu .menu-container .menu{float:left;display:flex;justify-content:space-between;flex-wrap:wrap;width:100%;padding:0;list-style:none;position:relative}
header .desk-menu .menu-container .menu li.back{display:none}
header .desk-menu .menu-container .menu > li{cursor:pointer;position:relative;overflow:inherit}
header .desk-menu .menu-container .menu > li > a{font-weight:700}
header .desk-menu .menu-container .menu > li a{position:relative;font-size:15px;padding:14px 8px;display:block;color:#0F4C81;border-bottom:2px solid transparent;border-radius: 3px;}
header .desk-menu .menu-container .menu > li.menu-item-has-children > a{padding:14px 15px 14px 0;position:relative}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu{box-shadow:1px 2px 4px rgba(46,61,73,0.2);-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-overflow-scrolling:touch;min-width: 206px;position:absolute;list-style:none;background:#fff;padding:0;float:left;display:table;left:0;width:100%;float:left;z-index:9;background-clip: border-box;border: 0 solid rgba(34, 41, 47, .125);border-radius: .428rem;box-shadow: rgb(215 215 215 / 50%) 0px 4px 16px;padding: 5px;}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li{width:100%;-webkit-transition:all .33s ease;-moz-transition:all .33s ease;-ms-transition:all .33s ease;-o-transition:all .33s ease;transition:all .33s ease}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a{color:#0F4C81;padding:8px 12px}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li .sub-menu{display:none}
@media (min-width:992px) {
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li .sub-menu{top:120%;visibility:hidden;opacity:0;left:100%}
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > a{display:block}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu{display:block}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a{color:#fff!important;background-color: #167ec9;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s;}
@media (min-width:992px) {
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover .sub-menu{top:0;visibility:visible;opacity:1}
}
@media (min-width:992px) {
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu{top:120%;visibility:hidden;opacity:0}
}
header .desk-menu .menu-container .menu > li.menu-item-has-children a{text-align:left}
header .desk-menu .menu-container .menu > li.menu-item-has-children a:hover{margin-top:0}
header .desk-menu .menu-container .menu > li:hover > a{font-weight:700}
header .desk-menu .menu-container .menu > li:hover > a::before{-webkit-transform:translateX(5px) rotate(-45deg);-moz-transform:translateX(5px) rotate(-45deg);-ms-transform:translateX(5px) rotate(-45deg);-o-transform:translateX(5px) rotate(-45deg);transform:translateX(5px) rotate(-45deg);width:10px;right:12px}
header .desk-menu .menu-container .menu > li:hover > a::after{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);width:10px;right:7px}
header .desk-menu .menu-container .menu > li:before{content:"";position:absolute;left:0;right:100%;bottom:0;background: #147ac6;height:2px;-webkit-transition-property:right;transition-property:right;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
@media (min-width:992px) {
header .desk-menu .menu-container .menu > li:hover .sub-menu{visibility:visible;opacity:1;top:100%;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
header .desk-menu .menu-container .menu > li:hover:before{right:0}
header .desk-menu .menu-container .menu > li.active > a{border-bottom:2px solid #0F4C81;font-weight:700}
}
@media (min-width:992px) {
header .desk-menu .menu-container{display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
header .desk-menu .menu-container .menu-header-container{width:100%}
header .desk-menu .menu-container .menu-head{width:unset!important;flex:1;display:none;justify-content:flex-end}
}
header .hamburger-menu{display:none}
header.fixed{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
header.fixed::before{box-shadow:0 5px 25px 0 rgba(46,61,73,0.2);height:100%;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
header.fixed .desk-menu .menu-container .menu > li.menu-item-has-children > a::before,header.fixed .desk-menu .menu-container .menu > li.menu-item-has-children > a::after{background-color:#0F4C81}
header.fixed .desk-menu .box-menu{padding:0}
header.fixed .desk-menu .box-menu ul li a{color:#0F4C81}
@media (max-width:991px) {
header .hamburger-menu{position:absolute;right:15px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;display:block;width:30px;height:40px;cursor:pointer;z-index:11}
header .hamburger-menu span{text-transform:uppercase;left:calc(-100% + -5px);padding:8px 9px 8px 0;top:calc(50% - 18px);position:absolute;font-size:13px;color:#fff}
header .hamburger-menu .bar,header .hamburger-menu .bar::after,header .hamburger-menu .bar::before{width:35px;height:3px}
header .hamburger-menu .bar{position:relative;-webkit-transform:translateY(25px);-moz-transform:translateY(25px);-ms-transform:translateY(25px);-o-transform:translateY(25px);transform:translateY(25px);-webkit-transition:all .1s ease;-moz-transition:all .1s ease;-ms-transition:all .1s ease;-o-transition:all .1s ease;transition:all .1s ease;background:#fff;top:-7px;border-radius:5px}
header .hamburger-menu .bar::before,header .hamburger-menu .bar::after{position:absolute;background:#fff;content:'';left:0;border-radius:5px}
header .hamburger-menu .bar::before{bottom:10px;-webkit-transition:bottom 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);-moz-transition:bottom 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);-ms-transition:bottom 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);-o-transition:bottom 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);transition:bottom 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1)}
header .hamburger-menu .bar::after{top:10px;-webkit-transition:top 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);-moz-transition:top 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);-ms-transition:top 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);-o-transition:top 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);transition:top 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1)}
header .hamburger-menu .bar.animate{background:rgba(255,255,255,0)}
header .hamburger-menu .bar.animate::after{top:0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:top 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);-moz-transition:top 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);-ms-transition:top 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);-o-transition:top 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);transition:top 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1)}
header .hamburger-menu .bar.animate::before{bottom:0;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition:bottom 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);-moz-transition:bottom 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);-ms-transition:bottom 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);-o-transition:bottom 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);transition:bottom 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1)}
header .desk-menu .box-menu ul li a{border-bottom:1px solid #eaeaea}
header .desk-menu .menu-container{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;background:#fff;position:fixed;height:100%;width:250px;right:-250px;top:0;z-index:99}
header .desk-menu .menu-container .menu-header-container{position:relative;float:left}
header .desk-menu .menu-container .menu-header-container ul{padding:10px!important}
header .desk-menu .menu-container .menu{margin:0}
header .desk-menu .menu-container .menu li.back{position:relative;display:block}
header .desk-menu .menu-container .menu li.back a{padding:12px 12px 12px 35px!important}
header .desk-menu .menu-container .menu li.back a::before,header .desk-menu .menu-container .menu li.back a::after{background-color:#0F4C81;position:absolute;content:'';height:2px;width:7px;top:23px}
header .desk-menu .menu-container .menu li.back a::before{-webkit-transform:rotate(-45deg)!important;-moz-transform:rotate(-45deg)!important;-ms-transform:rotate(-45deg)!important;-o-transform:rotate(-45deg)!important;transform:rotate(-45deg)!important;top:20px!important;right:inherit!important;left:15px!important}
header .desk-menu .menu-container .menu li.back a::after{-webkit-transform:rotate(45deg)!important;-moz-transform:rotate(45deg)!important;-ms-transform:rotate(45deg)!important;-o-transform:rotate(45deg)!important;transform:rotate(45deg)!important;top:24px!important;left:15px!important}
header .desk-menu .menu-container .menu li.line{display:none!important}
header .desk-menu .menu-container .menu > li{width:100%;float:left;margin:0;text-align:left}
header .desk-menu .menu-container .menu > li a{padding:12px;color:#0F4C81!important}
header .desk-menu .menu-container .menu > li.menu-item-has-children{position:initial}
header .desk-menu .menu-container .menu > li.menu-item-has-children a{padding:12px}
header .desk-menu .menu-container .menu > li.menu-item-has-children a::before,header .desk-menu .menu-container .menu > li.menu-item-has-children a::after{background:#0F4C81!important}
header .desk-menu .menu-container .menu > li.menu-item-has-children a::before{right:6px!important;top:16px!important;width:7px!important}
header .desk-menu .menu-container .menu > li.menu-item-has-children a::after{top:21px!important;width:7px!important}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu{box-shadow:none;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;display:block!important;background:#fff;z-index:1;top:0;left:100%;height:100%}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu{margin-top:0}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu.open-sub{left:0}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before,header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after{background-color:#0F4C81}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before{-webkit-transform:rotate(45deg)!important;-moz-transform:rotate(45deg)!important;-ms-transform:rotate(45deg)!important;-o-transform:rotate(45deg)!important;transform:rotate(45deg)!important;right:6px!important;top:22px!important;width:7px!important}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after{-webkit-transform:rotate(-45deg)!important;-moz-transform:rotate(-45deg)!important;-ms-transform:rotate(-45deg)!important;-o-transform:rotate(-45deg)!important;transform:rotate(-45deg)!important;right:6px!important;top:26px!important;width:7px!important}
header .desk-menu .menu-container .menu > li:hover a:before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);right:6px;top:22px}
header .desk-menu .menu-container .menu > li:hover a::after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);right:6px;top:26px}
header .desk-menu .menu-container .menu-head{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;display:none}
header .desk-menu .menu-container .menu-foot{display:block}
header.fixed .hamburger-menu{top:31px}
header.fixed .hamburger-menu span{color:#0F4C81}
header.fixed .hamburger-menu .bar{background:#fff;background:rgba(255,255,255,0)}
header.fixed .hamburger-menu .bar::before,header.fixed .hamburger-menu .bar::after{background:#fff}
}
@media (max-width:767px) {
header .desk-menu .menu-container .menu li a{padding:8px 12px}
header .desk-menu .menu-container .menu li.back a{padding:8px 12px 8px 35px!important}
header .desk-menu .menu-container .menu li.back a::before{top:17px!important}
header .desk-menu .menu-container .menu li.back a::after{top:21px!important}
header .desk-menu .menu-container .menu > li.menu-item-has-children a{padding:8px 12px}
header .desk-menu .menu-container .menu > li.menu-item-has-children a::before{top:18px}
header .desk-menu .menu-container .menu > li.menu-item-has-children a::after{top:22px}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a{padding:8px 12px}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before{top:18px}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after{top:22px}
}
@media (max-width:481px) {
header .hamburger-menu .bar,header .hamburger-menu .bar::after,header .hamburger-menu .bar::before{width:30px;height:4px;border-radius:5px}
header .hamburger-menu .bar::before{bottom:9px}
header .hamburger-menu .bar::after{top:9px}
}
@media (max-height:550px) {
header .desk-menu .menu-container .menu-foot hr,header .desk-menu .menu-container .menu-foot address{display:none}
}
.resize-message{margin:40vh auto 0;display:table}
.resize-message span{text-transform:uppercase;text-align:center;display:block;color:#666}
.resize-message span i{font-size:30px}
.author{position:fixed;bottom:0;z-index:2;width:100%;padding:30px 15px 15px;background:rgba(0,0,0,0);background:-moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 54%,black 100%);background:-webkit-gradient(left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(54%,rgba(0,0,0,0.54)),color-stop(100%,black));background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 54%,black 100%);background:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 54%,black 100%);background:-ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 54%,black 100%);background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 54%,black 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000',GradientType=0)}
.author a{font-size:16px;display:table;margin:0 auto;text-decoration:none;color:#fff;font-weight:700}
.cart-icon{width:35px;height:35px;border:2px solid #2d2d2d;line-height:35px;text-align:center;position:relative;margin-left:10px}
.cart-icon:before{content:"";position:absolute;top:-11px;left:50%;transform:translateX(-50%);width:20px;height:40px;border-radius:50%;border-top:4px solid #2d2d2d}
.cart-icon:hover{background:#000;color:#fff}
.header_top{padding: 0;transition:.5s}
.header_top > .container{display:flex;place-content:flex-end;align-items:center}
.box_search_top{position:relative;margin-right:15px;border-radius:5px}
.box_search_top input{width:350px;height:25px;border-radius:5px;padding:0 15px 0 35px;color:#fff;border:none;background:#0F4C81}
.box_search_top button{position:absolute;left:0;top:0;font-size:16px;color:#fff;height:25px;border:none;background:transparent}
@media (max-width:991px) {
.box_search_top input{width:230px}
.box_search_top button{font-size:15px;line-height:1}
}
.box-menu{width:100%}
.box_cart_top{display:flex;align-items:center;position:relative;cursor:pointer}
.box_cart_top:hover .cart-icon{background:#000;color:#fff}
@media (min-width:992px) {
.box_cart_top:hover .box_show_h_cart{display:block;transition:all .5s}
}
.hder_mid{background:url(/interface/pc/images/img/bgr_banner_top.png);background-size: cover;}
.hder_mid > .container{display:flex;height:130px;align-items:center}
.hder_mid .slogan h2{font-weight:700;font-size: 26px;line-height:25px;text-transform:uppercase;color:#fff;margin-bottom:7px;}
.hder_mid .slogan p{color:#ffef60;font-weight:400;font-size: 18px;line-height:20px;text-transform:uppercase;}
.hder_mid .logo{margin-right:10px}
@media (max-width:991px) {
.hder_mid .slogan h2{font-size:14px;padding-right:50px;margin-bottom:0}
.hder_mid .slogan p{display:none}
}
@media (max-width:991px) {
.hide_mb{display:none}
.hder_mid > .container{align-items:center}
}
@media (max-width:991px) {
.hide_mb{display:none}
.header_top .hotline{text-align:center;text-transform:inherit;width:100%}
.hder_mid > .container{align-items:center;height:80px;position:relative}
.hder_mid .logo{width:75px!important}
.cart-icon{width:30px;height:30px;border:2px solid #2d2d2d;line-height:30px}
}

@media (min-width:1366px) {
    .container.logo-container {
        max-width: 1600px;
    }
    .container-menutop {
        max-width: 1300px;
    }
}

header .desk-menu .menu-container .menu > li:first-child{margin-left:0}
body{background: #F8F8F8;color:#000;font-family:"Open Sans";margin:0;padding:0;font-size:14px;max-width:1920px;margin:0 auto;}
body h1,body h2,body h3,body h4,body h5,body h6{line-height:1.4;color:#222}
body h1,body h2,body h3,body h4,body h5,body h6,body p{margin-bottom:0}
body h1{font-size:72px}
body h2{font-size:36px}
body h3{font-size:22px}
body h4{font-size:18px}
@media (max-width:767px) {
body h1{font-size:66px}
body h2{font-size:28px}
body h3{font-size:20px}
body h4{font-size:18px}
}
body ul,body li{list-style:none;padding:0;margin-bottom:0}
body img{max-width:100%;border-radius: 5px;}
body button:focus,body input:focus,body select:focus,body textarea:focus{outline:0}
body a{color:unset;text-decoration:none}
body a:hover,body a:active,body a:focus{text-decoration:none;color:unset}
.compensate-for-scrollbar{margin:0 auto!important;overflow:unset!important}
.breadcrumb{margin-bottom:0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;-webkit-line-clamp:1}
.back-to-top{position:fixed;bottom:-50px;right:-50px;transition:all .5s ease-out;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;width:40px;height:40px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px!important;-moz-background-clip:padding;background-color:#bb0303;line-height:50px;text-align:center;color:#fff;display:inline;z-index:999999;cursor:pointer}
.back-to-top a{display:block;color:#fff}
.back-to-top:hover{background:#bb0303;color:#fff}
.back-to-top:hover a,.back-to-top:focus a{color:#fff}
.back-to-top.display{bottom:50px;right:10px}
.back-to-top.fa{margin-bottom:0}
.modal .modal-header .modal-title{font-size:18px;font-weight:500}
.modal .modal-body .box-pass{position:relative}
.modal .modal-body .box-pass span{position:absolute;right:10px;top:10px;cursor:pointer}
.modal .modal-body .box-btn{text-align:center}
.modal .modal-body .box-btn button{min-width:200px;height:40px;line-height:40px;background:#0F4C81;color:#fff;font-weight:500;border-radius:20px;border:1px solid #0F4C81;margin-bottom:5px}
.modal .modal-body .box-btn .forgot{font-weight:500;color:#8f8f8f;font-size:13px;cursor:pointer}
.modal .modal-body .note{color:#8f8f8f}
.modal .modal-body .note a{color:#0F4C81}
.modal .modal-body .form-group label{margin-bottom:0}
.modal .modal-body .box-add-avatar{text-align:center;position:relative;height:130px;width:130px;margin:0 auto;margin-bottom:15px}
.modal .modal-body .box-add-avatar .box-img{width:125px;border-radius:50%;position:relative;height:auto!important;width:100%;padding-top:130px;overflow:hidden}
.modal .modal-body .box-add-avatar .box-img img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0}
.modal .modal-body .box-add-avatar .upload-avatar{position:absolute;bottom:0;right:5px}
.modal .modal-body .box-add-avatar .upload-avatar input{opacity:0;display:none}
.modal .modal-body .box-add-avatar .upload-avatar label{font-size:16px;width:25px;height:25px;border-radius:50%;border:1px solid gray;color:gray;text-align:center;background:#fff;cursor:pointer}
#edit-info .nav-tabs{justify-content:center;border:none;margin-bottom:20px}
#edit-info .nav-tabs .nav-link{font-size:16px;font-weight:500;border:none}
#edit-info .nav-tabs .nav-link:hover{border:none;color:#0F4C81}
#edit-info .nav-tabs .active{border:none;color:#0F4C81}
.clickall{position:absolute;width:100%;left:0;top:0;height:100%;z-index:8;}
.owl-dots{text-align:center;position:absolute;-webkit-tap-highlight-color:transparent;bottom:25px;width:100%}
.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}
.owl-theme .owl-dots .owl-dot span{width:12px;height:12px;margin:5px 7px;box-shadow:1px 1px 2px 0 #000;background:#fff;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#ccc}
.owl-prev,.owl-next{position:absolute;opacity:0;top:50%;transform:translateY(-50%);font-size:20px!important;background:#ffffff42!important;z-index:2;color:#0F4C81!important;width:40px;height:40px;border-radius:50%;border:2px solid #0F4C81!important}
.owl-prev span,.owl-next span{font-size:29px!important;font-weight:700!important;line-height:1!important}
.owl-prev{left:35px}
.owl-prev:hover,.owl-next:hover{background:#fff!important}
.owl-next{right:35px}
.owl-dots{bottom:5px}
@media (max-width:992px) {
.owl-next{right:0}
.owl-prev{left:0}
}
@media (max-width:767px) {
section{padding:0!important}
}
.box_slide_index{padding:0}
.slide_index .item h2{font-weight:600;font-size:15px;line-height:20px;text-align:center;color:#D80000;padding:13px 0}
.slide_index .item .box_img{height: 600px;}
.slide_index:hover .owl-prev{opacity:1}
.slide_index:hover .owl-next{opacity:1}
@media (max-width:991px) {
.slide_index .item .box_img{height:auto}
.slide_index .item h2{padding:7px 5px}
.slide_index .owl-next{display:none}
.slide_index .owl-prev{display:none}
}
.box_item_news{position:relative;margin-bottom:10px}
.box_item_news .box_img{position:relative;height:auto!important;width:100%;padding-top:55%;overflow:hidden}
.box_item_news .box_img img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0}
.box_item_news .img_prod_resp h4{font-style:normal;font-weight:600;font-size:15px;line-height:20px}
.box_item_news .img_prod_resp .desc{font-style:normal;font-weight:400;font-size:15px;line-height:20px}
.box_item_news .img_prod_resp .date_news{font-style:normal;font-weight:300;font-size:10px;line-height:14px}
.list_new_id .box_img{display:none;margin-bottom:10px}
.list_new_id .desc{display:none}
.list_new_id .date_news i{display:none}
.list_new_id .box_item_news{padding-left:20px}
.list_new_id .box_item_news:hover .box_content h4{color:#D80000;transition:.3s}
.list_new_id .box_item_news:before{content:"";left:3px;top:7px;width:7px;height:7px;background:#0F4C81;transform:rotate(45deg);position:absolute;display:inline-block}
.list_new_id .box_item_news:first-child{position:relative;padding-left:0;margin-bottom:15px}
.list_new_id .box_item_news:first-child:before{display:none}
.list_new_id .box_item_news:first-child .box_img{display:block}
.list_new_id .box_item_news:first-child .desc{display:block;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
.list_new_id .box_item_news:first-child .date_news i{display:block}
.list_new_id .box_item_news:first-child .box_content h4{font-weight:600;font-size:15px;line-height:20px;margin-bottom:10px}
.list_new_id .box_content h4{font-style:normal;font-weight:400;font-size:15px;line-height:20px;color:#0F4C81}
.list_new_id .box_content .desc{font-style:normal;font-weight:400;font-size:15px;line-height:20px;color:#000}
.list_new_id .box_content .date_news{font-style:italic;font-weight:400;font-size:12px;line-height:14px;color:#000;display:flex;align-items:center;padding-left:3px}
.list_new_id .box_content .date_news i{margin-right:5px}
@media (max-width:767px) {
.list_new_id{padding:0!important}
}
.owl_news_id .owl-dots{bottom:-10px;right:0;display:inline-block;width:unset}
.owl_news_id .owl-dots .owl-dot span{width:8px;height:8px;margin:5px}
@media (max-width:991px) {
.owl_news_id{margin-bottom:15px}
}
.box_video_news div.item_video_news .box_content h4{font-size:15px}
.box_video_news .list_videos_id{padding:0 40px}
.box_video_news .list_videos_id .owl-prev{opacity:1;left:0;width:35px;height:35px;border:2px solid #C4C4C4!important}
.box_video_news .list_videos_id .owl-next{opacity:1;right:0;width:35px;height:35px;border:2px solid #C4C4C4!important}
.box_video_news .list_videos_id .owl-prev span,.box_video_news .list_videos_id .owl-next span{font-size:26px!important;font-weight:700!important;line-height:10px!important}
.box_video_news .item_video_news{margin-bottom:15px}
.box_video_news .item_video_news .box_img{position:relative;height:auto!important;width:100%;padding-top:55%;overflow:hidden;margin-bottom:10px}
.box_video_news .item_video_news .box_img img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0}
.box_video_news .item_video_news .box_img .box_bar{position:absolute;bottom:0;left:0;height:auto;width:100%}
.box_video_news .item_video_news .box_img .box_bar img{width:100%;height:auto}
@media (max-width:413px) {
.box_video_news .item_video_news .box_img .box_bar{height:auto}
}
@media (min-width:414px) and (max-width:500px) {
.box_video_news .item_video_news .box_img .box_bar{height:auto}
}
@media (min-width:501px) and (max-width:767px) {
.box_video_news .item_video_news .box_img .box_bar{height:auto}
}
@media (min-width:768px) and (max-width:991px) {
.box_video_news .item_video_news .box_img .box_bar{height:auto}
}
.box_video_news .item_video_news .box_content h4{color:#0F4C81;font-weight:600;font-size:14px;line-height:20px;margin-bottom:10px}
.box_video_news .item_video_news .box_content .date_news{font-style:italic;font-weight:400;font-size:12px;line-height:14px;color:#000;display:flex;align-items:center}
.box_video_news .item_video_news .box_content .date_news i{margin-right:5px}
.box_video_news .item_video_news:hover .box_content h4{color:#D80000;transition:.3s}
.box_headding{display:flex;justify-content:space-between;align-items:center;position:relative;padding:5px 0;border-bottom:1px solid #0F4C81;margin-bottom:15px;width:100%}
.box_headding h2{font-style:normal;font-weight:700;font-size:25px;line-height:34px;text-transform:uppercase;color:#0F4C81}
.box_headding .menu_hd{display:flex;align-items:center}
.box_headding .menu_hd li{line-height:15px;border-right:2px solid #0F4C81}
.box_headding .menu_hd li:hover{color:#0F4C81}
.box_headding .menu_hd li a{font-size:16px;padding:0 15px}
.box_headding .menu_hd li:last-child{border-right:none}
.box_headding .menu_hd li .icon_down{padding:0}
.box_headding .xthem{color:#0F4C81;font-size:14px;display:none}
@media (max-width:991px) {
.box_headding h2{font-size:16px;line-height:30px}
.box_headding .menu_hd{display:none}
.box_headding .xthem{display:block}
}
section.sec_2 .list_nghiencuu .item{background:#fff;border-radius:5px;position:relative}
section.sec_2 .list_nghiencuu .item:before{position:absolute;width:100%;height:100%;background:#0e508b8a;content:"";left:0;top:0;z-index:2}
section.sec_2 .list_nghiencuu .item .box_img{position:relative;height:auto!important;width:100%;padding-top:75%;overflow:hidden;border-top-right-radius:5px;border-top-left-radius:5px}
section.sec_2 .list_nghiencuu .item .box_img img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0}
section.sec_2 .list_nghiencuu .item .box_img .clickall{z-index:1}
section.sec_2 .list_nghiencuu .item .box_content{border-bottom-right-radius:5px;border-bottom-left-radius:5px;padding:20px}
section.sec_2 .list_nghiencuu .item .box_content h4{position:relative;font-size:15px;padding-left:10px;border-left:5px solid;font-weight:700;margin-bottom:10px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp: 1;-webkit-box-orient:vertical;overflow:hidden;}
section.sec_2 .list_nghiencuu .item .box_content .desc{margin-bottom:5px;text-align:justify;max-height:65px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}
section.sec_2 .list_nghiencuu .item .box_content .date_news{font-size:12px}
@media (max-width:767px) {
section.sec_2 .list_nghiencuu .item:before{display:none}
}
section.sec_2 .list_nghiencuu .owl-item.active.center{transform:scale(1.135);z-index:1}
section.sec_2 .list_nghiencuu .owl-item.active.center .box_content{background:#0F4C81;color:#fff;padding:15px}
section.sec_2 .list_nghiencuu .owl-item.active.center .box_content h4{color:#fff;font-size:14px}
section.sec_2 .list_nghiencuu .owl-item.active.center .box_content .desc{font-size:12px;margin-bottom:5px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}
section.sec_2 .list_nghiencuu .owl-item.active.center .box_content .date_news{font-size:11px}
section.sec_2 .list_nghiencuu .owl-item.active.center .item:before{background:#00000000;z-index:0}
@media (max-width:767px) {
section.sec_2 .list_nghiencuu .owl-item.active.center{transform:scale(1)}
}
section.sec_2 .list_nghiencuu .owl-stage-outer{padding:20px 0!important}
section.sec_2 .list_nghiencuu .owl-dots{bottom:-10px}
section.sec_2 .list_nghiencuu .owl-prev{opacity:1!important;bottom:-30px!important}
section.sec_2 .list_nghiencuu .owl-next{opacity:1!important;bottom:-30px!important}
@media (max-width:991px) {
section.sec_2{margin-bottom:30px}
section.sec_2 .list_nghiencuu .owl-stage-outer{padding:0!important;padding-bottom:10px!important}
section.sec_2 .list_nghiencuu .item .box_content{padding:10px}
section.sec_2 .list_nghiencuu .item .box_content h4{min-height:42px}
}
section.sec_3 .box_headding h2 span{font-size:15px;text-transform:initial;line-height:20px}
section.sec_3 .box_headding .menu_hd i{color:#0F4C81}

section.sec_3 .list_data{display:flex;flex-wrap:wrap;justify-content:space-between}
section.sec_3 .list_data .item_data{width:calc(50% - 10px);display:flex;justify-content:space-between;}
section.sec_3 .list_data .item_data:nth-child(n+3) {margin-top: 23.6px;}
section.sec_3 .list_data .item_data .box_img{position:relative;height:auto!important;padding-top:100px;overflow:hidden;width:80px;}
section.sec_3 .list_data .item_data .box_img img{object-fit:cover;margin:auto;position:absolute;top:0;left:0;height: 100px;overflow: hidden;width: 80px;box-shadow: 0 4px 8px 0 rgb(34 41 47 / 12%), 0 2px 4px 0 rgb(34 41 47 / 8%);}
section.sec_3 .list_data .item_data .info{width:calc(100% - 90px)}
section.sec_3 .list_data .item_data .info h4{font-style:normal;font-weight:600;font-size:15px;line-height:20px;color:#0F4C81}
section.sec_3 .list_data .item_data .info .nganhnghe{position:relative;padding-left: 15px;font-style:italic;font-weight:400;font-size:13px;line-height:18px;color:#000;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}
section.sec_3 .list_data .item_data .info .nganhnghe:before{content:"";position:absolute;left: 3px;top:6px;height:6px;width:6px;transform:rotate(45deg);background:#000;}
@media (max-width:991px) {
section.sec_3 .list_data{flex-wrap:wrap;justify-content:space-between}
section.sec_3 .list_data .item_data{width:calc(50% - 10px);margin-bottom: 10px;flex-wrap:wrap;}
section.sec_3 .list_data .item_data .box_img{margin: 0 auto;}
section.sec_3 .list_data .item_data .info{width:100%;}
}
section.sec_4 .item_trungbay{position:relative}
section.sec_4 .item_trungbay .box_img{position:relative;position:relative;height:auto!important;width:100%;padding-top:75%;overflow:hidden;border-radius:5px}
section.sec_4 .item_trungbay .box_img img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0}
section.sec_4 .item_trungbay .box_img .box_time{position:absolute;left:0;top:5%;display:flex;background:rgba(15,76,129,0.8);border-radius:0 10px 10px 0;padding:5px;align-items:center}
section.sec_4 .item_trungbay .box_img .box_time p{color:#fff;margin-bottom:0}
section.sec_4 .item_trungbay .box_img .box_time p:first-child{font-style:normal;font-weight:400;font-size:35px;line-height:54px;text-align:justify;margin-right:5px}
section.sec_4 .item_trungbay .box_img .box_time p:last-child{font-style:normal;font-weight:400;font-size:16px;line-height:16px;text-align:justify}
section.sec_4 .item_trungbay .box_img .box_time p:last-child span{display:inline-block}
section.sec_4 .item_trungbay .box_info{padding:10px 0}
section.sec_4 .item_trungbay .box_info h4{font-style:normal;font-weight:600;font-size:15px;line-height:20px;text-align:justify;margin-bottom:10px;color:#0F4C81}
section.sec_4 .item_trungbay .box_info p.desc{font-style:normal;font-weight:400;font-size:15px;line-height:20px;text-align:justify;color:#000;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
@media (max-width:991px) {
section.sec_4 .item_trungbay{margin-bottom:20px}
}
section.content_all .title_page{width:100%;font-style:normal;font-weight:700;font-size:18px;line-height:25px;text-transform:uppercase;color:#0F4C81;margin-bottom:15px;text-align:center}
section.content_all .box_img_logo{margin-bottom:15px;text-align:center;width:100%}
section.content_all .box_content{font-style:normal;font-weight:400;font-size:18px;line-height:25px;color:#000;margin-bottom:25px}
.title_page_l{margin-bottom:25px;font-style:normal;font-weight:700;font-size:25px;line-height:34px;color:#000}
.list_quandiem{display:flex;justify-content:space-between;margin-bottom:30px}
.list_quandiem li{position:relative;width:calc((100% /4) - 10px);padding:15px;background:#0F4C81;color:#fff;border-radius:10px;min-height:250px}
.list_quandiem li p{position:absolute;top:50%;left:50%;font-size:18px;line-height:25px;text-align:center;transform:translate(-50%,-50%);width:90%;text-align:center;display:inline-block}
.box_sumenh .box_content_sm{padding:15px;border-radius:10px;background:#0F4C81;color:#fff;font-size:18px}
section.content_all .box_text{font-size:18px}
@media (max-width:991px) {
section.content_all .box_text{font-size:16px}
}
section.content_all .box_img_sodo{text-align:center}
section.content_all .box{margin-bottom:15px}
@media (max-width:991px) {
section.content_all{padding:30px 0!important}
section.content_all .title_page{font-size:16px}
section.content_all .box_content{font-size:16px}
.list_quandiem{flex-wrap:wrap}
.list_quandiem li{width:calc((100% / 2) - 5px);margin-bottom:10px}
.list_quandiem li p{font-size:16px}
.box_sumenh .box_content_sm{font-size:16px}
.title_page_l{font-size:20px;margin-bottom:10px}
}
@media (max-width:500px) {
.list_quandiem li{width:100%!important}
}
 .box_headding_news{display:flex;justify-content:space-between;align-items:center;margin-bottom:5px}
 .box_headding_news .box_link_tab_news .nav-link{height: 35px;padding:0 15px;font-size: 16px;line-height: 35px;background:#B2D9EE;margin-right:10px;color:#0F4C81;border-radius:5px;}
 .box_headding_news .box_link_tab_news .nav-link.active{background:#0F4C81;color:#fff!important}
 .box_headding_news .box_filter_news select{height: 35px;line-height: 35px;padding:0 15px;border-radius: 5px;background: #B2D9EE;border:none;}
@media (max-width:768px) {
.box_headding_news .box_filter_news{display: inline;}
 .box_headding_news .box_link_tab_news .nav-link{font-size:15px;padding:0 10px}
}
.box_body_content .list_news .item_news{display:flex;justify-content:space-between;position:relative;border-bottom: 1px dotted #e2e2e3;}
.box_body_content .list_news .item_news:nth-child(n+2) {margin-top: 14.3px;}
.box_body_content .list_news .item_news .box_left_img{width:400px;padding-bottom: 5px;}
.box_body_content .list_news .item_news .box_img{position:relative;height:auto!important;width:100%;padding-top:55%;overflow:hidden;}
.box_body_content .list_news .item_news .box_img img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0;border-radius: 5px;}
.box_body_content .list_news .item_news .box_img .time_news{position:absolute;bottom:0;left:0;width:100%;background:rgba(178,217,238,0.7);font-style:normal;font-weight:400;font-size:15px;line-height:20px;padding:5px 15px;color:#555;border-radius: 0 0 5px 5px;}
.box_body_content .list_news .item_news .box_text_r{width:calc(100% - 410px)}
.box_body_content .list_news .item_news .box_text_r h4{font-weight:700;font-size:18px;line-height:25px;color:#000;margin-bottom:10px}
.box_body_content .list_news .item_news .box_text_r h4 .tag_img_tit{height:23px;width:23px;margin-left:10px;display:inline-block}
.box_body_content .list_news .item_news .box_text_r h4 .tag_img_tit img{width:100%}
.box_body_content .list_news .item_news .box_text_r h4 .tag_new{width:20px;height:20px;margin-left:10px;text-align:center;font-size:8px;border-radius:50%;background:#bb0303;color:#fff;line-height:20px;display:inline-block}
.box_body_content .list_news .item_news .box_text_r .desc{font-style:normal;font-size: 16px;line-height:25px;color:#000;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:6;-webkit-box-orient:vertical;overflow:hidden;}
.box_body_content .list_news .item_news:hover .box_text_r h4{color:#0F4C81;transition:.3s}
@media (min-width:768px) and (max-width:991px) {
.box_body_content .list_news .item_news .box_left_img{width:300px}
.box_body_content .list_news .item_news .box_text_r{width:calc(100% - 310px)}
.box_body_content .list_news .item_news .box_text_r .desc{text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}
}
@media (min-width:555px) and (max-width:767px) {
.box_body_content .list_news .item_news .box_left_img{width:250px}
.box_body_content .list_news .item_news .box_text_r{width:calc(100% - 260px)}
.box_body_content .list_news .item_news .box_text_r h4{font-size:16px}
.box_body_content .list_news .item_news .box_text_r .desc{font-size:16px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
}
@media (max-width:554px) {
.box_body_content .list_news .item_news{margin-bottom:15px}
.box_body_content .list_news .item_news .box_img{padding-top:75%}
.box_body_content .list_news .item_news .box_img .time_news{font-size:11px;padding:5px 2px}
.box_body_content .list_news .item_news .box_left_img{width:150px}
.box_body_content .list_news .item_news .box_text_r{width:calc(100% - 160px)}
.box_body_content .list_news .item_news .box_text_r h4{font-size:15px;line-height:20px;-webkit-box-orient: vertical;overflow: hidden;-webkit-line-clamp: 2;text-overflow: ellipsis;display: -webkit-box;}
.box_body_content .list_news .item_news .box_text_r .desc{-webkit-box-orient: vertical;overflow: hidden;-webkit-line-clamp: 3;line-height: 20px;}
}
.box_body_content .box_video_big{margin-bottom:30px}
.box_body_content .box_video_big #video_main{width:100%;height:auto;box-shadow:0 1px 8px 0 grey;box-sizing:border-box;margin-bottom:30px}
.box_body_content .box_video_big iframe{width:100%;height:auto;margin-bottom:30px}
.box_body_content .box_video_big h4{font-style:normal;font-weight:700;font-size:18px;line-height:25px;text-align:center;color:#000}
@media (max-width:767px) {
.box_body_content .box_video_big{margin-bottom:20px}
.box_body_content .box_video_big video,.box_body_content .box_video_big iframe{margin-bottom:0;min-height:185px;height:unset}
.box_body_content .box_video_big h4{font-size:16px}
}
.box_body_content .list_videos_news{display:-webkit-box;flex-wrap:wrap;justify-content:space-between}
.box_body_content .list_videos_news .item_video{width:25%;margin-bottom:30px;padding-right:3px}
.box_body_content .list_videos_news .item_video .box_img{position:relative;height:auto!important;width:100%;padding-top:65%;overflow:hidden;margin-bottom:15px}
.box_body_content .list_videos_news .item_video .box_img img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0}
.box_body_content .list_videos_news .item_video .box_img .icon_play{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100px;height:100px;border-radius:50%;line-height:100px;background:#0f4c8199;content:"";text-align:center}
.box_body_content .list_videos_news .item_video .box_img .icon_play i{font-size:100px;color:rgba(196,196,196,0.7)}
.box_body_content .list_videos_news .item_video h4{font-style:normal;font-weight:700;font-size:16px;line-height:25px;text-align:center;color:#000}
.box_body_content .list_videos_news .item_video:hover h4{color:#0F4C81;transition:.3s}
@media (max-width:767px) {
.box_body_content .list_videos_news .item_video{width:calc(50% - 5px);margin-bottom:20px}
.box_body_content .list_videos_news .item_video .box_img{margin-bottom:10px}
.box_body_content .list_videos_news .item_video .box_img .icon_play{width:50px;height:50px;line-height:50px}
.box_body_content .list_videos_news .item_video .box_img .icon_play i{font-size:50px}
.box_body_content .list_videos_news .item_video h4{font-size:14px}
}
@media (max-width:767px) {
.box_body_content .box_title_post h4{font-size:21px;line-height:30px}
}
.box_list_news_same h2{font-style:normal;font-weight:400;font-size:25px;line-height:34px;text-transform:uppercase;color:#0F4C81;margin-bottom:15px}
.box_list_news_same .item_news_same{position:relative}
.box_list_news_same .item_news_same .box_img{position:relative;height:auto!important;width:100%;/* padding-top:55%; */overflow:hidden;}
.box_list_news_same .item_news_same .box_img img{object-fit:cover;margin:auto;/* position:absolute; */width:100%;height: 300px;top:0;left:0;}
.box_list_news_same .item_news_same .box_info h4{font-style:normal;font-weight:700;font-size:16px;line-height:25px;color:#000;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden}
.box_list_news_same .owl-dots{bottom:-30px}
@media (max-width:767px) {
.box_list_news_same .item_news_same .box_info h4{font-size:15px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
}
.box_like_share{display:flex;align-items:center;padding-bottom:10px;border-bottom:1px solid #0F4C81;margin-bottom:15px;margin-top:25px}
.box_like_share .like{background:#0F4C81;color:#fff;height:35px;padding:0 15px;border-radius:5px;line-height:35px;margin-right:10px}
.box_like_share .share_link{color:#0F4C81;font-size:30px;margin-right:10px}
.box_filter_data{display:flex;align-items:center;margin-bottom:20px}
.box_filter_data .slect{position:relative;margin-right:15px}
.box_filter_data .slect select{height:40px;font-size:15px;line-height:40px;padding:0 15px 0 40px;border-radius:5px;background:#B2D9EE;border:none;color:#0F4C81}
.box_filter_data .slect .icon_sl{position:absolute;left:0;top:0;display:inline-block;width:40px;height:40px;text-align:center;line-height:40px;font-size:15px;color:#0F4C81}
.box_filter_data .box_search_khoahoc{position: absolute;right: 0;}
.box_filter_data .box_search_khoahoc input{height:40px;border-radius:5px;line-height:40px;background:#B2D9EE;padding-left:50px;padding-right:15px;font-size:15px;border:none}
.box_filter_data .box_search_khoahoc button{position:absolute;left:0;top:0;font-size:15px;height:40px;width:40px;line-height:40px;text-align:center;background:transparent;border:none;color:#0F4C81}
@media (max-width:767px) {
.box_filter_data .slect{display:none}
}
.list_hso_khoahoc{display:flex;justify-content:space-between;flex-wrap:wrap}
.list_hso_khoahoc li{width:calc(50% - 10px);border:2px solid #0F4C81;margin-bottom:20px}
.list_hso_khoahoc li .nganh{font-weight:600;font-size:15px;line-height:25px;color:#FFF;padding:6px;background:#0960af!important}
.list_hso_khoahoc li .box_item_hso{display:flex;justify-content:space-between;padding:5px}
.list_hso_khoahoc li .box_item_hso .box_img{position:relative;width:92px;height:108px}
.list_hso_khoahoc li .box_item_hso .box_img img{width:100%;height:100%}
.list_hso_khoahoc li .box_item_hso .box_info{width:calc(100% - 100px)}
.list_hso_khoahoc li .box_item_hso .box_info h4{font-style:normal;font-weight:600;font-size:15px;line-height:20px;color:#000;line-height:25px}
.list_hso_khoahoc li .box_item_hso .box_info .date_sn{font-style:italic;font-size:13px;margin-bottom:5px}
.list_hso_khoahoc li .box_item_hso .box_info p{font-style:normal;font-weight:300;font-size:14px;line-height:18px;color:#000}
.list_hso_khoahoc li:hover .box_item_hso .box_info h4{color:#0F4C81}
@media (max-width:767px) {
.list_hso_khoahoc li{width:100%}
.list_hso_khoahoc li .nganh{font-size:16px}
.list_hso_khoahoc li .box_item_hso .box_info p{font-size:13px}
}
.box_tab_media{margin-bottom:25px}
.box_tab_media .nav-tabs{display:flex;justify-content:center;align-items:center}
.box_tab_media .nav-tabs .nav-link{height:60px;line-height:60px;font-size:18px;padding:0 30px;color:#0F4C81;background:#B2D9EE;border-radius:0;margin-right:10px}
.box_tab_media .nav-tabs .active{background:#0F4C81;color:#fff;border-bottom:none}
@media (max-width:767px) {
.box_tab_media .nav-tabs .nav-link{height:45px;line-height:45px;font-size:12px;padding:0 5px;margin-right:4px}
}
.list_imgs_media{display:flex;flex-wrap:wrap;margin-left:10px;margin-right:10px}
.list_imgs_media li{width:calc(100% / 4);margin-bottom:20px;padding-left:10px;padding-right:10px}
.list_imgs_media li:first-child{width:100%;margin-bottom:30px}
.list_imgs_media li a{display:inline-block;position:relative;height:auto!important;width:100%;padding-top:50%;overflow:hidden}
.list_imgs_media li a img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0}
@media (max-width:767px) {
.list_imgs_media{justify-content:space-between;margin-left:0;margin-right:0}
.list_imgs_media li{padding-left:0;padding-right:0;width:calc(50% - 2.5px);margin-bottom:0}
.list_imgs_media li:first-child{margin-bottom:0}
}
.box_links_top{height: 0;visibility: hidden;}
.box_links_top .breadcrumb li{font-size:16px}
.box_links_top .breadcrumb .active{color:#0F4C81}
@media (max-width:767px) {
.box_links_top{margin-bottom:5px}
.box_links_top .breadcrumb{padding:.75rem 5px}
.box_links_top .breadcrumb li{font-size:14px}
}
.box_body_content{font-size:14px}
@media (max-width:767px) {
.box_body_content{font-size:14px}
}
.box_body_content .btn .btn_content{height:50px;padding:0 35px;font-size:25px;text-transform:uppercase;text-align:center;line-height:50px;background:#0F4C81;color:#fff;border-radius:5px}
.box_list_news_same{padding-bottom:30px}
.title_content{font-weight:700;font-size:18px;line-height:25px;text-transform:uppercase;color:#0F4C81;text-align:center;margin-bottom:20px}
@media (max-width:767px) {
.title_content{font-size:16px}
}
.box_title_post{margin-bottom:20px}
.box_title_post h4{font-style:normal;font-weight:700;font-size:25px;line-height:34px;color:#000;margin-bottom:10px}
.box_title_post .time_news{font-style:normal;font-weight:400;font-size:15px;line-height:20px;color:#000}
.box_title_post .desc{font-weight:700}
.itembox_news{margin-bottom:20px}
.itembox_news .title_itembox_news{position:relative;font-style:normal;font-weight:700;font-size:18px;line-height:30px;text-transform:uppercase;color:#000;margin-bottom:15px}
.itembox_news .title_itembox_news:before{position:absolute;top:100%;width:50px;height:1px;background:#000;left:0;content:""}
.itembox_news .list_item_o{display:-webkit-box;justify-content:space-between;flex-wrap:wrap}
.itembox_news .list_item_o .item_news_o{width: 33%;margin-bottom:30px;padding-right:3px;}
.itembox_news .list_item_o .item_news_o .box_img{position:relative;height:auto!important;width:100%;/* padding-top:55%; */overflow:hidden;margin-bottom:10px;}
.itembox_news .list_item_o .item_news_o .box_img img{object-fit:cover;margin:auto;/* position:absolute; */width:100%;height: 300px;top:0;left:0;}
.itembox_news .list_item_o .item_news_o .box_info h4{text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;font-style:normal;font-weight:700;font-size:18px;line-height:25px;color:#3B3C3F;margin-bottom:10px;min-height:50px}
.itembox_news .list_item_o .item_news_o .box_info .date_time{display:flex;align-items:center}
.itembox_news .list_item_o .item_news_o .box_info .date_time i{font-size:20px;margin-right:10px}
.itembox_news .list_item_o .item_news_o .box_info .date_time span{font-style:normal;font-weight:400;font-size:15px;line-height:20px}
.itembox_news .list_item_o .item_news_o .box_info .box_list_info{border-top:1px dashed #333;border-bottom:1px dashed #333;padding:5px 0}
.itembox_news .list_item_o .item_news_o .box_info .box_list_info li{margin-bottom:10px}
.itembox_news .list_item_o .item_news_o .box_info .box_list_info li .icon_o{width:20px;display:inline-block}
.itembox_news .list_item_o .item_news_o .box_info .box_list_info li span{font-size:15px;line-height:20px}
.itembox_news .list_item_o .item_news_o .box_info .box_list_info li span a{text-decoration:underline}
.itembox_news .list_item_o .item_news_o .box_info .box_list_info li span a:hover{color:#0F4C81}
.itembox_news .list_item_o .item_news_o .box_info .box_list_info li:last-child{margin-bottom:0}
.itembox_news .list_item_o .item_news_o:hover .box_info h4{color:#0F4C81;transition:.3s}
@media (max-width:991px) {
.itembox_news .title_itembox_news{font-size:16px}
.itembox_news .list_item_o .item_news_o{width:calc(50% - 5px)}
.itembox_news .list_item_o .item_news_o .box_img{position:relative;margin-bottom:5px}
.itembox_news .list_item_o .item_news_o .box_info h4{font-size:14px;line-height:23px;margin-bottom:0}
.itembox_news .list_item_o .item_news_o .box_info .date_time i{font-size:15px;display:none}
.itembox_news .list_item_o .item_news_o .box_info .date_time span{font-size:11px}
.itembox_news .list_item_o .item_news_o .box_info .box_list_info li span{font-size:14px}
}
@media (max-width:500px) {
.itembox_news .list_item_o .item_news_o{width:100%!important}
.itembox_news .list_item_o .item_news_o .box_info h4{font-size:16px;min-height:unset;margin-bottom:10px}
}
.list_img_content{display:flex;justify-content:space-between;flex-wrap:wrap}
.list_trungbay_online .item_news_o{margin-bottom:15px;width:calc(50% - 10px)!important}
.list_trungbay_online .item_news_o .box_img{border-radius:5px;padding-top:75%!important}
.list_trungbay_online .item_news_o .box_info h4{margin-bottom:0!important;text-align:center!important}
.name_contact{font-style:normal;font-weight:700;font-size:18px;line-height:25px;color:#0F4C81;margin-bottom:15px}
@media (max-width:767px) {
.name_contact{font-size:16px}
}
.list_contact li{font-style:normal;font-weight:400;font-size:18px;line-height:25px;margin-bottom:10px}
.list_contact li a{font-size:30px;margin-right:5px}
.list_contact li a .fa-facebook-square{color:#4267b2}
.list_contact li a .fa-youtube-square{color:red}
@media (max-width:767px) {
.list_contact li{font-size:14px}
}
.list_3imgs li{margin-bottom:30px}
.list_3imgs li .box_3img{display:flex;justify-content:space-between;flex-wrap:wrap;margin-bottom:5px}
.list_3imgs li .box_3img .box_img{}
.list_3imgs li h4{font-style:normal;font-weight:400;font-size:18px;line-height:25px;text-align:center}
@media (max-width:767px) {
.list_3imgs li{padding-bottom:15px;border-bottom:1px solid #ccc}
.list_3imgs li .box_3img .box_img{width:100%;margin-bottom:5px}
.list_3imgs li h4{font-size:16px}
}
.box_all_detail_hoso{display:flex;flex-wrap:wrap}
.box_all_detail_hoso .box_info_o{background:#fff;display:flex;flex-wrap:wrap;justify-content:space-between;margin-bottom:15px}
.box_all_detail_hoso .box_info_o .box_img{width: 220px;}
.box_all_detail_hoso .box_info_o .box_text_detail_hoso{width: calc(100% - 220px);padding:10px;}
.box_all_detail_hoso .box_info_o .box_text_detail_hoso li{margin-bottom: 10px;}
.box_all_detail_hoso .box_info_o .box_text_detail_hoso .flex3{display:flex;}
.box_all_detail_hoso .box_info_o .box_text_detail_hoso .flex3 span{width: calc((100% / 2) - 15px);}
.box_all_detail_hoso .box_left_links{width: 220px;border-right:1px dashed;}
.box_all_detail_hoso .box_left_links .itembox_links{margin-bottom:15px}
.box_all_detail_hoso .box_left_links .itembox_links h3{font-style:normal;font-weight:700;font-size:18px;line-height:25px;margin-bottom:10px}
.box_all_detail_hoso .box_left_links .itembox_links ul li{position:relative;padding-left:13px;margin-bottom:5px}
.box_all_detail_hoso .box_left_links .itembox_links ul li:before{content:"\f0da";position:absolute;left:0;top:0;font-size:18px;line-height:27px;font-family:fontAwesome}
.box_all_detail_hoso .box_left_links .itembox_links ul li:hover a{color:#0F4C81;transition:.3s}
.box_all_detail_hoso .box_right_content_hoso{width:calc(100% - 250px);padding:0 10px}
.box_all_detail_hoso .box_select2{display:none}
@media (max-width:767px) {
.box_all_detail_hoso .box_info_o{padding:10px}
.box_all_detail_hoso .box_info_o .box_img{width:100%;text-align:center}
.box_all_detail_hoso .box_info_o .box_text_detail_hoso{width:100%;padding:10px 0}
.box_all_detail_hoso .box_info_o .box_text_detail_hoso li{margin-bottom:0}
.box_all_detail_hoso .box_info_o .box_text_detail_hoso .flex3{flex-wrap:wrap}
.box_all_detail_hoso .box_info_o .box_text_detail_hoso .flex3 span{width:100%}
.box_all_detail_hoso .box_left_links{width:100%;margin-bottom:15px;border-right:none}
.box_all_detail_hoso .box_right_content_hoso{width:100%}
.box_all_detail_hoso .itembox_links{display:none}
.box_all_detail_hoso .box_select2{display:block;width:100%;height:40px}
}
.pagination{display:flex;align-items:center;overflow-x:auto;justify-content:center}
.pagination li a{border-radius:50%;margin:0 4px;width:38px;height:38px;text-align:center;font-size:16px;background:#C4C4C4;color:#0F4C81;font-weight:700}
.pagination li a:hover{color:#fff;background:#0F4C81}
.pagination li .active{background:#0F4C81;color:#fff}
.pagination .prev a{background:transparent;color:#C4C4C4}
.pagination .prev a:focus{box-shadow:none}
.pagination .prev a:hover{background:transparent;color:#0F4C81}
.pagination .prev i{display:inline-block;transform:rotate(180deg)}
.pagination .next a{background:transparent;color:#C4C4C4}
.pagination .next a:focus{box-shadow:none}
.pagination .next a:hover{background:transparent;color:#0F4C81}
footer{padding:30px 0;background:#0F4C81;width:100%;float:left;color:#fff}
footer .box_item_ft{position:relative;}
footer .box_item_ft .title_ft{font-weight:700;font-size:15px;text-transform:uppercase;margin-bottom:15px;color:#fff}
footer .box_item_ft p{margin-bottom:10px;font-size:15px}
footer .box_item_ft .logan_ft{font-style:normal;font-weight:400;font-size:14px;line-height:20px;text-transform:uppercase}
footer .box_item_ft .list_link_ft li{position:relative;padding-left:20px;margin-bottom:10px}
footer .box_item_ft .list_link_ft li:before{content:"";left:0;top:6px;width:8px;height:8px;border-radius:50%;background:#fff;position:absolute}
footer .box_item_ft .list_link_ft li:hover:before{background:#bb0303}
footer .box_item_ft .list_new_ft li{position:relative;display:flex;justify-content:space-between;margin-bottom:15px}
footer .box_item_ft .list_new_ft li .post_date{width:45px;height:45px;border:2px solid #fff;text-align:center}
footer .box_item_ft .list_new_ft li .post_date .post_date_day{display:block}
footer .box_item_ft .list_new_ft li .post_date .post_date_month{text-transform:uppercase}
footer .box_item_ft .list_new_ft li h4{display:inline-block;width:calc((100% - 50px) - 10px);color:#fff;font-size:16px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
footer .box_item_ft .list_new_ft li:hover .post_date{border-color:#bb0303}
footer .box_item_ft .link_mxh_ft{display:flex}
footer .box_item_ft .link_mxh_ft a{display:inline-block;margin-right:15px;width:30px;height:30px;border-radius:5px;text-align:center;line-height:30px;background:#fff;color:#2196F3;font-size:20px}
footer .box_item_ft .link_mxh_ft a:last-child{margin-right:0}
footer .box_item_ft .link_mxh_ft a:hover .fa-envelope-o{color:#ff1313}
footer .box_item_ft .link_mxh_ft a:hover .fa-facebook{color:#3578E5}
footer .box_item_ft .link_mxh_ft a:hover .fa-instagram{color:#e00000}
footer .box_item_ft .link_mxh_ft a:hover .fa-twitter{color:#0073ff}
footer .box_item_ft .link_mxh_ft a:hover .fa-youtube{color:#ff1313}
footer .box_item_ft iframe{width:100%;height:280px;border-radius: 5px;}
@media (max-width:991px) {
footer .box_item_ft{margin-bottom:30px}
}
footer .ft_1 p i{width:20px}
footer .ft_1 .title_ft_links_mxh{font-style:normal;font-weight:400;font-size:14px;line-height:20px;text-transform:uppercase;margin-top:30px}
.list_hso_khoahoc li .box_item_hso .box_info
p.summary{overflow:hidden;-webkit-line-clamp:3;text-overflow:ellipsis;white-space:nowrap}
.box_all_detail_hoso .box_info_o{width:100%}
.box_slide_index{padding:0!important}
.box_conveyor a span {color:red;font-size: 18px;}
.box_conveyor{position:relative;display:flex;align-items:center;width:100%;background:#fff}
.box_conveyor .jctkr-label{width:70px;background:#D80000;color:#fff;text-align:center;height:35px;line-height:35px}
.box_conveyor .js-conveyor-1{width:calc(100% - 70px);background:#fff;line-height:35px}
.box_conveyor .js-conveyor-1 li{position:relative;padding-left:20px;margin-right:15px;font-size:16px;color:#1b85ce}
.box_conveyor .js-conveyor-1 li:before{content:"";position:absolute;left:5px;top:14px;width:7px;height:7px;border-radius:50%;background:#D80000}
.box_conveyor .js-conveyor-1 li:hover{color:#0e4c82;font-weight:600}
.btn-theme{border:1px solid #ffbc0b;background:#ffbc0b;color:#fff}
.validation{color:red;display:block;margin:0 0 5px;font-weight:400;font-size:13px}
.skiptranslate{display:none!important}
.loading{background:#000;opacity:.5;position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;z-index:9999;display:none}
.loading .icon{background:url(/interface/pc/images/ajax-loader.gif) no-repeat center center / 50px 50px;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;width:50px;height:50px;text-indent:-9999px}
.mota_slide{font-size: 13px;width:360px;padding:15px;position:absolute;z-index:3;right:calc(7.175% - 20px);bottom:20px;background-color:rgba(0,0,0,0.4);display:block;border-radius: 5px;}
.main_slide .khungAnh:hover .mota_slide{display:block}
.mota_slide .noidung{line-height:24px;max-height:100px;overflow:hidden;font-family: Arial, sans-serif;color:#fff;}
.mota_slide .noidung img{display:initial!important}
.mota_slide .xemthem{color:#76e38c;padding:0;background:none}
.mota_slide .xemthem:hover{background:none;color:#76e38c}
.noidung{font-size:13px;color:#333;line-height:24px;text-align:justify;clear:both}
.noidung img{max-width:820px!important;height:25px;width:25px!important;margin-right:10px}
.noidung table{max-width:100%}

.box_body_content p{margin-bottom:15px;line-height:180%;font-family:Arial,sans-serif!important;}
.box_body_content p img{width:80%;text-align:center}
.box_body_content table tbody tr td img{width:100%;text-align:center}
.box_body_content{font-family:Arial,sans-serif!important;padding: 15px 15px;background:#fff!important;background-clip: border-box;border: 0 solid rgba(34, 41, 47, .125);border-radius: .428rem;box-shadow: rgb(215 215 215 / 50%) 0px 4px 16px;}
.box_body_content p span{background:unset!important;font-size:14px!important}
.box_body_content p em{text-align:center;}
.em{font-style:italic}
.list-mn li{padding:5px 0;position:relative;padding-left:20px}
.list-mn li:before{content:"\f0a9";font-family:FontAwesome;position:absolute;top:4px;left:4px;font-size:13px;color:#e41c2c}
.list-mn li a{color:#636363;font-size:14px;font-family:'Roboto',sans-serif;font-weight:300}
.list-mn li a:hover{color:#f06447}
@media (max-width:767px) {
.mota_slide{display:none}
.main-cate-right{padding-left:0!important}
}
.box_body_content span{background:unset!important;font-size: 14px!important;}
.list_links_l{color:#000!important}
.main-cate-right{padding-left:5px}
.sidebar-box{margin-bottom:10px}
.sidebar-title{overflow:hidden;padding:10px;border-bottom:3px solid #ce2127;text-transform:uppercase;font-weight:600;font-size:15px;background:#0960af;color:#fff}
ul.list-new-side{padding:13px 15px 35px;background-color:#fff;background-clip: border-box;border: 0 solid rgba(34, 41, 47, .125);border-radius: 0 0 5px 5px;box-shadow: rgb(215 215 215 / 50%) 0px 4px 16px;}
.d-flex-wrap{display:flex;flex-wrap:wrap}
ul.list-new-side li.big{padding:0}
ul.list-new-side li{float:left;width:100%;padding-bottom:12px;margin-bottom:12px;border-bottom:1px solid #dbdbdb;position:relative;padding-left:13px;color:#404040;font-size:14px}
.hm-reponsive{position:relative;height:auto!important;width:100%;padding-top:56.25%;overflow:hidden}
figure{margin:0;padding:0}
.hm-reponsive img{object-fit:cover;margin:auto;position:absolute;width:100%;height:100%;top:0;left:0;border-radius: 5px;}
ul.list-new-side li.big .blogsummary{padding:10px 0;font-size:16px}
ul.list-new-side li a{text-decoration:none;line-height:18px}
.alink-all{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}
ul.list-new-side li:before{font-size:16px;content:"\f105";font-family:FontAwesome;display:inline-block;position:absolute;top:0;left:0}
ul.list-new-side li.placeload:before{display:none!important}
li.active{color:#0960af}
li.active a{text-decoration-line:underline}

.account {
    margin: 0 40px;
    padding: 8px 0;
    width: 170px;
    position: relative;
    display: inline-block
}

.account-login {
    font-weight: 600;
}

.account-link span {
    white-space: nowrap;
    cursor: pointer
}

.account-link .fa {
    color: #1479c5;
    float: left;
    padding: 4px;
    margin: 0 8px 0 0;
    border: 2px solid #1479c5;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.account-link .account-login-more {
    display: block;
    font-size: .9em
}

.account .account-box {
    display: none
}

.account-box.acc-info li:nth-child(4) {
    display: none
}

.account-box .account-input {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px 0;
    width: 200px;
}


.account-link .account-login-more, .cart-status {
    font-size: 12px
}

.account-link-pad, .cart-link-pad {
    line-height: 16px
}

@media (min-width:481px) {
    .account, .cart {
        width: 15%;
        margin: 0 20px 0 0
    }
}

.account.hover .acc-login, .account.hover .account-box, .cart.hover .cart-box, .account.hover .acc-login, .account.hover .account-box, .cart.hover .cart-box {
    display: block;
    position: absolute;
    border: 1px solid #ddd;
    line-height: 25px;
    z-index: 999;
    background: #fff;
    padding: 5px 20px;
    top: 48px;
    min-width: 170px
}

.login-submit {
    width: 100%
}

#btnLoginSubmit, .btn-login {
    width: 100%;
    margin: 5px 0;
    line-height: 25px;
}

.x-hover:hover .account-box:before {
    position: absolute;
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ddd;
    top: -8px
}

.x-hover:hover .account-box:after {
    position: absolute;
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: -7px
}

.x-hover:hover .hover-lg-top {
    display: block;
    position: absolute;
    border: 1px solid #ddd;
    line-height: 25px;
    z-index: 999999;
    background: #fff;
    padding: 5px 15px;
    top: 48px;
    width: 230px
}

.x-hover:hover .cart-box {
    width: 300px;
    right: -20px
}

    .x-hover:hover .cart-box:before, .x-hover:hover .cart-box:after {
        right: 35px
    }

    .x-hover:hover .cart-box:before {
        position: absolute;
        content: "";
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #ddd;
        top: -8px
    }

    .x-hover:hover .cart-box:after {
        position: absolute;
        content: "";
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        top: -7px
    }

.account-link .avatar-user {
    color: #009933;
    float: left;
    margin: 0 8px 0 0;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

span.account-login.username {
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ed1f24
}

.x-hover {
    color: #1479c5;
}

.btn-login {
    background-color: #1479c5;
    border: none;
    color: #fff;
    font-size: 16px;
}

.account-box .btn:hover {
    color: #fff
}

.i-view-more {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #888;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    position: absolute;
    top: 48%;
    right: 5px;
}

.account-forget-pass {
    flex-flow: column;
}


@media (max-width: 767px) {


    .account-link-pad {
        display: none
    }

    .account {
        margin: 0;
        padding: 8px 0;
        width: 10%;
        position: relative;
        display: inline-block;
    }

    .x-hover:hover .hover-lg-top {
        top: 46px;
    }
}
.box-dndk {
    padding: 20px 0;
    width: 100%;
    margin: 20px auto;
    border: 1px solid #ddd;
}

.tab-dkdn {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 0 15px 15px;
}

    .tab-dkdn > li {
        position: relative;
        display: block;
        padding: 0 15px;
    }

        .tab-dkdn > li.active > a, .tab-dkdn > li.active > a:hover {
            color: #ed1c24;
            font-weight: bold;
            display: inline-block;
            position: relative;
        }

.info-dkdn {
    margin-bottom: 15px;
}

.tile-dndk {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 10px 0;
}

.info-dkdn p {
    font-size: 15px;
    line-height: 25px;
}

.list_upload_image {
    display: flex;
    flex-wrap: wrap;
}

    .list_upload_image .item-upload {
        display: flex;
        margin: 5px 8px;
    }

        .list_upload_image .item-upload .avatar-uploader_avatar-image {
            border-radius: 0;
            background-position: 0 0;
        }

        .list_upload_image .item-upload .avatar-uploader_avatar {
            margin: 0;
            border: 1px solid #ccc;
        }

.avatar-uploader_avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.avatar-uploader_avatar {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 250px;
    position: relative;
}

input.avatar-uploader_file-input.file_view {
    position: absolute;
    bottom: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0;
    cursor: pointer;
}

.shopee-image-manager__icon[data-v-7f82623c] {
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 32px;
    opacity: 1;
    display: inline-block;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.shopee-image-manager__icon--delete[data-v-7f82623c] {
    background-color: rgba(238,77,45,0.54);
}

.avatar-uploader_avatar-image img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
}

.form-list li .table_left {
    float: left;
    width: 30%;
    color: #494949;
    text-align: right;
    padding-right: 10px;
}

.form-list li .table_right {
    width: 70%;
    float: right;
}

.clear::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.form-list li {
    margin-bottom: 10px;
}

.required {
    color: #f66;
}

p.error {
    position: relative;
    font-size: 12px;
    line-height: 2 !important;
    display: block;
    color: red !important;
    text-align: right;
}