
#page-title h1 {
    font-size: 26px;
    margin: 0
}

@media (max-width:680px) {
    #page-title h1 {
        font-size: 22px;
        line-height: 1.2;
        margin: 0 5px
    }
}

@media (max-width:400px) {
    #page-title h1 {
        font-size: 20px
    }
}

#page-title h1 .weak {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #0066a6
}

@media (max-width:680px) {
    #page-title h1 .weak {
        font-size: 18px;
        display: inline
    }
}

@media (max-width:400px) {
    #page-title h1 .weak {
        font-size: 18px
    }
}

#page-title h1 .admin-actions {
    font-size: 17px
}

    #page-title h1 .admin-actions a {
        color: rgba(0, 0, 0, .9)
    }

#page-title.has-create h1 {
    margin-right: 240px
}

@media (max-width:680px) {
    #page-title.has-create h1 {
        margin-right: 0
    }
}

.has-icon {
    position: relative
}

    .has-icon:before {
        content: "\F0B0";
        font-family: FontAwesome;
        left: 10px;
        position: absolute;
        top: 7px
    }

    .has-icon.icon-districts:before,
    .has-icon.icon-provinces:before {
        content: "\F041";
        margin-left: 2px
    }

    .has-icon.icon-place_types:before {
        content: "\F0F8"
    }

    .has-icon.icon-specialities:before {
        content: "\F0F1"
    }

    .has-icon.icon-services:before {
        margin-left: -2px;
        content: "\F0CA"
    }

    .has-icon.icon-languages_spoken:before {
        content: "\F0AC"
    }

    .has-icon.icon-occupations:before {
        content: "\F0F0"
    }

    .has-icon.icon-qualifications:before {
        content: "\F19C";
        margin-left: -3px
    }

    .has-icon.icon-degrees:before,
    .has-icon.icon-titles:before {
        content: "\F19D";
        margin-left: -3px
    }

#filter-cta {
    background: #f9f9f9;
    border-top: 1px solid #ececec;
    display: none;
    font-size: 12px;
    margin: 0 -10px;
    padding: 8px;
    text-align: right
}

@media (max-width:680px) {
    #filter-cta {
        display: block
    }
}

#filter-cta a {
    color: #777;
    margin: 0 2px;
    padding: 4px 10px
}

@media (max-width:450px) {
    #filter-cta a .label {
        display: none
    }
}

#filter-cta a:hover {
    color: #fff
}

#filter-cta .activator .active {
    display: none
}

    #filter-cta .activator.active .active {
        display: inline
    }

    #filter-cta .activator.active .inactive {
        display: none
    }

#filter-cta a.sort-by-location:before {
    content: "\F10C";
    font-family: FontAwesome
}

#filter-cta a.sort-by-location.active:before {
    content: "\F05D";
    font-family: FontAwesome
}

#filter-cta a.sort-by-location.loading:before {
    visibility: hidden
}

#filter-cta a.sort-by-location.loading .loader {
    left: 9px
}

#filter-summary {
    margin: 20px 0 0
}

@media (max-width:680px) {
    #filter-summary {
        background: #f9f9f9;
        border: none;
        display: none;
        margin: 0 -10px;
        padding: 0 10px 10px
    }
}

#filter-summary a {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #777;
    display: inline-block;
    font-size: 12px;
    padding: 6px 24px 5px;
    overflow: hidden;
    position: relative;
    margin: 0 2px 5px 0;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top
}

@media (max-width:680px) {
    #filter-summary a {
        margin: 0 0 4px 2px;
        width: 49%
    }
}

@media (max-width:500px) {
    #filter-summary a {
        margin: 0 0 5px;
        width: 100%
    }
}

#filter-summary a:hover {
    border-color: #0876bf
}

#filter-summary a:before {
    font-size: 13px;
    top: 5px
}

#filter-summary a:after {
    content: "\F0D7";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 7px
}

.overlay.filter-overlay .overlay-content {
    padding: 0;
    width: 800px
}

    .overlay.filter-overlay .overlay-content .tab-content-triggers {
        background: #f9f9f9;
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #ddd;
        float: left;
        font-size: 14px;
        padding: 0 15px;
        list-style: none;
        text-align: left;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

        .overlay.filter-overlay .overlay-content .tab-content-triggers li {
            display: inline-block
        }

            .overlay.filter-overlay .overlay-content .tab-content-triggers li a {
                border-bottom: 3px solid rgba(8, 118, 191, 0);
                color: #777;
                display: inline-block;
                padding: 10px 12px 8px 24px;
                text-decoration: none
            }

                .overlay.filter-overlay .overlay-content .tab-content-triggers li a.active {
                    border-bottom: 3px solid #0876bf;
                    color: #0876bf;
                    margin: 0 0 -1px
                }

                .overlay.filter-overlay .overlay-content .tab-content-triggers li a:hover {
                    color: #0876bf
                }

                .overlay.filter-overlay .overlay-content .tab-content-triggers li a.has-icon:before {
                    left: 9px;
                    top: 11px
                }

    .overlay.filter-overlay .overlay-content .search {
        position: absolute;
        bottom: 10px;
        left: 20px;
        width: 250px
    }

        .overlay.filter-overlay .overlay-content .search:before {
            color: #aaa;
            content: "\F002";
            font-family: FontAwesome;
            right: 9px;
            position: absolute;
            top: 5px
        }

        .overlay.filter-overlay .overlay-content .search input {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 5px;
            transition: border-color .1s;
        }

    .overlay.filter-overlay .overlay-content .tab-content {
        clear: both;
        text-align: left
    }

        .overlay.filter-overlay .overlay-content .tab-content > .inner {
            height: 240px;
            overflow-y: auto;
            padding: 10px 15px
        }

        .overlay.filter-overlay .overlay-content .tab-content ul {
            float: left;
            list-style: none;
            width: 100%;
        }

@media (max-width:660px) {
    .overlay.filter-overlay .overlay-content .tab-content ul {
        width: 100%
    }
}

.overlay.filter-overlay .overlay-content .tab-content ul li {
    float: left;
    width: 33.333%;
}

    .overlay.filter-overlay .overlay-content .tab-content ul li label {
        border-bottom: 1px solid #f2f2f2;
        cursor: pointer;
        float: left;
        width: 92%;
        padding: 10px 8px;
        margin: 0 4%
    }

@media (max-width:660px) {
    .overlay.filter-overlay .overlay-content .tab-content ul li label {
        margin: 0;
        width: 100%
    }
}

.overlay.filter-overlay .overlay-content .tab-content ul li label span {
    display: block;
    margin: 0 0 0 17px
}

.overlay.filter-overlay .overlay-content .tab-content ul li label input {
    float: left;
    margin: 3px 5px 0 0
}

.overlay.filter-overlay .overlay-content .tab-content .child-name {
    padding: 8px 10px
}

.overlay.filter-overlay .overlay-content .tab-content .child-content {
    overflow: hidden
}

.overlay.filter-overlay .overlay-content .tab-content .no-option {
    display: none;
    font-style: italic;
    padding: 10px 0;
    text-align: center
}

.overlay.filter-overlay .overlay-content .tab-content.has-no-option .no-option {
    display: block
}

.overlay.filter-overlay .overlay-content .button-row {
    background: #f9f9f9;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #ddd;
    overflow: hidden;
    padding: 10px 20px;
    text-align: right
}

    .overlay.filter-overlay .overlay-content .button-row button:after {
        display: none
    }

.overlay .overlay-content .close {
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: -17px;
    text-decoration: none;
    top: -38px
}

    .overlay .overlay-content .close:after {
        content: "\F057";
        display: inline-block;
        font-family: FontAwesome;
        font-size: 30px;
        margin: 0 0 0 8px;
        vertical-align: middle
    }

.overlay .overlay-content h2 {
    color: #ff749c;
    font-size: 15px
}

.overlay .overlay-content .overlay-message {
    margin: 0 0 10px
}

.overlay .overlay-content .overlay-confirm a {
    cursor: pointer;
    margin-right: 5px
}

    .overlay .overlay-content .overlay-confirm a:last-child {
        margin-right: 0
    }

.overlay .close, .overlay .owl-next, .overlay .owl-prev {
    text-shadow: 0 0 6px rgb(0 0 0 / 30%);
    transition: all .1s;
}

.button-row {
    margin: 0 0 10px;
    padding: 0 0 0 120px;
}

    .button-row button {
        background: #0876bf;
        border: 1px solid #0066a6;
        border-radius: 3px;
        color: #fff;
        padding: 4px 18px 3px;
        line-height: 21px;
        transition: background-color .1s, color .1s
    }

.tab-content-container .tab-content {
    display: none
}

    .tab-content-container .tab-content.active {
        display: block
    }


@media (max-width:860px) {
    .overlay.filter-overlay {
        background: #fff;
        overflow-x: hidden;
        height: 100%;
        justify-content: flex-start
    }

        .overlay.filter-overlay:before {
            background: #0876bf;
            box-shadow: 0 0 10px rgba(0, 0, 0, .25), inset 0 20px 20px -15px rgba(0, 0, 0, .1);
            content: " ";
            display: block;
            height: 42px;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1
        }

        .overlay.filter-overlay:after {
            background: transparent url(/static/build/c08225458c386e49ff290cfcf019bf46.png) no-repeat 50%/contain;
            content: " ";
            display: block;
            height: 30px;
            left: 50%;
            margin: 0 0 0 -34px;
            position: fixed;
            top: 5px;
            width: 68px;
            z-index: 1
        }

        .overlay.filter-overlay .overlay-content {
            height: 100%;
            position: static;
            padding: 42px 0 0;
            transform: none;
            width: 100%
        }

            .overlay.filter-overlay .overlay-content .tab-content-triggers {
                left: 0;
                overflow-x: auto;
                position: fixed;
                top: 42px;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
                -ms-overflow-style: -ms-autohiding-scrollbar
            }

            .overlay.filter-overlay .overlay-content .tab-content-container {
                padding: 90px 0 0
            }

                .overlay.filter-overlay .overlay-content .tab-content-container .tab-content {
                    height: auto
                }

                    .overlay.filter-overlay .overlay-content .tab-content-container .tab-content .inner {
                        padding-top: 0;
                        height: auto
                    }

            .overlay.filter-overlay .overlay-content .search {
                background: #fff;
                height: 56px;
                left: 0;
                padding: 10px 15px;
                position: fixed;
                top: 85px;
                width: 100%
            }

                .overlay.filter-overlay .overlay-content .search:before {
                    right: 25px;
                    top: 18px
                }

                .overlay.filter-overlay .overlay-content .search input[type=text] {
                    padding: 8px 10px
                }

            .overlay.filter-overlay .overlay-content .button-row {
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 10px;
                position: fixed;
                text-align: left;
                width: 100%
            }

        .overlay.filter-overlay .close {
            height: 42px;
            left: 0;
            position: fixed;
            right: auto;
            text-indent: -9999px;
            text-shadow: none;
            top: 0;
            width: 42px;
            z-index: 1
        }

            .overlay.filter-overlay .close:after {
                content: "\F104";
                left: 5px;
                line-height: 40px;
                position: fixed;
                text-indent: 0;
                top: 0
            }

            .overlay.filter-overlay .close:hover {
                background: hsla(0, 0%, 100%, .15);
                color: #fff
            }
}

#list .content > ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #list .content > ul > li {
        border: 1px solid hsla(0, 0%, 100%, 0);
        border-bottom: 1px solid #eee;
        clear: both;
        padding: 15px 0;
        position: relative;
        transition: box-shadow .2s, border .1s;
        width: 50%;
    }

        #list .content > ul > li.company-item {
            padding: 20px 0
        }

@media (max-width:611px) {
    #list .content > ul > li.company-item {
        border-bottom: 0;
        padding-bottom: 0
    }

    #list .content > ul > li {
        width: 100%
    }
}

#list .content > ul > li.active,
#list .content > ul > li:not(.company-item):hover {
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 5px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, .05)
}

@media (max-width:1023px) {
    #list .content > ul > li.active,
    #list .content > ul > li:not(.company-item):hover {
        border: 1px solid hsla(0, 0%, 100%, 0);
        border-bottom: 1px solid #eee;
        box-shadow: none
    }
}

#list .content > ul > li a {
    text-decoration: none
}

    #list .content > ul > li a:hover {
        text-decoration: underline
    }

    #list .content > ul > li a.button {
        padding: 3px 12px
    }

        #list .content > ul > li a.button:hover {
            text-decoration: none
        }

#list .content > ul > li .media {
    float: left;
    margin: 0 15px 0 8px;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    background-color: #C3C3C3;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: #FFF;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

@media (max-width:1023px) {
    #list .content > ul > li .media {
        margin: 0 15px 0 0
    }
}

@media (max-width:500px) {
    #list .content > ul > li .media {
        float: right;
        margin: 0 0 5px 10px
    }
}

#list .content > ul > li .media .hero-image {
    background: #fff url(/static/build/f4706672a682503c789805d7368993ff.jpg) no-repeat 50% 50%/contain;
    display: block;
    height: 130px;
    overflow: hidden;
    width: 130px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgb(34 41 47 / 12%), 0 2px 4px 0 rgb(34 41 47 / 8%);
}

    #list .content > ul > li .media .hero-image.insurance-list-image {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain
    }

@media (max-width:500px) {
    #list .content > ul > li .media .hero-image {
        height: 100px;
        width: 105px
    }
}

.page-professional-list #list .content > ul > li .media .hero-image {
    background-position-y: 20%
}

#list .content > ul > li .media .comments-summary {
    background: #fff;
    border-radius: 0 0 4px 4px;
    border: 1px solid rgba(0, 0, 0, .15);
    display: block;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    transition: border-color .1s
}

@media (max-width:500px) {
    #list .content > ul > li .media .comments-summary {
        padding: 0
    }
}

#list .content > ul > li .media .comments-summary:hover {
    border-color: #0066a6;
    text-decoration: none
}

#list .content > ul > li .media .comments-summary.break {
    padding-top: 7px
}

@media screen and (max-width:720px) {
    #list .content > ul > li .media .comments-summary.break {
        padding-top: 5px
    }
}

#list .content > ul > li .media .comments-summary.break > span {
    float: left;
    margin: 0;
    min-height: 18px;
    width: 50%
}

#list .content > ul > li .media .comments-summary .like-count {
    color: #ff749c;
    font-size: 12px;
    margin: 0 5px 0 0
}

@media (max-width:500px) {
    #list .content > ul > li .media .comments-summary .like-count {
        font-size: 10px
    }
}

#list .content > ul > li .media .comments-summary .comment-count {
    color: #888;
    font-size: 11px;
    display: inline-block;
    margin: 0 5px 0 0
}

@media (max-width:500px) {
    #list .content > ul > li .media .comments-summary .comment-count {
        font-size: 10px;
        margin-right: 0
    }
}

#list .content > ul > li .media .comments-summary .comment-count .fa {
    font-size: 12px;
    margin: 2px -1px 0 0;
    vertical-align: top
}

@media (max-width:500px) {
    #list .content > ul > li .media .comments-summary .comment-count .fa {
        font-size: 9px;
        margin-top: 2px
    }
}

#list .content > ul > li .media .comments-summary .star-ratings .stars {
    font-size: 13px;
    margin: 0 5px 0 0
}

@media (max-width:500px) {
    #list .content > ul > li .media .comments-summary .star-ratings .stars {
        font-size: 11px;
        margin: 0
    }
}

#list .content > ul > li .media .featured {
    top: -5px;
    right: -5px
}

#list .content > ul > li .body {
    position: relative
}

    #list .content > ul > li .body .info {
        margin: 0 0 0 153px;
        min-height: 155px
    }

@media (max-width:1023px) {
    #list .content > ul > li .body .info {
        margin-left: 0
    }
}

#list .content > ul > li .body .info h2 {
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 5px
}

#list .content > ul > li .body .info a.readmore {
    font-style: italic;
    white-space: nowrap;
    color: #007bff;
}

#list .content > ul > li .body .info .brief {
    margin: 5px 0px;
}

@media (max-width:500px) {
    #list .content > ul > li .body .info .brief {
        margin-bottom: 10px
    }
}

#list .content > ul > li .body .info .brief dt {
    float: left;
    text-align: center;
    width: 15px
}

#list .content > ul > li .body .info .brief dd {
    margin: 0 0 1px 18px
}

    #list .content > ul > li .body .info .brief dd .distance-to-user {
        display: none
    }

        #list .content > ul > li .body .info .brief dd .distance-to-user.has-distance {
            display: inline
        }

        #list .content > ul > li .body .info .brief dd .distance-to-user span {
            color: #ff749c
        }

    #list .content > ul > li .body .info .brief dd.plan-list a {
        padding-left: 15px;
        position: relative
    }

        #list .content > ul > li .body .info .brief dd.plan-list a:before {
            content: "";
            height: 4px;
            left: 0;
            position: absolute;
            top: 7px;
            width: 4px;
            border-radius: 50%;
            background-color: #0876bf;
            left: 5px
        }

@media (max-width:720px) {
    #list .content > ul > li .body .info .brief {
        font-size: 12px
    }
}

@media (max-width:500px) {
    #list .content > ul > li .body .info .brief {
        margin-right: 0
    }
}

#list .content > ul > li .body .info .desc {
    float: right;
    font-size: 12px;
    margin: 0px 0px 5px 0;
    width: 100%;
}

@media (max-width:500px) {
    #list .content > ul > li .body .info .desc {
        float: none;
        margin: 0 0 10px;
        width: auto
    }
}

#list .content > ul > li .body .info .admin-actions {
    font-size: 12px
}

    #list .content > ul > li .body .info .admin-actions a {
        color: rgba(0, 0, 0, .35)
    }

#list .content > ul > li .body .info .ribbon span {
    font-size: 8px
}

#list .content > ul > li .body .call-to-action {
    bottom: 0;
    position: absolute;
    right: 12px
}

@media (max-width:500px) {
    #list .content > ul > li .body .call-to-action {
        font-size: 12px;
        margin-left: 0;
        position: static;
        text-align: right
    }
}

#list .content > ul > li .body .call-to-action .action-book:hover {
    text-decoration: none
}

#list .content > ul > li .actions {
    clear: both;
    font-size: 12px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s, opacity .4s
}

    #list .content > ul > li .actions.showing {
        visibility: visible;
        opacity: 1;
        transition: visibility .4s, opacity .4s;
        height: auto;
        padding: 10px 0 0
    }

    #list .content > ul > li .actions .inner {
        background: rgba(0, 0, 0, .05);
        border-radius: 5px;
        padding: 14px 10px;
        position: relative
    }

        #list .content > ul > li .actions .inner.contact-details {
            padding: 22px 10px 22px 60px
        }

            #list .content > ul > li .actions .inner.contact-details h3 {
                font-weight: 300;
                color: #444;
                font-size: 12px
            }

            #list .content > ul > li .actions .inner.contact-details a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 700
            }

                #list .content > ul > li .actions .inner.contact-details a:hover {
                    text-decoration: underline
                }

            #list .content > ul > li .actions .inner.contact-details:after {
                color: #ff749c;
                content: "\F098";
                display: block;
                float: left;
                font-family: FontAwesome;
                font-size: 40px;
                left: 15px;
                margin: -30px 0 0;
                position: absolute;
                top: 50%
            }

        #list .content > ul > li .actions .inner .booking p {
            margin: 0 0 10px
        }

        #list .content > ul > li .actions .inner .booking.loading .loader {
            display: block
        }

        #list .content > ul > li .actions .inner .booking.loading .booking-picker {
            display: none
        }

        #list .content > ul > li .actions .inner .booking-picker a:hover {
            text-decoration: none
        }

    #list .content > ul > li .actions h3 {
        font-size: 13px;
        margin: 0 0 2px
    }

    #list .content > ul > li .actions p {
        margin: 0
    }

#list .content .no-result {
    padding: 20px 10px
}

    #list .content .no-result .fa {
        color: #ff749c
    }

#list aside {
    margin-top: 10px
}

    #list aside .map-wrapper {
        position: relative
    }

@media (max-width:1023px) {
    #list aside .map-wrapper {
        margin: -16px -10px 0
    }
}

#list aside .map-wrapper .map {
    clear: both;
    height: 550px;
    transform: translateZ(0)
}

@media (max-width:1023px) {
    #list aside .map-wrapper .map {
        height: 250px
    }
}

#list aside .geosearch-options {
    margin: 0 0 10px;
    text-align: center
}

    #list aside .geosearch-options a.button {
        padding-left: 12px;
        padding-right: 12px
    }

@media (max-width:1023px) {
    #list aside .geosearch-options {
        margin: 0;
        padding: 0 0 10px;
        text-align: right
    }
}

@media (max-width:680px) {
    #list aside .geosearch-options {
        display: none
    }
}

#list aside .geosearch-options a.sort-by-location {
    border: none;
    color: #444
}

    #list aside .geosearch-options a.sort-by-location:before {
        color: #777;
        content: "\F10C";
        font-family: FontAwesome;
        font-size: 14px
    }

    #list aside .geosearch-options a.sort-by-location:hover {
        background: none;
        color: #0876bf
    }

        #list aside .geosearch-options a.sort-by-location:hover:before {
            color: #0876bf
        }

    #list aside .geosearch-options a.sort-by-location.active:before {
        content: "\F05D";
        font-family: FontAwesome
    }

    #list aside .geosearch-options a.sort-by-location.active:hover {
        background: #fff;
        color: #0876bf
    }

        #list aside .geosearch-options a.sort-by-location.active:hover:before {
            color: #0876bf
        }

    #list aside .geosearch-options a.sort-by-location.loading:before {
        visibility: hidden
    }

#list aside .geosearch-options a.loading .loader {
    left: 11px
}

body.showing-overlay {
    overflow: hidden
}

.overlay {
    background: rgba(0, 0, 0, .7);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1051;
}

    .overlay.full-image-overlay {
        display: block
    }

        .overlay.full-image-overlay .overlay-content {
            background-color: transparent;
            padding: 20px 0;
            width: auto
        }


    .overlay .overlay-content {
        background: #fff;
        border-radius: 5px;
        display: block;
        left: 50%;
        padding: 20px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 400px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }

    .overlay.full-image-overlay .overlay-content .image {
        background-image: none
    }

    .overlay.full-image-overlay .overlay-content .close {
        top: 20px;
        right: 20px;
        z-index: 100;
        position: fixed
    }

    .overlay.no-close-button .close {
        display: none
    }

@media (max-width:440px) {
    .overlay .overlay-content {
        width: 280px
    }
}
