/* Công ty cổ phần AZATOT.COM
 * Bootstrap v3.3.7
 * Copyright 2019 by AZATOT.COM
 * Edit code bootstrap by linhlv.akr@gmail.com
 */
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;width:100%}
.Wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
}