﻿/* Công ty cổ phần AZATOT.COM
* Bootstrap v3.3.7
* Copyright 2019 by AZATOT.COM
* Edit code bootstrap by linhlv.akr@gmail.com
*/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
@import url('font-awesome.css');
@import url('modules.css');
@import url('responsive.css');
@import url('owl.carousel.min.css');
@import url('owl.theme.default.min.css');
@import url('animate.css');

body {
background: #fff;
color: #222;
font-size: 14px;
font-family: 'Roboto', sans-serif, 'Helvetica';
line-height: 1.6
}

/* Style Css */
/*===================================================================================*/


#header {
background: #dd0000;
}

#logo {
width: 190px;
}

.icon-menu {
background-image: url(images/logomenu.png);
background-repeat: no-repeat;
background-position-y: -5px;
display: inline-block;
width: 80px;
height: 41px;
content: " "
}

.mn-bepgas {
background-position-x: -80px
}

.mn-mayhutmui {
background-position-x: -160px
}

.mn-mayruabat {
background-position-x: -240px
}

.mn-lonuong {
background-position-x: -320px
}

.mn-lovisong {
background-position-x: -400px
}

.mn-chauruabat {
background-position-x: -480px
}

.mn-voiruabat {
background-position-x: -560px
}

.mn-tulanh {
background-position-x: -640px
}

.mm-listview > li > a, .mm-listview > li > span {
display: flex !important;
align-items: center;
line-height: 8px !important;
}

a.mycart {
position: absolute;
right: 60px;
color: #fff;
font-size: 30px;
top: -27px;
}

.slidehome.owl-theme .owl-nav {
top: 30px;
}

.searchTop {
padding: 5px;
}

.btn-searchTop {
background: #fff;
border-color: #ccc;
border-left: 0;
}

.boxnav_main {
}

.boxnav_main .litnavmain li {
width: 25%;
float: left;
padding: 5px;
text-align: center;
height: 90px;
position: relative;
}

.boxnav_main .litnavmain li img {
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
margin: auto;
max-height: 50px;
}

.litnavmain span {
display: block;
position: absolute;
font-size: 11px;
font-weight: 600;
height: 18px;
overflow: hidden;
bottom: 0;
left: 0;
right: 0;
}

.litnavmain span {
display: block;
text-align: center;
font-size: 11px;
font-weight: 600;
height: 18px;
overflow: hidden;
}

.boxnav_main {
width: 100%;
float: left;
background: #f4f4f4;
}

.fixicon {
height: 76px;
margin: 0 auto;
margin-bottom: 10px;
}

.box-brand-home .bghtop {
background-position-y: -10px;
height: 35px;
background-size: 750px;
margin: -10px 0 20px;
}

section.box-brand-home {
clear: left;
width: 100%;
background: #eaeaea;
float: left;
padding: 20px 0;
}

.listbrand li {
float: left;
width: 33.33%;
text-align: center;
}

.listbrand li a {
display: block;
background: #fff;
margin: 5px;
padding: 5px;
}

.flexCol, .op .pp, .ttcol3 {
display: flex;
flex-direction: column;
}

.box-brand-home .bghbot {
background-position-y: -55px;
height: 20px;
background-size: 800px;
margin: 10px 0 0;
}

.box-ctgr-home h2 {
font-size: 14px;
padding: 10px 10px;
background: #dd0000;
}

.box-ctgr-home .fs-hotit {
display: inline-block;
text-transform: uppercase;
font-size: 16px;
color: #fff;
margin-bottom: 0;
}

.product-fs {
background: #fff;
width: 100%;
float: left;
}

.product-fs li.item {
float: left;
border-right: 1px solid #e7e7e7;
position: relative;
width: 50%;
border-bottom: 1px solid #e7e7e7;
}

.combo-icon, .present-box {
text-indent: -9999px;
margin: 0;
position: absolute;
}

.combo-icon {
background: url(images/combo-icon.png) 0 0/100px 55px no-repeat;
width: 99px;
height: 55px;
right: -34px;
top: 0;
margin-bottom: 0;
z-index: 9;
background-size: 75px;
}

.product-fs li.item .bx-it-pr {
padding: 0 10px;
height: 245px;
text-align: center;
}

.product-fs .bx-it-pr .responsive-img {
padding-top: 65%;
margin: 15px 0 5px;
}

.bx-it-pr a.prdBrand {
padding: 5px;
background: #dd0000;
color: #fff;
font-size: 11px;
text-align: center;
margin-bottom: 10px;
display: inline-block;
}

.bx-it-pr .nameprd {
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
height: 40px;
font-size: 14px;
font-weight: 600;
margin-bottom: 5px;
border-bottom: 1px solid #e7e7e7;
padding-bottom: 5px;
}

.bx-it-pr .bx-price-item {
height: 40px;
margin-bottom: 5px;
display: block;
}

.bx-it-pr .priceAll {
font-size: 16px;
font-weight: 700;
color: #ca0000;
}

.bx-it-pr .bx-price-item p {
margin-bottom: 0;
}

.bx-price-item .priceGiagoc {
text-decoration: line-through;
color: #cacaca;
font-size: 14px;
}

.quatang {
color: #5bc0de;
font-size: 13px;
}

.starItemPrd {
text-align: center;
margin-bottom: 5px;
}

.starItemPrd img {
width: 70px !important;
display: unset !important;
}

.product-fs li:nth-child(2n) {
border-right: 0;
}

section {
width: 100%;
float: left;
clear: left;
}

.title-bx-main {
padding: 10px 5px;
font-weight: 600;
text-transform: uppercase;
}

.tt.home-new {
padding: 5px !important;
}

.tt li {
width: 100%;
float: left;
padding: 10px 0;
border-top: 1px solid #ddd;
}

ul.home-new a {
width: 20% !important;
}

.tt li .ttimg {
float: left;
margin-right: 20px;
}

.tt li .ttimg img {
width: 100%;
}

.home-new h3 {
line-height: 1.1;
margin: 0 0 5px;
}

.tt li h3 a {
font: bold 14px/0 arial;
}

.tt li span, .other ul li span {
font: 12px/14px arial;
color: #666;
}

.tt li span:before, .views:before, .clock:before {
font: 13px/1px FontAwesome;
margin-right: 5px;
color: #1d537f;
}

.views:before, .tt li span:nth-child(2):before {
content: "\f06e";
}

.tagline {
padding: 10px 20px;
}

.slogan-mobile {
background: url(images/slogan.png) no-repeat center center;
width: 100%;
height: 50px;
background-size: 90%;
}

.manager {
text-align: center;
border-bottom: 1px solid #e5e5e5;
border-radius: 0;
padding: 0;
position: relative;
margin-bottom: 20px;
width: 100% !important;
}

p.vuson-group {
color: #fff;
background: #dd0000;
padding: 5px;
text-transform: uppercase;
font-weight: 700;
border-radius: 0;
text-align: center;
margin-left: 0;
margin-right: 0;
margin-bottom: 5px;
font-size: 16px;
font-family: tahoma;
}

.bepvuson-manager {
background: url(images/manager.jpg) no-repeat center center / 100px 100px;
width: 100px;
height: 100px;
border-radius: 100px;
position: absolute;
left: 0;
right: 0;
margin: auto;
}

.postvuson {
padding: 10px;
display: block;
text-align: left;
margin: 100px 0 0;
}

p.name-manager {
text-align: center;
font-style: italic;
font-weight: 600;
font-size: 14px;
}

.muahang {
width: 100%;
padding: 0 10px
}

.toptit {
margin-bottom: 0;
font: 16px/20px arial;
color: #1f70b3;
font-weight: 600;
text-align: center;
width: 100%
}

.toptit::before {
content: "\f095";
font: 14px/20px FontAwesome;
margin-right: 5px;
color: #1699cf;
vertical-align: top
}

.muahang p {
text-align: left;
font-size: 13px;
margin-top: 10px
}

.muahang p span {
display: inline-block;
width: 87px;
padding-bottom: 10px;
font-weight: 600
}

.muahang p b {
color: #dc0000;
font: bold 13px arial
}

.btnCollap, .btnCollap:hover, .btnCollap:focus {
text-align: center;
width: 100%;
display: block;
padding: 7px;
background: #dd0000;
color: #fff;
font-weight: 600;
margin-bottom: 5px;
}

.store-info {
color: #fff;
padding: 10px 5px;
border-bottom: 1px dashed;
margin-bottom: 10px;
text-align: center;
}

.shoroomBottom .fa {
margin-right: 5px;
}

.box-btn-collap {
background: #607D8B;
}

.name-showroom .fa {
margin-right: 10px;
}

.listfooter li a {
color: #fff;
padding: 2px 5px;
display: block;
}

ul.listfooter {
display: block;
}

.listfooter li {
width: 50%;
float: left;
}

ul.listfooter {
width: 100%;
display: block;
float: left;
padding: 10px 5px !important;
}

.brandtTopCategory .titless {
text-align: center;
font-size: 16px;
font-weight: 600;
text-transform: uppercase;
}

.brandtTopCategory {
padding: 20px 0;
background: #e7e7e7;
}

.findCtgr {
padding: 10px 0;
display: flex;
justify-content: center;
align-items: center;
background: #d5d5d5;
}

.prdCategory {
}

.findCtgr .btn {
border-radius: 0;
margin: 0 10px;
}

.findCtgr .open > .dropdown-menu {
display: block;
left: -30px;
}

.breadcrumb {
padding: 5px 0 !important;
background: #fff;
}

.breadcrumb .active {
color: #dd0000;
}

.BoxtitleTop {
padding: 0 0 10px;
margin-bottom: 20px;
border-bottom: 1px solid #dddddd;
}

.infoRightDetail .titleProduct {
font-size: 18px;
font-weight: 600;
}

/*Css star*/
.starRating:not(old) {
display: inline-block;
width: 7.5em;
height: 1.2em;
overflow: hidden;
vertical-align: bottom;
}

.starRating:not(old) > input {
margin-right: -100%;
opacity: 0;
}

.starRating:not(old) > label {
display: block;
float: right;
position: relative;
background: url('star-off.svg');
background-size: contain;
}

.starRating:not(old) > label:before {
content: '';
display: block;
width: 1.1em;
height: 1.1em;
background: url('star-on.svg');
background-size: contain;
opacity: 0;
transition: opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before {
opacity: 1;
}

span.starRating {
margin-top: 4px;
margin-left: -30px;
margin-bottom: 10px;
}

.BoxtitleTop {
padding: 0 0 10px;
margin-bottom: 10px;
border-bottom: 1px solid #dddddd;
}

.textsmallRank {
font-size: 11px;
margin: 4px 10px 0;
color: #337ab7;
}

.priceBox_prd {
}

.priceBox_prd .gianiemyet {
font-size: 22px;
margin-left: 20px;
color: #d90000;
font-weight: 700;
}

.priceBox_prd .giaonline {
margin-left: 20px;
font-size: 18px;
color: #c3c3c3;
font-weight: 700;
text-decoration: line-through;
}

.priceBox_prd table tr {
margin-bottom: 50px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
vertical-align: middle;
}

.priceBox_prd .table * {
border: none;
}

.area_order {
display: block;
overflow: hidden;
margin: 10px 0;
}

.area_order .buy_now {
float: left;
width: 50%;
overflow: hidden;
padding: 9px 0;
border-radius: 4px;
font-size: 16px;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
color: #fff;
text-align: center;
background: #dd0000;
background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#dd0000));
background: -webkit-linear-gradient(top,#f59000,#dd0000);
background: -moz-linear-gradient(top,#f59000,#fd6e1d);
background: -ms-linear-gradient(top,#f59000,#fd6e1d);
background: -o-linear-gradient(top,#f59000,#fd6e1d);
margin-bottom: 10px;
}

.area_order span {
display: block;
font-size: 12px;
color: #fff;
text-transform: none;
}

.area_order .phone_pd_btn {
line-height: normal;
float: right;
width: 49%;
padding: 9px 0;
text-align: center;
background: #06579e;
color: #fff;
border-radius: 4px;
font-size: 16px;
text-transform: uppercase;
font-weight: 600;
}

.hethongsieuthiGan ul li {
margin-bottom: 10px;
}

.hethongsieuthiGan label {
margin-bottom: 10px;
background: #d20000;
display: block;
padding: 5px;
color: #fff;
}

/*.giauudai_combo .udleft, .giauudai_combo .udright{
width: 50%;
float: left;
}*/
.giauudai_combo .udright {
padding-left: 20px;
}

.priceBox_prd label {
font-weight: 600;
}

.giauudai_combo .phone_register {
border-radius: 5px;
padding: 20px 20px 30px;
display: block;
width: 100%;
margin: 0 0 0px 0;
background: #fd6e1d;
background: -webkit-linear-gradient(to left, #fd6e1d, #288ad6);
background: linear-gradient(to left, #fd6e1d, #288ad6);
}

.giauudai_combo .phone_register span.phone_title {
font-size: 16px;
color: #fff;
text-align: center;
margin-bottom: 0px;
display: block;
}

.giauudai_combo .phone_register span.phone_summary {
margin: 10px 0;
display: block;
font-size: 20px;
text-align: center;
color: #fff;
font-weight: 700;
}

.giauudai_combo .phone_register span.phone_content {
margin: 10px 0;
display: block;
text-align: center;
color: #fff;
}

.box50 {
width: 50%;
float: left;
}

.boxQuangtang_prd .giatriquatang {
font-size: 11px
}

.boxQuadikem_prd .blue {
color: #288ad6;
}

.sanphamtangkem {
display: unset !important;
}

.boxQuadikem_prd p {
font-size: 12px;
margin-bottom: 5px;
}

.giauudai_combo {
width: 100%;
float: left;
margin-bottom: 10px;
}

.page_product_other .boxListPrd {
background: #fff;
margin-bottom: 20px;
padding: 20px;
}

.click_hd_btn, .click_hd_btn:hover {
width: 100%;
clear: left;
background: #5cb85c;
display: block;
text-align: center;
padding: 10px;
color: #fff;
font-weight: 600;
font-size: 18px;
border-radius: 5px;
}

.red {
color: red;
}

h1.titleProduct {
font-size: 18px;
margin-top: 10px;
}

h4.title {
font-weight: 600;
font-size: 16px;
padding: 5px;
background: #9a0000;
color: #fff
}

.media img {
max-width: unset
}

.list-muakem .media .title-cart {
color: #607D8B;
font-weight: 600
}

p.priceCart {
color: red;
font-weight: 600;
font-size: 15px;
margin-bottom: 0
}

p.price-old {
margin: 0;
font-size: 13px;
color: gray
}

p.price-old span {
text-decoration: line-through
}

.linehight20 {
line-height: 20px
}

span.total-price {
font-size: 16px;
font-weight: bold;
font-style: italic;
color: #ED1C24;
margin-left: 5px
}

p.total-muakem {
font-size: 14px;
background: #ececec;
padding: 5px
}

p.total-muakem {
font-size: 14px;
background: #ececec;
padding: 5px;
margin-top: 10px;
}

.list-muakem li {
border-bottom: 1px dashed #eee;
margin-top: 5px
}

.bx-muakem {
margin-top: 20px;
}

.boxThongso {
background: #fff;
margin-bottom: 20px;
}

.boxThongso .titleBoxContent {
padding: 10px;
background: #e7e7e7;
font-size: 16px;
color: #333;
font-weight: 600;
margin-bottom: 10px;
}

.note-blue {
background: #ff000033;
padding: 10px;
margin-bottom: 10px;
}

.expand.js-content {
overflow: hidden;
margin-bottom: 15px;
max-height: 65px;
}

.show-more {
margin-bottom: 12px;
margin-top: 5px;
color: #242424;
}

.expand.js-content {
overflow: hidden;
margin-bottom: 15px;
max-height: 65px
}

.show-more {
margin-bottom: 12px;
margin-top: 5px;
color: #242424
}

.show-more #js-show-more, .show-more .viewnext {
display: block;
color: #e02a26;
text-align: center;
width: 100%;
border: 1px solid #e02a26;
height: 39px;
line-height: 39px;
border-radius: 4px;
font-size: 13px;
font-weight: 400;
margin: 15px auto 10px
}

.article-content .js-content.expand + .show-more::before {
content: "";
height: 30px;
margin-top: -45px;
position: relative;
background: -webkit-gradient(linear,0% 100%,0% 0%,from(#fff),color-stop(0.5,#fff),to(rgba(255,255,255,0)));
display: block
}

form.form-coment, form.form-coment .form-group {
width: 100%;
float: left;
}

.bxDanhgiaPrd h3 {
margin-bottom: 10px;
}

.bxDanhgiaPrd .starRating:not(old) {
width: 7.5em;
height: 2.2em;
}

.bxDanhgiaPrd .starRating:not(old) {
width: auto;
margin-left: -20%;
}

.bxDanhgiaPrd .starRating:not(old) > label:before {
width: 2.1em;
height: 2.1em;
}

.telSuport {
font-size: 24px;
margin-top: 10px;
font-weight: 700;
color: #fd6e1d;
}

.bxDanhgiaPrd {
border: 1px solid #d4d4d4;
margin-bottom: 20px;
padding: 20px 0;
background: #f7f7f7;
}

/*Add css my cart dienmayxanh*/
.container_cart {
display: block;
width: 100%;
max-width: 600px;
margin: 20px auto;
;
}

.buymore {
float: left;
overflow: hidden;
position: relative;
line-height: 40px;
font-size: 14px;
color: #288ad6;
padding: 15px 0 0 15px;
}

.yourcart {
display: block;
overflow: hidden;
text-align: right;
color: #333;
line-height: 40px;
padding-top: 15px;
}

.wrap_cart {
display: block;
width: 100%;
max-width: 600px;
margin: auto;
background: #fff;
overflow: hidden;
box-shadow: 0 0 20px rgba(0,0,0,.15);
}

.listorder {
display: block;
overflow: visible;
background: #fff;
clear: both;
padding-top: 10px;
}

.shockprice {
background: #dd0000;
color: #fff;
}

.listorder li {
display: block;
overflow: visible;
border-top: 1px solid #ddd;
margin: 0px 20px 0px;
padding-top: 10px;
min-height: 70px;
clear: both;
}

.listorder li:first-child {
border: none;
padding-top: 0;
padding-top: 10px;
padding-bottom: 25px !important;
}

.listorder li.shockprice {
padding-bottom: 20px;
border-bottom: none;
}

.listorder li .colimg {
float: left;
overflow: hidden;
width: 20%;
text-align: center;
margin-right: 5px;
}

.shockprice a, .shockprice .promotions label {
color: #fff !important;
}

.listorder li a {
display: block;
overflow: hidden;
}

.listorder li img {
display: inline-block;
width: 75px;
height: auto;
margin: 5px 0 10px;
}

.listorder li .colinfo {
display: inline-block;
overflow: visible;
width: 78%;
padding-left: 5px;
}

.shockprice .price-color, .shockprice .normal-price, .shockprice .dis-price, .shockprice .lucky-price {
color: #def806 !important;
font-weight: bold;
}

.listorder li .colinfo strong {
font-weight: 600;
font-size: 16px;
color: #c10017;
float: right;
clear: both;
}

.listorder li .colinfo a {
display: inline-block;
font-size: 14px;
color: #333;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
text-overflow: ellipsis;
width: 62%;
}

.listorder li .colinfo > a {
font-weight: bold;
}

.onecolor {
float: left;
position: relative;
width: 48%;
background: #fff;
line-height: 12px;
font-size: 12px;
color: #999;
margin: 5px 0;
}

.shockprice .onecolor, .preorder .onecolor {
color: #fff;
background: none;
border: none;
padding: 0;
}

.shockprice .onecolor span, .preorder .onecolor span {
color: #fff;
}

.clr {
clear: both;
}

.div-bottom {
background-image: url(https://cdn.tgdd.vn/dmx2016/Content/images/campaign/shockprice/bottom.png);
background-color: #fff4de;
background-repeat: repeat-x;
background-position: bottom;
height: 3px;
background-size: 10px 3px;
margin-top: -10px;
}

.cart-content {
clear: both;
}

.area_total {
display: block;
overflow: hidden;
padding: 15px;
border-top: 1px solid #d8d8d8;
background: #fff;
}

.sp .area_total {
border-bottom: none;
}

.area_total div {
overflow: hidden;
font-size: 14px;
color: #333;
line-height: 24px;
position: relative;
}

.area_total div.total b {
float: left;
}

.area_total div.total strong {
float: right;
font-size: 16px;
color: #c10017;
}

.hduser {
text-transform: uppercase;
border-top: 6px solid #f0f0f0;
padding: 15px;
font-weight: 600;
}

.infouser {
overflow: hidden;
background: #fff;
padding: 0 15px;
}

.malefemale {
display: block;
overflow: hidden;
background: #fff;
}

.areainfo {
display: block;
overflow: hidden;
padding: 0 15px;
}

.areainfo .left {
float: left;
width: 49%;
margin-bottom: 5px;
}

.areainfo input[type="text"], .area_address input[type="text"] {
height: 40px;
border: 1px solid #a6a6a6;
border-radius: 4px;
margin: 10px 0;
padding: 0 10px;
width: 100%;
}

.areainfo textarea {
height: 100px;
padding: 10px;
border: 1px solid #a6a6a6;
border-radius: 4px;
margin: 10px 0;
width: 100%;
}

.texterror {
display: none;
font-size: 12px;
color: #dd4b39;
}

.areainfo .right {
float: right;
width: 49%;
margin-bottom: 5px;
}

.area_other {
position: relative;
display: block;
overflow: visible;
padding: 15px;
background: #fff;
border-top: 6px solid #f0f0f0;
}

.area_other .textnote {
display: block;
overflow: hidden;
margin-bottom: 10px;
}

.area_address {
overflow: visible;
margin-top: 15px;
position: relative;
margin-bottom: 10px;
}

.area_address:before, .area_address:after {
content: '';
position: absolute;
bottom: 100%;
left: 65px;
width: 0;
height: 0;
border-bottom: 10px solid #ccc;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}

.pdr {
padding-right: 2%;
}

.w50 {
display: inline-block;
width: calc(50% - 2px) !important;
margin-top: 5px;
vertical-align: top;
}

.firstaddress.cod .w50 {
display: inline-block;
}

.customer-prov select {
height: 40px;
}

.customer-prov {
margin-bottom: 10px;
}

.payoffline {
display: block;
float: left;
overflow: hidden;
width: 100%;
padding: 9px 0;
margin: 0;
border-radius: 4px;
font-size: 14px;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
color: #fff;
text-align: center;
background: #fd6e1d;
background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
background: -moz-linear-gradient(top,#f59000,#fd6e1d);
background: -ms-linear-gradient(top,#f59000,#fd6e1d);
background: -o-linear-gradient(top,#f59000,#fd6e1d);
margin-bottom: 10px;
}

.payoffline span, .choosepayment2 span {
display: block;
font-size: 12px;
color: #fff;
text-transform: none;
font-weight: 300;
}

.choosepayment2 {
display: block;
overflow: hidden;
padding: 9px 0;
border-radius: 4px;
font-size: 14px;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
color: #fff;
text-align: center;
background: #0e74c2;
background: -webkit-gradient(linear,0% 0%,0% 100%,from(#0e74c2),to(#288ad6));
background: -webkit-linear-gradient(top,#288ad6,#0e74c2);
background: -moz-linear-gradient(top,#288ad6,#0e74c2);
background: -ms-linear-gradient(top,#288ad6,#0e74c2);
background: -o-linear-gradient(top,#288ad6,#0e74c2);
cursor: pointer;
}

.choosepayment2 {
width: 100%;
padding: 9px;
margin: 0;
float: left;
}

.img-bank {
width: 15%;
display: inline-block;
vertical-align: top;
}

.cod-order {
width: 100%;
float: left;
padding: 10px;
}

.detail-bank {
width: 80%;
display: inline-block;
padding-left: 25px;
}

.detail-bank p {
margin-bottom: 5px;
}

ul.listBankATM {
height: 85px;
overflow-y: scroll;
}

.bxknhtopn_faq {
margin: 20px auto auto auto;
width: 100%;
display: table;
max-width: 100%;
}

.bxknhtopn_faq li .ulknh_1 li {
float: left;
margin-right: 10px;
width: 32.889%;
height: 328px;
overflow: hidden;
}

.bxknhtopn_faq li .ulknh_1 li a {
display: block;
position: relative;
overflow: hidden;
background: #e0dfdf;
}

.bxknhtopn_faq li .ulknh_1 .t_0 {
width: 100%;
height: 328px;
overflow: hidden;
}

.bxknhtopn_faq li .ulknh_1 .t_0 img {
width: auto;
height: 100%;
}

.bxknhtopn_faq li .ulknh_1 li a span {
position: absolute;
bottom: 0;
left: 0;
z-index: 1;
width: 100%;
height: 50%;
cursor: pointer;
background-image: -webkit-linear-gradient(180deg,rgba(255,255,255,0),#000);
background-image: -moz-linear-gradient(180deg,rgba(255,255,255,0),#000);
background-image: -o-linear-gradient(180deg,rgba(255,255,255,0),#000);
background-image: linear-gradient(180deg,rgba(255,255,255,0),#000);
background-image: linear-gradient(180deg,rgba(255,255,255,0),#000);
opacity: .7;
}

.bxknhtopn_faq li .ulknh_1 li a p {
display: table;
position: absolute;
bottom: 0;
z-index: 2;
width: 100%;
cursor: pointer;
}

.bxknhtopn_faq li .ulknh_1 li a p label {
display: table-cell;
vertical-align: middle;
text-align: left;
color: #fff;
font-weight: bold;
padding: 10px;
cursor: pointer;
}

.bxknhtopn_faq li .ulknh_1 .t_0 p label {
font-size: 16px;
line-height: 23px;
}

.bxknhtopn_faq li .ulknh_1 .t_1 {
width: 100%;
height: 159px;
}

.bxknhtopn_faq li .ulknh_1 .t_1 img {
width: 100%;
height: auto;
}

.bxknhtopn_faq li .ulknh_1 .t_2 {
width: 48.6%;
height: 159px;
margin-top: 10px;
float: left;
}

.bxknhtopn_faq li .ulknh_1 .t_2 img {
height: 100%;
width: auto;
}

.bxknhtopn_faq li .ulknh_1 .t_3 {
width: 48.6%;
height: 159px;
margin-top: 10px;
float: right;
}

.cod-order a:hover {
color: #fff;
}

.box-brand-home .bg_h {
background: url(images/hoavan-hang.png) no-repeat top center;
}

.box-brand-home .bghtop {
background-position-y: -10px;
height: 35px;
background-size: 750px;
margin: -10px 0 20px;
}

.box-brand-home .bghbot {
background-position-y: -55px;
height: 20px;
background-size: 800px;
margin: 0px 0 0;
}

.listCtgrBrand {
width: 100%;
float: left;
padding: 20px 0 !important;
}

.listCtgrBrand .item {
position: relative;
margin-bottom: 30px;
}

.listCtgrBrand .item .title {
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
color: #777777;
text-align: center;
}

.listCtgrBrand .item .titleBrandBox {
background: #fff;
padding: 10px;
}

.listCtgrBrand .item .icbrand_ctgr {
width: 90px;
margin-right: 10px;
}

.chuyenmucrv.ctgrNew {
width: 100%;
float: left;
}

.chuyenmucrv .title {
padding: 5px 5px;
border-left: 5px solid #dd0000;
margin-bottom: 10px;
text-align: unset
}

.chuyenmucrv h3 {
font-size: 15px;
font-weight: 600;
text-transform: capitalize;
position: relative;
width: auto;
}

#listowl .namenew {
font-size: 18px !important
}

.chuyenmucrv .title > h3::before {
content: "\f138";
position: absolute;
font: normal normal normal 14px/1 FontAwesome;
right: -25px;
font-size: 18px;
top: 2px;
color: #dd0000;
}

.chuyenmucrv > .title > h3 {
display: inline;
font-size: 18px;
}

.listNewCtgr li {
margin-bottom: 20px;
padding-bottom: 10px;
border-bottom: 1px solid #ececec
}

.listNewCtgr li .item {
display: flex
}

.listNewCtgr li .item .thumbimg {
width: 40%;
height: 90px
}

.listNewCtgr li .item .namenew {
width: 60%;
padding: 0 10px
}

.listNewCtgr li:first-child .item {
display: block
}

.listNewCtgr li:first-child .item .thumbimg {
width: 100%;
height: 200px
}

.listNewCtgr li:first-child .item .namenew {
width: 100%;
padding: 0 10px;
font-size: 16px;
margin-top: 15px;
}

.topicNews {
margin: 20px 0;
}

.topicNews a {
padding: 0 10px;
border: 1px solid #d02220;
border-radius: 3px;
float: left;
width: 48%;
margin: 0 0 10px 0;
text-align: center;
line-height: 35px;
height: 35px;
font-weight: bold;
overflow: hidden;
}

.topicNews a:nth-child(2n) {
float: right;
}

.topicNews .active {
background: #d02220;
color: #fff;
}

.thumbnail-news-view {
position: relative;
font-size: 14px;
overflow: hidden;
float: left;
width: 100%;
background: #fff;
margin: 20px 0 0;
}

.thumbnail-news-view h1 {
font-size: 19px;
font-weight: 500;
color: #313131;
border-bottom: 1px solid #ddd;
padding-bottom: 12px;
text-transform: uppercase;
}

.thumbnail-news-view h1 {
font-size: 18px;
font-weight: 600;
margin-bottom: 10px;
}

.block_timer_share {
padding: 10px 0 20px 0;
width: 100%;
overflow: hidden;
}

.block_timer_share {
padding: 0 0 10px 0;
color: #989898;
font-size: 13px;
}

.block_timer {
font-size: 14px;
font-weight: 400;
padding: 5px 0 0;
white-space: nowrap;
}

.block_share {
padding-right: 10px;
}

.block_share a {
width: 24px;
height: 22px;
display: block;
margin-right: 7px;
float: left;
text-align: center;
line-height: 22px;
background-color: #999999;
color: #fff;
text-decoration: none;
font-size: 11px;
}

.block_share .facebook {
background-color: #3B5A9A
}

.block_share .google {
background-color: #DF4B38
}

.block_share .twitter {
background-color: #29A9E1
}

.block_share .email {
background-color: #999999
}

.block_share .print {
background-color: #999999
}

.post_content {
word-wrap: break-word;
padding-bottom: 20px;
line-height: 25px;
}

.post_content {
margin-top: 0px;
border-top: 1px solid #e8e8e8;
padding-top: 20px;
}

.other-news-detail {
position: relative;
padding: 0;
margin-top: 10px;
float: left;
width: 100%;
}

.other-news-detail h2 {
font-size: 18px;
border-bottom: 1px solid #ccc;
font-weight: 600;
color: #333;
margin-bottom: 5px;
text-transform: uppercase;
position: relative;
padding-bottom: 5px;
line-height: 21px;
}

.other-news-detail ul li {
padding: 5px 0 5px 0;
display: block;
position: relative;
}

.other-news-detail ul li:before {
content: "";
position: absolute;
top: 11px;
left: 2px;
width: 4px;
height: 4px;
background: #ccc;
}

.other-news-detail ul li a {
color: #333;
text-decoration: none;
font-size: 14px;
display: block;
padding-left: 18px;
}

.wrap_cart_suscess {
background: #fff;
margin: 50px 0;
width: 100%;
float: left;
padding: 50px 20px;
}

.titleThank {
font-size: 20px;
font-weight: 600;
color: #5cb85c;
margin-bottom: 20px;
}

.thankyouText {
font-size: 14px;
}

.btnBackBuy, .btnBackBuy:hover {
background: #f59000;
color: #fff;
margin: 20px 0;
font-weight: 600;
text-transform: uppercase;
}

.myCart_listproduct {
margin: 20px 0;
background: #fff;
padding: 0;
}

.table-popcart .img {
width: 80px;
height: 65px;
text-align: center;
float: left;
overflow: hidden;
border: 1px solid #e5e5e5;
}

.table-popcart .name {
width: calc(100% - 80px);
float: left;
padding-left: 10px;
}

.table-popcart .name .name-product {
font-size: 16px;
color: #000;
display: block;
float: left;
}

thead.active th {
background: #dd0000;
color: #fff;
text-align: center;
}

/*add*/
.brand-home .swiper-slide {
text-align: center;
}

.brand-home .swiper-slide a {
display: block;
background: #fff;
margin: 5px;
height: 65px;
position: relative;
}

.brand-home .swiper-slide a img {
height: 40px;
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
margin: auto;
}

.box-ctgr-home .view-more {
float: right;
color: #ffffff;
}

.logo-text {
text-indent: -9999px;
position: absolute;
}

.slidemain {
position: relative;
}

.property-selected {
padding: 5px 0 15px 0;
background: #d5d5d5;
text-align: center;
}

.property-selected p {
padding: 5px 10px;
background: #f00;
color: #fff;
border-radius: 3px;
display: inline-block;
margin: 0 5px;
}

.pagination {
width: 100%;
text-align: center;
}

.pagination .loading {
background: #000;
opacity: 0.5;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
z-index: 9999;
display: none;
}

.pagination .loading .icon {
background: url(images/ajax-loader.gif) no-repeat center center / 50px 50px;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
width: 50px;
height: 50px;
text-indent: -9999px;
}

.pagination a {
display: inline-block;
width: 50%;
padding: 10px 0;
margin: 0;
border-radius: 4px;
font-size: 13px;
text-transform: uppercase;
color: #fff;
text-align: center;
background: #fd6e1d;
background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
background: -moz-linear-gradient(top,#f59000,#fd6e1d);
background: -ms-linear-gradient(top,#f59000,#fd6e1d);
background: -o-linear-gradient(top,#f59000,#fd6e1d);
margin-bottom: 10px;
}

.logo img {
width: 50%;
}

.present-box {
background: url(http://localhost:12347/Content/pc/images/present-box.gif) 0 0/ 40px 40px no-repeat;
width: 40px;
height: 40px;
right: 10px;
top: 10px;
margin-bottom: 0;
z-index: 9;
cursor: pointer;
}

.content-main h1 {
text-align: center;
font-size: 16px;
font-weight: 600;
text-transform: uppercase;
}

.owl-detail-prd {
position: relative;
}

iframe {
width: 100%;
box-sizing: border-box;
}

.bankBox {
display: none
}

.postInfo img, .post_content img {
width: 100% !important;
height: auto !important;
}

.postInfo p, .postInfo li, .postentry p, .postentry li, .post_content p, .post_content li {
line-height: 25px;
}

.postInfo a, .postentry a, .post_content a {
color: blue;
}

.postInfo a:hover, .postentry a:hover, .post_content a:hover {
text-decoration: underline;
}

.noteDescription h2, .postInfo h2, .postentry h2, .postentry h3, .postentry h4, .postentry h5, .postentry h6, .post_content h2, .post_content h3, .post_content h4, .post_content h5, .post_content h6 {
text-align: justify;
font-size: 15px;
font-weight: bold;
margin: 0 0 10px 0;
}

.media-left {
width: 25%;
}

.media-body {
width: 75%;
}

.brand-home {
position: relative;
}

#custom-search-input {
position: relative;
}

.resuiltSearch {
position: absolute;
z-index: 10;
top: 100%;
left: 0;
background: #fff;
border-top: 1px solid #eee;
padding: 10px 5px !important;
box-shadow: 0 10px 25px -10px #000;
width: 100%;
display: none;
}

.resuiltSearch .media-left {
float: left;
width: 25%;
}

.resuiltSearch .media-body {
float: left;
width: 75%;
}

.resuiltSearch li {
line-height: 22px
}

.resuiltSearch li.page {
border-bottom: 1px solid #ccc;
margin: 0 0 5px 0;
padding: 0 0 5px 0;
}

.resuiltSearch li.page a {
color: #607D8B;
font-weight: 700;
}

.resuiltSearch .name-prd {
font-weight: 600;
color: #607D8B;
}

.resuiltSearch .pri-item {
font-size: 14px;
color: #d32321;
font-weight: 600;
margin-bottom: 0;
}

.tg-tab-tdl {
display: table-cell;
width: 39.5%;
min-height: 400px
}

.tg-tab-tdr {
display: table-cell;
vertical-align: top;
width: 60.5%;
border: 1px solid #ddd;
padding: 30px 0 0 40px
}

.tg-tab-titl {
text-align: center;
color: #FFF;
font-size: 18px;
background: #c3281d;
display: block;
padding: 20px 0 25px
}

.tg-tabul {
padding: 25px 0 75px 15px;
background-color: #f2f2f2
}

.tg-tabul > li > a > p {
color: #34495e;
font-size: 14px;
position: relative;
padding: 12px 25px 12px 0;
line-height: 22px
}

.tg-tabul > li > a > p > span {
display: inline-block;
float: left;
margin: 0 10px;
color: #FFF;
padding: 1px 8px;
background: #34495e;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%
}

.tg-tab-itit, .tg-tab-ulsel, .tg-tabul > li.active > a > p {
color: #c3281d
}

.tg-tabul > li.active {
background: #FFF;
position: relative;
right: -1px
}

.tg-tabul > li.active > a > p > span {
background: #c3281d
}

.tab-content > .tab-tabul {
display: none
}

.tab-content > .tab-tabul.active {
display: block
}

.tg-tab-ulifo, .tg-tab-ulsel {
display: table-cell;
vertical-align: top
}

.tg-tab-scroll {
overflow: auto;
max-height: 400px
}

.tg-tab-itit {
font-size: 17px;
font-weight: 700;
padding-bottom: 11px
}

.tg-tabr-p {
margin-left: 30px
}

.tg-tabr-p li {
font-size: 14px;
padding: 7px 4px
}

.tg-tab-ulsel {
width: 80px;
font-size: 14px
}

.tg-tab-ulifo p {
margin-bottom: 5px;
padding-left: 14px
}

.tg-tab-tcc {
font-size: 14px;
display: inline-block;
margin-top: 2px
}

.tg-tabr-p p i.fa {
color: #c3281d;
font-size: 14px;
padding-right: 5px
}

button.close {
-webkit-appearance: none;
padding: 0;
cursor: pointer;
border: 0;
background: #fff;
opacity: 1;
border-radius: 100%;
width: 20px;
height: 20px;
top: -5px;
right: -5px;
position: absolute;
text-align: center;
font-size: 20px;
z-index: 999999
}

.close:focus, .close:hover {
color: #000;
text-decoration: none;
cursor: pointer;
background: #fff;
opacity: 1
}

.fix-modal .modal-footer {
padding: 15px;
text-align: right;
border-top: 0
}

.fix-modal .modal-header {
padding: 0;
border-bottom: 0
}

.title-trg {
text-align: center;
font-size: 24px;
font-weight: 700;
margin: 40px 0
}

.trg-tbnoti table tr td {
width: 20%
}

.trg-tbnoti table > tbody > tr > td, .trg-tbnoti table > tbody > tr > th, .trg-tbnoti table > tfoot > tr > td, .trg-tbnoti table > tfoot > tr > th, .trg-tbnoti table > thead > tr > td, .trg-tbnoti table > thead > tr > th {
vertical-align: top
}

.box-list-callshowroom {
border: 2px solid #ec0000;
padding: 40px 10px 10px;
position: relative;
margin: 10px 0
}

.box-list-callshowroom .title {
position: absolute;
background: #ec0000;
padding: 5px 10px;
color: #fff;
text-transform: uppercase;
font-weight: 600;
border-radius: 50px;
top: -15px;
left: 25%;
right: 25%;
text-align: center
}

.tableCallBuy {
display: block;
height: 290px;
overflow-y: scroll
}

.tableCallBuy tr td {
width: 50%;
padding: 0 10px
}

.tableCallBuy tr td:nth-child(2) {
font-size: 15px;
font-weight: 600;
padding-left: 20px
}

section.location-showroom {
}

.location-showroom .wrapper {
margin: 0 auto
}

.location-showroom h4 {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 0;
}

.box-item-order {
background: #fff;
color: #fff;
padding: 0 15px;
height: 350px;
overflow-y: scroll
}

.box-item-order .item-order {
position: relative;
padding: 8px 0;
margin: 0;
cursor: pointer;
font-family: tahoma
}

ul#locations li {
color: gray
}

ul#locations li:hover {
color: #db2724
}

/*.box-item-order .item-order:before {
content: '';
width: 12px;
height: 12px;
position: absolute;
left: 5px;
top: 15px;
margin-top: -5px;
border-radius: 50%;
z-index: 1;
background: #FFEB3B
}*/

/*.box-item-order .item-order:after, .box-item-order .item-order:nth-child(2n+1):after {
content: '';
width: 3px;
height: 100%;
left: 9px;
position: absolute;
display: block
}*/
.info-showroom {
text-align: center;
padding-top: 35px;
font-size: 15px
}

p.title-shr {
font-weight: 700;
font-size: 18px;
color: #d8241b
}

i.fa.fa-google {
color: #db2724
}

i.fa.fa-facebook-square {
color: #4267b2
}

.modal-body .info-showroom .fa {
margin-right: 5px
}

.item-order i.fa-map-marker {
margin: 0 5px 0 0;
}

.item-order i.fa-hand-o-right {
margin: 0 0 0 10px;
}

.check-map-location {
overflow: hidden;
}

.hethongsieuthiGan ul {
height: 250px;
overflow-y: scroll;
}
